<%= link_to collection, class: "link-reset" do %>

<% unless collection.photo.url.blank? %>
<div class="collection-preview has-img <%= 'has-description' unless collection.description.blank? %>" style="background-image:url(<%= collection.photo.url %>)">
<% else %>
<div class="collection-preview panel <%= 'has-description' unless collection.description.blank? %>">
<% end %>
  <div class="collection-preview-container text-center">
    <h2 class="collection-name"><%= collection.name %></h2>
    <% unless collection.description.blank? %>
    <p class="collection-description lead"><%= collection.description %></p>
    <% end %>
  </div>
</div>

<% end %>
