<%= form_for(@collection) do |f| %>
  <%= f.label :name, 'Collection name', class: 'label' %>
  <%= f.text_field :name, class: 'text-input', placeholder: 'Desserts', required: true %>

  <%= f.label :description, class: 'label dib' %>
  <small class="f5 grey-3 mls">(optional)</small>
  <%= f.hidden_field :description, 'data-behavior': 'composer_field' %>
  <%= composer_for :collection, :description %>

  <%= f.label :photo, class: 'label' %>
  <div class="flex-ns fac mbm">
    <div class="btn bg-white lh" role="button" data-behavior="photo_button">
      <%= f.file_field :photo, class: 'dn', 'data-behavior': 'photo_field' %>
      <span class="grey-2" data-behavior="description">
        <%= @collection.unimaged? ? 'Upload a photo' : 'Change photo' %>
      </span>
    </div>

    <%= link_to 'Open photo ↗', @collection.photo.url, target: '_blank', class: 'mlm grey-3 f5 lh' if @collection.imaged? %>
  </div>

  <footer class="modal__footer">
    <%= link_to t('general.delete'), @collection, method: :delete, data: { confirm: t('general.delete_collection_forever'), disable_with: 'Deleting…' }, class: 'btn bg-red', style: 'margin-right: auto' if @collection.persisted? %>
    <button
      class="btn bg-grey-3 mrs"
      data-behavior="modal_close">Cancel</button>
    <% if @collection.persisted? %>
      <%= f.submit 'Save', class: 'btn btn--primary bg-blue b' %>
    <% else %>
      <%= f.submit 'Create', class: 'btn btn--primary bg-green b' %>
    <% end %>
  </footer>
<% end %>
