<section class="modal tc" role="dialog" id="shareCollection">
  <%= modal_header 'Public sharing link' %>
  <p>You can send a public link to this collection to anyone in the world.</p>

  <p class="mbs">Share this link:</p>
  <section class="f5 mx-auto">
    <input value="<%= @shared_url %>" class="text-input dib" data-behavior="autoselect" readonly>
    <button type="button" class="btn bg-green btn-sm mls"
            data-clipboard-text="<%= @shared_url %>" data-behavior="copy">
      Copy
    </button>
  </section>

  <div class="mls social pvs">
    <a rel="nofollow" href="http://twitter.com/share?text=Check out <%= @collection.name %>, a collection on @noodlesapp:&url=<%= @shared_url %>" target="_blank">
      <%= social_icon 'twitter' %>
    </a>
    <a rel="nofollow" href="https://www.facebook.com/sharer/sharer.php?u=<%= @shared_url %>" class="mls" target="_blank">
      <%= social_icon 'facebook' %>
    </a>
    <a href="mailto:?subject=Check out <%= @collection.name %> on Noodles&body=You should check out <%= @collection.name %>, a new collection on Noodles (https://getnoodl.es). Here's the link: <%= @shared_url %>" class="mls">
      <%= social_icon 'email' %>
    </a>
  </div>
</section>
