<% activate_nav!(:collections) %>
<%- title "Collections" %>

<%= render "shared/nav" %>
<%= react_component("CollectionIndex", collections: @collections.as_json) %>

<div class="modal" id="newCollection">
  <%= modal_close %>
  <h2>Create a Collection</h2>
  <hr>
  <%= render "form" %>
</div>

<a href="#newCollection" class="btn-paper js-modal-trigger bg-orange fill-white circle fixed p2 shadow" id="newCollectionBtn">
  <%= inline_svg("add.svg") %>
</a>

<% if params[:new_collection] %>
  <!-- Stupid hack alert! -->
  <script type="text/javascript">
  $(function() {
    $("#newCollectionBtn").click();
  });
  </script>
<% end %>
