<% title 'Collections' %>
<% activate_nav!(:collections) %>

<%= render 'shared/nav' %>

<% if @collections.any? %>
  <%= react_component 'CollectionsHome', collections: @collections_json %>
<% else %>
  <%= react_component 'CollectionsHomeBlankSlate' %>
<% end %>

<section class="modal" id="new" role="dialog">
  <%= modal_header @collections.any? ? 'Make your next collection' : 'Make your first collection' %>
  <%= render 'form' %>
</section>

<% if params[:new_collection] %>
  <script>
  // Ugly hack, but…
  $(function() {
    $('a[href="#new"]').click()
  })
  </script>
<% end %>
