<% activate_nav!(:collections) %>
<%- title "Collections" %>

<%= render "shared/nav" %>
<%= react_component("CollectionIndex", collections: @collections.as_json) %>

<div class="modal" id="newCollection">
  <a class="modal-close float-right" href="#">
    <%= inline_svg("close.svg") %>
  </a>
  <h2>Create a Collection</h2>
  <hr>
  <%= render "form" %>
</div>

<a href="#newCollection" class="btn-paper modalTrigger">
  <%= inline_svg("add.svg") %>
</a>
