<% activate_nav!(:collections) %>
<%- title @collection.name %>

<% content_for :meta do -%>
  <% if @collection.img.url.present? %>
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="<%= @collection.photo.url %>"/>
    <meta name="twitter:image" content="<%= @collection.photo.url %>">
  <% else %>
    <meta name="twitter:card" content="summary">
  <% end %>
  <meta property="og:site_name" content="Noodles" />
  <meta property="og:url" content="<%= @shared_url %>">
  <meta property="og:title" content="<%= @collection.name %>">
  <meta name="twitter:title" content="<%= @collection.name %>">
  <% if @recipe.description.blank? %>
    <% @description = "Check out this collection published on Noodles by #{@collection.user.first_name}." %>
    <meta property="og:description" content="<%= @description %>">
    <meta property="twitter:description" content="<%= @description %>">
  <% else %>
    <meta property="og:description" content="<%= @collection.description %> — Published on Noodles">
    <meta name="twitter:description" content="<%= @collection.description %> — Published on Noodles">
    <meta name="description" content="<%= @collection.description %> — Published on Noodles">
  <% end %>
<% end -%>

<%= render 'shared/nav' %>

<%= react_component("CollectionPage", id: @collection.id, edit: false, pub: true) %>

<div class="modal" id="shareCollection">
  <%= modal_close %>
  <h2>Share Collection</h2>
  <hr>
  <% @shared_url = "http://www.getnoodl.es" + collection_share_path(:id => @collection.hash_id) %>
  <p>Love this collection? Share this URL: <%= link_to @shared_url %></p>
  <div class="social pvs">
    <a rel="nofollow" href="http://twitter.com/share?text=Check out the collection <%= @collection.name %> on @noodlesapp:&amp;url=<%= @shared_url %>" class="mrs" target="_blank">
      <%= twitter_icon %>
    </a>
    <a rel="nofollow" href="https://www.facebook.com/sharer/sharer.php?u=<%= @shared_url %>" class="mrs" target="_blank">
      <%= facebook_icon %>
    </a>
    <a rel="nofollow" href="https://buffer.com/add?url=<%= @shared_url %>&text=Check out the collection<%= @collection.name %>, published on Noodles. " class="mrs" target="_blank">
      <%= buffer_icon %>
    </a>
    <a rel="nofollow" href="https://plus.google.com/share?url=<%= @shared_url %>" class="mrs" target="_blank">
      <%= googleplus_icon %>
    </a>
    <a href="mailto:?subject=Check out <%= @collection.name %> on Noodles&body=Hey there! Check out <%= @collection.name %>, a collection of recipes on Noodles (http://www.getnoodl.es/). Here's the link: <%= @shared_url %>">
      <%= email_icon %>
    </a>
  </div>

</div>
