<% activate_nav!(:collections) %>
<%- title @collection.name %>

<%= render "shared/nav" %>
<%= react_component("CollectionHeader", show_edit: false, show_pub: true, collection: @collection.as_json) %>

<article class="sm-col-11 md-col-7 mx-auto">
  <% if @recipes.any? %>
    <%= react_component("RecipeList", recipes_path: "/c/" + @collection.hash_id.to_s + ".json", link_type: "public") %>
  <% else %>
  <div class="bg-white rounded shadow p2 col-6 mx-auto">
    There aren't any recipes in this collection. If you're the owner, add recipes by clicking "Add to Collection" at the bottom of any of your <%= link_to "recipes", recipes_path %>.
  </div>
  <% end %>
</article>

<div class="modal" id="shareCollection">
  <%= react_component("ModalClose") %>
  <h2>Share Collection</h2>
  <hr>
  <% @shared_url = "http://www.getnoodl.es" + collection_share_path(:id => @collection.hash_id) %>
  <p>Love this collection? Share this URL: <%= link_to @shared_url %></p>
  <div class="social py1">
    <a rel="nofollow" href="http://twitter.com/share?text=Check out the collection <%= @collection.name %> on @noodlesapp:&amp;url=<%= @shared_url %>" class="mr1" target="_blank">
      <%= twitter_icon %>
    </a>
    <a rel="nofollow" href="https://www.facebook.com/sharer/sharer.php?u=<%= @shared_url %>" class="mr1" target="_blank">
      <%= facebook_icon %>
    </a>
    <a rel="nofollow" href="https://bufferapp.com/add?url=<%= @shared_url %>&text=Check out the collection<%= @collection.name %>, published on Noodles. " class="mr1" target="_blank">
      <%= buffer_icon %>
    </a>
    <a rel="nofollow" href="https://plus.google.com/share?url=<%= @shared_url %>" class="mr1" target="_blank">
      <%= googleplus_icon %>
    </a>
    <a href="mailto:?subject=Check out <%= @collection.name %> on Noodles&body=Hey there! Check out <%= @collection.name %>, a collection of recipes on Noodles (http://www.getnoodl.es/). Here's the link: <%= @shared_url %>">
      <%= email_icon %>
    </a>
  </div>

</div>
