<% activate_nav!(:collections) %>
<%- title @collection.name.html_safe %>

<%= render 'shared/nav' %>

<%= react_component 'CollectionPage', id: @collection.id, edit: true, pub: false %>

<section class="modal" role="dialog" id="editCollection">
  <%= modal_header 'Edit Collection' %>
  <%= render 'form' %>
</section>

<%= render 'share' %>
