<% activate_nav!(:collections) %>
<%- title @collection.name %>

<%= render 'shared/nav' %>

<%= react_component 'CollectionPage',
  collection: @collection_json,
  edit: true,
  pub: false
%>

<section class="modal" role="dialog" id="edit">
  <%= modal_header 'Edit Collection' %>
  <%= render 'form' %>
</section>

<%= render 'shared/public', object: @collection %>
