<% activate_nav!(:collections) %>
<%- title @collection.name %>
<%= render "shared/nav" %>

<% if @collection.photo.url.blank? %>
<%= react_component("CollectionHeaderBlank", collection: @collection.as_json) %>
<% else %>
<%= react_component("CollectionHeaderImg", collection: @collection.as_json) %>
<% end %>

<article class="col-7">
  <% if @recipes.any? %>
    <%= react_component("RecipeList", headerText: "Recipes", recipes: @recipes.as_json) %>
  <% else %>
  <div class="bg-white rounded shadow p2 col-6 center">
    You don't have any recipes in this collection yet. Add some by clicking "Add to Collection" at the bottom of any of your <%= link_to "recipes", recipes_path %>.
  </div>
  <% end %>
</article>

<div class="modal" id="editCollection">
  <%= react_component("ModalClose") %>
  <h2>Edit Collection</h2>
  <hr>
  <%= form_for(@collection) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, class: "text-input", placeholder: "Spectacular Desserts" %>

    <%= f.label :description %>
    <%= f.text_area :description, class: "text-input", placeholder: "The best food to end your meal." %>

    <br>
    <%= f.label :photo, class: "ib" %><small class="ml1">(optional)</small>
    <%= f.file_field :photo, class: "line-height-reset" %>

    <%= f.submit "Save", class: "btn-blue float-right" %>
  <% end %>
</div>
