<% activate_nav!(:collection) %>
<%- title @collection.name %>

<%= render "shared/nav" %>
<%= react_component("CollectionHeader", showEdit: true, showPublisher: false, collection: @collection.as_json) %>

<article class="sm-col-11 md-col-7 mx-auto mt0">
  <% if @recipes.any? %>
    <%= react_component("RecipeList", recipes_path: "/collections/" + @collection.id.to_s + ".json", show_header: false, link_type: "normal") %>
  <% else %>
  <div class="bg-white rounded shadow p2 col-6 mx-auto">
    You don't have any recipes in this collection yet. Add some by clicking "Add to Collection" at the bottom of any of your <%= link_to "recipes", recipes_path %>.
  </div>
  <% end %>
</article>

<div class="modal" id="shareCollection">
  <%= react_component("ModalClose") %>
  <h2>Share Collection</h2>
  <hr>
  <% @shared_url = "http://www.getnoodl.es/c/" + @collection.hash_id.to_s %>
  <p>Share this link with anyone to show them your collection: <%= link_to @shared_url, @shared_url %></p>
  <div class="social py1">
    <a rel="nofollow" href="http://twitter.com/share?text=Check out the collection <%= @collection.name %> on @noodlesapp:&amp;url=<%= @shared_url %>" class="social-twitter" target="_blank">
      <%= inline_svg("social-twitter.svg") %>
    </a>
    <a rel="nofollow" href="https://www.facebook.com/sharer/sharer.php?u=<%= @shared_url %>" class="social-facebook" target="_blank">
      <%= inline_svg("social-facebook.svg") %>
    </a>
    <a rel="nofollow" href="https://bufferapp.com/add?url=<%= @shared_url %>&text=Check out the collection<%= @collection.name %>, published on Noodles. " class="social-buffer" target="_blank">
      <%= inline_svg("social-buffer.svg") %>
    </a>
    <a rel="nofollow" href="https://plus.google.com/share?url=<%= @shared_url %>" class="social-plus" target="_blank">
      <%= inline_svg("social-googleplus.svg") %>
    </a>
    <a href="mailto:?subject=Check out <%= @collection.name %> on Noodles&body=Hey there! I published a new collection on Noodles (http://www.getnoodl.es), <%= @collection.name %>. Check it out: <%= @shared_url %>" class="social-email">
      <%= inline_svg("mail.svg") %>
    </a>
  </div>

</div>

<div class="modal" id="editCollection">
  <%= react_component("ModalClose") %>
  <h2>Edit Collection</h2>
  <hr>
  <%= render "form" %>
</div>
