<% activate_nav!(:favorites) %>

<%= render 'shared/nav' %>

<div class="container col-8">

  <h1><%= t('general.favorites') %></h1>

  <h2><%= t('.no_favorites_yet') %></h2>

  <p><%= t('.favorites_are') %></p>
  <p><%= t('.to_add_favorites') %></p>
  <p>
    <%= link_to t('.back_to_r'), recipes_path, class: 'btn btn-primary' %>
  </p>

</div>
