<% activate_nav!(:help) %>

<%= render 'shared/nav' %>

<script async src="https://assets.helpful.io/assets/widget.js"></script>

<article class="col-6">

  <% if current_user %>

    <h1><%= t('general.help') %></h1>
    <h2><%= t('.need_help') %></h2>

    <p><%= t('.help_details') %></p>

    <a href="mailto:your-account@helpful.io" data-helpful="noodles-a737a789-bc32-4d41-afb7-b01d18044823" data-helpful-name="<%= current_user.first_name %>" data-helpful-email="<%= current_user.email %>" class="btn btn-primary">
      <%= t('general.contact_us') %>
    </a>

  <% else %>

    <h1><%= t('general.contact_us') %></h1>

    <p><%= t('.contact_us_details') %></p>

    <a href="mailto:your-account@helpful.io" data-helpful="noodles-a737a789-bc32-4d41-afb7-b01d18044823" class="btn btn-primary">
      <%= t('general.contact_us') %>
    </a>

  <% end %>

</article>
