<%= stylesheet_link_tag "editor" %>

<main class="container mt3">
<%= form_for(@announcement) do |f| %>

  <%= f.text_field :title, autofocus: true, required: true, class: "text-input invisible-input full-width h1 mb2", placeholder: "Title the announcement", autocomplete: "off" %>

  <%= f.hidden_field :author_id, value: "1" %>

  <%= f.text_area :body, class: "text-input invisible-input full-width", placeholder: "What do you have to say? (Markdown supported)", rows: "10", autocomplete: "off" %>

  <%= f.submit t("general.save"), class: "btn bg-grey-4 mb2" %>

<% end %>
</main>
