<%- title 'New Announcement' %>
<% activate_nav!(:announcements) %>

<%= render 'shared/nav' %>

<main class="md-col-8 phm mx-auto mw7 mtl">
<%= form_for(@announcement) do |f| %>

  <%= f.text_field :title, autofocus: true, required: true, class: 'text-input invisible-input col-12 f1 b mbm', placeholder: 'Title the announcement', autocomplete: 'off' %>

  <%= f.text_area :body, class: 'text-input invisible-input col-12', placeholder: 'What do you have to say?', rows: '10', autocomplete: 'off', 'data-behavior': 'autosize' %>

  <%= f.submit 'Post it!', class: 'btn bg-grey-4 mbm mx-auto mw5 col-12 db' %>

<% end %>
</main>
