<%- title @announcement.title %>
<% activate_nav!(:announcements) %>

<%= render 'shared/nav' %>

<article class="col-8">
  <div class="panel">
    <div class="m1">
      <h1 class="m0 text-dark"><%= @announcement.title %></h1>
      <p class="text-muted m0">
        <% if @announcement.author_id == 1 %>
          Lachlan Campbell
        <% else %>
          Taran Samarth
        <% end %>
        on <%= @announcement.created_at.strftime('%B %e, %Y') %>

        <% if @admin == true %>
          | <%= link_to 'Edit', edit_announcement_path(@announcement) %>
          | <%= link_to 'Delete', @announcement, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </p>

      <%= @announcement.body_rendered.html_safe %>

      <hr>

      <% if @announcement.author_id == 1 %>
        <%= render 'shared/bio_lachlan' %>
      <% else %>
        <%= render 'shared/bio_taran' %>
      <% end %>
    </div>
  </div>
</article>
