<% @title = @announcement.title.to_s.html_safe %>
<% title @title %>
<% activate_nav!(:announcements) %>

<% content_for :meta do -%>
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary">
  <meta property="og:site_name" content="Noodles">
  <meta name="twitter:site" content="@noodlesapp">
  <meta property="og:url" content="<%= announcement_path(@announcement) %>">
  <meta property="og:title" content="<%= @title %>">
  <meta name="twitter:title" content="<%= @title %>">
  <meta property="og:description" content="Check out this update to Noodles, a simple app to keep, cook, and share all your recipes.">
  <meta name="twitter:description" content="Check out this update to Noodles, a simple app to keep, cook, and share all your recipes.">
<% end -%>

<%= render 'shared/nav' %>

<article class="document mw7 pal-ns">
  <h1 class="man f2 f1-ns tc">
    <%= @announcement.title %>
  </h1>
  <p class="grey-3 tc mbl">
    <%= @announcement.created_at.strftime '%B %e, %Y' %>
    <%= link_to 'Delete', @announcement, method: :delete, data: { confirm: 'Are you sure?' }, class: 'red b dib mls' if @admin %>
  </p>
  <section class="content">
    <%= @announcement.body_rendered.html_safe %>
  </section>
</article>

<hr class="col-12 mbn">

<footer class="md-col-8 mw7 mx-auto phm pvl pvxl-ns">
  <h3 class="caps regular grey-1 mtn mbm">Similar</h3>
  <ul class="phn man list-reset">
    <% @recents.each do |recent| %>
      <li class="mbs grey-2">
        <%= link_to "#{recent.title} ›", announcement_path(recent), class: 'link-reset', title: recent.title %>
      </li>
    <% end %>
  </ul>
</footer>
