<% options = options || {} %>
<% opts = { url: user_registration_path(user), autocomplete: 'on', html: { name: 'reg' } } %>
<%= form_for(user, {}.merge(options).merge(opts)) do |f| %>
  <% if text %>
    <p data-behavior="hide_on_inline_submit"><%= text %></p>
  <% end %>

  <%= devise_error_messages!(user) %>

  <%= f.label :first_name, t('devise.registrations.new.first_name') %>
  <%= f.text_field :first_name, class: 'text-input', id: 'fname', autofocus: true %>

  <%= f.label :email, t('devise.registrations.new.email_check') %>
  <%= f.email_field :email, class: 'text-input', required: true, autocomplete: 'email' %>

  <%= f.label :password, class: 'dib' %> <small><%= t('devise.registrations.new.eight_char') %></small>
  <%= f.password_field :password, class: 'text-input', required: true, id: 'new-password', pattern: '.{8,}' %>

  <%= f.hidden_field :want_newsletter, value: true %>

  <%= f.submit t('general.sign_up'), class: 'btn bg-orange mtm' %>

  <small class="db mtm grey-3">
    By signing up for and using Noodles you are agreeing to our <%= link_to 'Terms', :terms %> and <%= link_to 'Privacy Policy', :privacy %>.
  </small>
<% end %>
