<% options ||= {} %>
<% options = {
  url: user_registration_path(user),
  autocomplete: 'on',
  html: { name: 'reg' }.reverse_merge(options)
} %>

<%= form_for(user, options) do |f| %>
  <%= content_tag :p, text, 'data-behavior': 'hide_on_inline_submit' if defined? text %>

  <%= devise_error_messages!(user) %>

  <%= f.label :first_name, t('devise.registrations.new.first_name'), class: 'label' %>
  <%= f.text_field :first_name, autofocus: true, placeholder: 'Carbonara', class: 'text-input' %>

  <%= f.label :email, 'Your email address', class: 'label' %>
  <%= f.email_field :email, required: true, autocomplete: 'email', placeholder: 'carbonara@icloud.com', class: 'text-input' %>

  <%= f.label :password, 'Pick a password', class: 'label' %>
  <%= f.password_field :password, required: true, pattern: '.{8,}', placeholder: '8 characters recommended', class: 'text-input' %>

  <%= f.hidden_field :want_newsletter, value: true %>

  <%= f.submit t('general.sign_up'), class: 'btn btn--primary bg-orange mtm b form__submit' %>

  <p class="f5 mtm mbn grey-3">
    You’re agreeing to the <%= link_to 'terms', terms_path %> and <%= link_to 'privacy policy', privacy_path %>.
  </p>
<% end %>
