<%= render 'shared/nav' %>

<%= render 'layouts/flash' %>

<div class="page container col-md-8 col-md-offset-2 print-full-width">

    <div class="row">
      <h1 class="page-title"><%= t('.account_settings') %></h1>
    </div>

    <div class="row">
      <h1><%= t('.info_and_pass') %></h1>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

      <%= devise_error_messages! %>

      <div class="row">
        <%= f.label t('devise.registrations.new.first_name') %>
        <%= f.text_field :f_n, placeholder: 'Mr. Noodles', class: 'form-control', id: 'name-full', required: true %>
      </div>

      <div class="row">
        <%= f.label t('devise.registrations.new.email_check') %>
        <%= f.email_field :email, placeholder: 'me@getnoodl.es', class: 'form-control' %>
      </div>

      <div class="row">
        <%= f.label t('.current_pass') %>
        <%= f.password_field :current_password, autocomplete: 'off', class: 'form-control' %>
      </div>

      <div class="row">
        <%= f.label :password %> <i><%= t('.can_leave_blank') %></i><br />
        <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
      </div>

      <div class="row">
        <%= f.submit t('general.update'), class: 'btn btn-default' %>
      </div>

    <% end %>

    <div class="row">
      <hr>
    </div>

    <div class="row">
      <h1><%= t('.need_help') %></h1>
      <p><%= t('.unhappy_want_support') %></p>
      <p>
        <a href="#" class="btn btn-default" data-helpful="noodles" data-helpful-email="<%= current_user.email %>"><%= t('shared.footer.get_help') %></a>
      </p>
    </div>

    <div class="row">
      <h2><%= t('.delete_account') %></h2>
      <p><%= t('.want_account_gone') %></p>
      <%= button_to t('.delete_my_account'), registration_path(resource_name), class: 'btn btn-sm btn-danger', data: { confirm: "Are you sure you want to erase your account? Once deleted you cannot restore it." }, method: :delete %>
    </div>

    <div class="row">
      <%= render 'shared/printer' %>
    </div>

  </div>

</div>

<div class="container col-md-8 col-md-offset-2 footer">
  <%= render 'shared/footer' %>
</div>

<br>
