<%= render 'shared/nav' %>

<div class="container">

  <div class="col-md-8 col-md-offset-2">

    <div class="row">
      <h1 class="page-title"><%= t('.account_settings') %></h1>
    </div>

    <div class="row">
      <h1><%= t('.email_and_pass') %></h1>
    </div>

    <div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="row">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>

        <div class="row">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>

        <div class="row">
          <%= f.submit "Update", class: 'btn btn-default' %>
        </div>
      <% end %>

    </div>

    <div class="row">
      <hr>
    </div>

    <script async src="https://assets.helpful.io/assets/widget.js"></script>

    <div class="row">
      <h1><%= t('.need_help') %></h1>
      <p><%= t('.unhappy_want_support') %></p>
      <p>
        <a href="#" class="btn btn-default" data-helpful="noodles" data-helpful-email="<%= @user.email %>"><%= t('.get_support') %></a>
      </p>
    </div>

    <div class="row">
      <h2><%= t('.delete_account') %></h2>
      <p><%= t('.want_account_gone') %></p>
      <%= button_to t('.delete_my_account'), registration_path(resource_name), class: 'btn btn-sm btn-danger', data: { confirm: "Are you sure you want to erase your account? Once deleted you cannot restore it." }, method: :delete %>
    </div>

    <div class="row">
      <hr>
    </div>

    <div class="row">
      <%= link_to t('.back_to_noodles'), :home, class: 'btn btn-primary' %>
    </div>

  </div>

</div>
