<% activate_nav!(:sign_up) %>

<%= render 'shared/nav' %>

<%= render 'layouts/flash' %>

<div class="page container col-md-6 col-md-offset-3">

  <div class="row">

    <h1 class="page-title"><%= t('.welcome') %></h1>
    <p><%= t('.sign_up_and') %></p>

  </div>

  <%= form_for @user, url: registration_path(resource_name), html: {name: 'reg'} do |f| %>

    <div class="row">
      <%= devise_error_messages! %>
    </div>

    <div class="row">

      <%= f.label t('.first_name') %>
      <%= f.text_field :name, class: 'form-control', id: 'name-full', autofocus: true, required: true %>

      <%= f.label t('.email_check') %>
      <%= f.email_field :email, class: 'form-control', required: true, id: 'email' %>

      <%= f.label :password %>  <i><%= t('.eight_char') %></i>
      <%= f.password_field :password, class: 'form-control', required: true, id: 'new-password', pattern: '.{8,}' %>

    </div>

    <div class="row">

      <%= f.submit t('general.sign_up'), class: 'btn btn-primary' %>

    </div>

  <% end %>

</div>

<div class="container col-md-6 col-md-offset-3 footer">
  <%= render 'shared/footer' %>
</div>
