<% activate_nav!(:sign_up) %>

<%= render 'shared/nav' %>

<article class="col-6">

  <h1><%= t('.welcome') %></h1>
  <p><%= t('.sign_up_and') %></p>

  <%= form_for @user, url: registration_path(resource_name), html: {name: 'reg'} do |f| %>

    <%= devise_error_messages! %>

    <%= f.label t('.first_name') %>
    <%= f.text_field :first_name, class: 'text-input', name: 'fname', autofocus: true %>

    <%= f.label t('.email_check') %>
    <%= f.email_field :email, class: 'text-input', name: 'email', autocomplete: 'email', required: true %>

    <%= f.label :password, class: 'ib' %> <small><%= t('.eight_char') %></small>
    <%= f.password_field :password, class: 'text-input', required: true, id: 'new-password', pattern: '.{8,}' %>

    <%= f.submit t('general.sign_up'), class: 'btn' %>

    <small>By signing up for Noodles you are agreeing to our <%= link_to 'Terms of Service', :terms %> and <%= link_to 'Privacy Policy', :privacy %>.</small>

  <% end %>

</article>
