<%- title "Welcome" %>
<% activate_nav!(:onboarding) %>

<%= render "shared/nav" %>

<article class="document sm-col-11 md-col-4">
  <h2 class="m0">Hey <%= current_user.first_name %>! Let's get cooking.</h2>
  <hr>
  <p>First, add a recipe. Click the big "+" button in the corner, or add a recipe from the web using the "link" button.</p>
</article>

<%= render "recipes/import" %>

<a class="has-tooltip btn-paper-mini" id="importModalTrigger" name="importModal" href="#importModal" data-tooltip="Import from a link">
  <%= inline_svg("import.svg") %>
</a>

<%= link_to :new_recipe, class: "has-tooltip btn-paper", data: { tooltip: "Add a new recipe"} do %>
<%= inline_svg("add.svg") %>
<% end %>
