<% activate_nav!(:onboarding) %>
<%- title 'Getting started' %>

<%= render 'shared/nav' %>

<article class="document mw7">
  <h2 class="normal mtn mbm">
    <% if user_signed_in? %>
      Hey <strong class="b"><%= current_user.first_name %></strong>, thanks for signing up 😊
    <% else %>
      Let's get cooking!
    <% end %>
  </h2>
  <hr>
  <p class="mbl-ns">
    First you'll need some recipes! Adding recipes to Noodles is super easy &mdash; here are three ways.
  </p>
  <ol class="list-reset mtm mbn">
    <li class="mbm mbl-ns flex fac">
      <%= link_to explore_path, class: 'flex fac fjc fsn icon bg-orange circle shadow mrm lh0 link-reset' do %>
        <%= inline_svg 'explore.svg', class: 'fill-white' %>
      <% end %>
      <description class="dib">
        <h3 class="mvn lh">Explore</h3>
        Find and clip great new recipes on the web straight from Noodles.
        You'll find Explore in the menu bar, above.
        <%= link_to '→ Start here!', explore_path, class: 'db blue' %>
      </description>
    </li>
    <li class="mbm mbl-ns flex fac">
      <a class="flex fac fjc fsn icon bg-orange circle shadow mrm lh0 link-reset" href="#clipper" data-behavior="modal_trigger">
        <%= inline_svg 'clip.svg', class: 'fill-white' %>
      </a>
      <description class="dib">
        <h3 class="mvn lh">Clip</h3>
        Save a recipe just by pasting in the URL.
        It's in the lower right corner.
      </description>
    </li>
    <li class="mbm flex fac">
      <%= link_to new_recipe_path, class: 'flex fac fjc fsn icon bg-orange circle shadow mrm lh0 link-reset' do %>
        <%= inline_svg 'add.svg', class: 'fill-white' %>
      <% end %>
      <description class="dib">
        <h3 class="mvn lh">Write</h3>
        Type a recipe or paste in the text yourself.
        Next to Clip, in the corner.
      </description>
    </li>
  </ol>
</article>

<%= render 'recipes/new' %>
