<%- title "Welcome" %>
<% activate_nav!(:onboarding) %>

<%= render "shared/nav" %>

<article class="document p2 sm-col-11 md-col-4">
  <h2 class="m0">Hey <%= current_user.first_name %>! Let's get cooking.</h2>
  <hr>
  <p class="mb0">
    First, let's add a recipe. Click the orange
    <span class="ml0 inline-block px1 white bg-orange circle shadow">+</span>
    button in the corner to write one, or import a recipe from the web using the "link" button.
  </p>
</article>

<%= render "recipes/import" %>

<a class="has-tooltip btn-paper-mini js-modal-trigger bg-orange fill-white circle fixed p1 shadow" name="importModal" href="#importModal" data-tooltip="Import from a link">
  <%= inline_svg("import.svg") %>
</a>

<%= link_to new_recipe_path, class: "has-tooltip btn-paper bg-orange fill-white circle fixed p2 shadow", data: { tooltip: "Add a new recipe"} do %>
<%= inline_svg("add.svg") %>
<% end %>
