<%- title "Getting started" %>
<% activate_nav!(:onboarding) %>

<%= render "shared/nav" %>

<article class="document pal sm-col-11 md-col-8">
  <h2 class="m0">
    <%= "Hey #{current_user.first_name}!" if user_signed_in? %>
    Let's get cooking.
  </h2>
  <hr>
  <p>Adding recipes to Noodles is super easy — use the buttons in the corner.</p>
  <ol class="list-reset">
    <li class="pvs mt1">
      <div class="pas circle shadow bg-orange white mr2 left dib">
        <%= link_to "+", new_recipe_path, class: "dib link-reset center h3 lh0 bold", style: "width: 24px;" %>
      </div>
      <div class="dib" style="padding-top: 5px;">
        Type up a recipe or paste in the text yourself.
      </div>
    </li>
    <li class="pvs mt1">
      <span class="dib pas fill-white bg-orange circle shadow mr2 lh0 left">
        <%= inline_svg 'clip.svg' %>
      </span>
      <div class="dib" style="padding-top: 5px;">
        Paste in the URL to a recipe to save it.
      </div>
    </li>
  </ol>
</article>

<%= render "recipes/clipper" %>

<a class="btn-paper-mini bg-orange fill-white circle fixed pas shadow" name="clipModal" href="#clipper" data-behavior="modal_trigger">
  <%= inline_svg 'clip.svg' %>
</a>

<%= link_to new_recipe_path, class: "has-tooltip btn-paper bg-orange fill-white circle fixed pam shadow", data: { tooltip: "Add a new recipe"} do %>
  <%= inline_svg 'add.svg' %>
<% end %>
