<% activate_nav!(:subscribe) %>
<% title 'Subscribe' %>

<% content_for(:bg_img) { image_path "subscribe.jpg" } %>
<%= render 'shared/nav' %>

<main class="document rounded bw0 mw6">
  <%= section_header 'Subscribe', 1, class: 'mtn mbm grey-2 f2 caps tc' %>
  <%= react_component 'Subscribe' %>
  <%= react_component 'DonateLink' %>
  <hr class="mtl-ns" />
  <p class="tc"><strong>Have any questions?</strong> I'm here to help –</p>
  <%= react_component 'HelpButtons' %>
</main>
