<% activate_nav!(:analytics_collections) %>

<%= render "shared/analytics_nav" %>

<article class="sm-col-11 md-col-6 mx-auto">

  <h1 class="orange">Collections <span class="badge"><%= @collections.count %></span></h1>

  <% @collections.each do |collection| %>
    <div class="bg-white rounded shadow p2 mb2">
      <h2 class="mt0"><%= collection.name %><span class="grey-3 h3 ml1">#<%= collection.id %></span></h2>
      <% if User.exists?(collection.user) %>
      <p class="mb2">Published by <%= User.find(collection.user).first_name.to_s %></p>
      <% end %>
      <%= link_to "View", "/c/" + collection.hash_id.to_s, class: "btn-blue btn-sm mr2" %>
      <%= link_to "Delete", collection, method: :delete, data: { confirm: t("general.delete_forever") }, class: "btn-red btn-sm" %>
    </div>
  <% end %>

</article>
