<% activate_nav!(:analytics_dash) %>
<% title 'Dashboard' %>
<%= render 'shared/analytics_nav' %>

<main class="flex-grid mw7 mx-auto phm bx">
  <section class="flex-grid__item card">
    <h1 class="mvn grey-1 sans fwn"><%= @users_count %></h1>
    <p class="grey-3 mbn">users</p>
  </section>

  <section class="flex-grid__item card">
    <h1 class="mvn green sans fwn">+<%= @users_week.count %></h1>
    <p class="grey-3 mbn">
      new users this week
    </p>
  </section>

  <section class="flex-grid__item card">
    <h1 class="mvn grey-1 sans fwn"><%= @users_active.count %></h1>
    <p class="grey-3 mbn">
      users seen this week
      (<%= (@users_active.count / @users_count).round %>%)
    </p>
  </section>

  <section class="flex-grid__item card">
    <h1 class="mvn grey-1 sans fwn"><%= Recipe.all.count %></h1>
    <p class="grey-3 mbn">recipes</p>
  </section>

  <section class="flex-grid__item card">
    <h1 class="mvn grey-1 sans fwn"><%= @users_none.count %></h1>
    <p class="grey-3 mbn">
      have no recipes
      (<%= (@users_none.count / @users_count).round %>%)
    </p>
  </section>

  <section class="flex-grid__item card">
    <h1 class="mvn grey-1 sans fwn"><%= @users_many.count %></h1>
    <p class="grey-3 mbn">
      have many recipes
      (<%= (@users_many.count / @users_count).round %>%)
    </p>
  </section>

  <section class="flex-grid__item card">
    <h1 class="mvn grey-1 sans fwn"><%= Collection.all.count %></h1>
    <p class="grey-3 mbn">collections</p>
  </section>
</main>
