<% activate_nav!(:analytics_dash) %>

<%= render 'shared/analytics_nav' %>

<article class="col-6">

  <section class="flex flex-between">
    <div class="panel ib col-2">
      <h1 class="m0"><%= @users.count %></h1>
      <h3 class="m0">users</h3>
    </div>

    <div class="panel ib col-2">
      <h1 class="m0"><%= @recipes_count %></h1>
      <h3 class="m0">recipes</h3>
    </div>

    <div class="panel ib col-2">
      <h1 class="m0"><%= @recipes_shared_count %></h1>
      <h3 class="m0">shared recipes</h3>
    </div>
  </section>

  <section class="flex flex-between">
    <div class="panel ib col-2">
      <h1 class="m0"><%= @users_with_none_count %></h1>
      <h3 class="m0">users have no recipes</h3>
    </div>

    <div class="panel ib col-2">
      <h1 class="m0"><%= @users_with_one_count %></h1>
      <h3 class="m0">users have 1 recipe</h3>
    </div>

    <div class="panel ib col-2">
      <h1 class="m0"><%= @users_with_many_count %></h1>
      <h3 class="m0">users have several recipes</h3>
    </div>
  </section>

</div>
