<% activate_nav!(:analytics_dash) %>

<%= render "shared/analytics_nav" %>

<article class="container col-6">

  <div class="bg-white rounded shadow py1 px2 m2">
    <h1 class="m0 mega"><%= @users_count %></h1>
    <p class="lead">users</p>
  </div>

  <div class="bg-white rounded shadow py1 px2 m2">
    <h1 class="m0 mega"><%= @recipes_count %></h1>
    <p class="lead">recipes</p>
  </div>

  <div class="bg-white rounded shadow py1 px2 m2">
    <h1 class="m0 mega"><%= @recipes_shared_count %></h1>
    <p class="lead">shared recipes</p>
  </div>

  <div class="bg-white rounded shadow py1 px2 m2">
    <h1 class="m0 mega"><%= @users_with_none.length %></h1>
    <p class="lead">users have no recipes</p>
  </div>

  <div class="bg-white rounded shadow py1 px2 m2">
    <h1 class="m0 mega"><%= @users_with_one.length %></h1>
    <p class="lead">users have 1 recipe</p>
  </div>

  <div class="bg-white rounded shadow py1 px2 m2">
    <h1 class="m0 mega"><%= @users_with_many.length %></h1>
    <p class="lead">users have several recipes</p>
  </div>

</div>
