<% activate_nav!(:analytics_dash) %>
<%- title 'Analytics Dashboard' %>
<%= render 'shared/analytics_nav' %>

<main class="mx-auto flex fjc flex-rows mw7">
  <section class="mas bg-white shadow pam pal-ns rounded" style="width: 13rem;">
    <h1 class="man orange"><%= @users_count %></h1>
    <p class="grey-3 mbn">users</p>
  </section>

  <section class="mas bg-white shadow pam pal-ns rounded" style="width: 13rem;">
    <h1 class="man orange"><%= Recipe.all.count %></h1>
    <p class="grey-3 mbn">recipes</p>
  </section>

  <section class="mas bg-white shadow pam pal-ns rounded" style="width: 13rem;">
    <h1 class="man orange"><%= Collection.all.count %></h1>
    <p class="grey-3 mbn">collections</p>
  </section>

  <section class="mas bg-white shadow pam pal-ns rounded" style="width: 13rem;">
    <h1 class="man orange"><%= @users_none.count %></h1>
    <p class="grey-3 mbn">
      users have no recipes
      (<%= number_with_precision(@users_none.count / @users_count, precision: 2) %>%)
    </p>
  </section>

  <section class="mas bg-white shadow pam pal-ns rounded" style="width: 13rem;">
    <h1 class="man orange"><%= @users_one.count %></h1>
    <p class="grey-3 mbn">
      users have 1 recipes
      (<%= number_with_precision(@users_one.count / @users_count, precision: 2) %>%)
    </p>
  </section>

  <section class="mas bg-white shadow pam pal-ns rounded" style="width: 13rem;">
    <h1 class="man orange"><%= @users_many.count %></h1>
    <p class="grey-3 mbn">
      users have several recipes
      (<%= number_with_precision(@users_many.count / @users_count, precision: 2) %>%)
    </p>
  </section>
</main>
