<% activate_nav!(:analytics_dash) %>
<% title 'Dashboard' %>
<%= render 'shared/analytics_nav' %>

<main class="flex-grid mw7 mx-auto phm bx">
  <section class="flex-grid__item card">
    <h1 class="mvn orange sans fwn"><%= @users %></h1>
    <p class="grey-3 mbn">users</p>
  </section>

  <section class="flex-grid__item card">
    <h1 class="mvn green sans fwn">+<%= @users_week %></h1>
    <p class="grey-3 mbn">
      new users this week
    </p>
  </section>

  <section class="flex-grid__item card">
    <h1 class="mvn grey-1 sans fwn"><%= @users_active %></h1>
    <p class="grey-3 mbn">
      seen this week
      (<%= number_to_percentage (@users_active / @users) * 100, precision: 0 %>)
    </p>
  </section>

  <section class="flex-grid__item card">
    <h1 class="mvn orange sans fwn"><%= @subscribers %></h1>
    <p class="grey-3 mbn">
      subscribers
    </p>
  </section>

  <section class="flex-grid__item card">
    <h1 class="mvn green sans fwn">+<%= @subscribers_week %></h1>
    <p class="grey-3 mbn">
      subscribers new this week
    </p>
  </section>

  <section class="flex-grid__item card">
    <h1 class="mvn grey-1 sans fwn"><%= Recipe.all.count %></h1>
    <p class="grey-3 mbn">recipes</p>
  </section>

  <section class="flex-grid__item card">
    <h1 class="mvn grey-1 sans fwn"><%= @users_none %></h1>
    <p class="grey-3 mbn">
      have no recipes
      (<%= number_to_percentage (@users_none / @users) * 100, precision: 0 %>)
    </p>
  </section>

  <section class="flex-grid__item card">
    <h1 class="mvn grey-1 sans fwn"><%= @users_many %></h1>
    <p class="grey-3 mbn">
      users have many recipes
      (<%= number_to_percentage (@users_many / @users) * 100, precision: 0 %>)
    </p>
  </section>

  <section class="flex-grid__item card">
    <h1 class="mvn grey-1 sans fwn"><%= Collection.all.count %></h1>
    <p class="grey-3 mbn">collections</p>
  </section>
</main>
