<% activate_nav!(:analytics_performance) %>

<%= render 'shared/analytics_nav' %>

<article class="col-10">
  <h1>Performance</h1>

  <style>
    table { width: 100%; }
    td { padding: 6px; }
  </style>

  <table class="text">
    <thead>
      <tr style="text-decoration: underline">
        <th></th>
        <% @cohorts.size.times do |i| %>
          <th>
            <%= i %> <%= @period %>
          </th>
        <% end %>
      </tr>
    </thead>

    <% @cohorts.each_with_index do |row, index| %>

      <% start = row[1][:count][0] %>

      <tr>
        <td>
          <%= row[0] %> <br/>
          <%= start %> users
        </td>

        <% (@cohorts.size).times do |i| %>
          <td>
            <% if @cohorts.size - index > (i + 1) %>
              <%= "#{((row[1][:count][i].to_f/start.to_f) * 100.00).round(0)}%" %>
            <% else %>
              --
            <% end %>
          </td>
        <% end %>
      </tr>

    <% end %>

  </table>
</article>
