<% activate_nav!(:analytics_recipes) %>

<%= render 'shared/analytics_nav' %>

<article class="col-8">

  <h1>Recipes (<%= @recipes.count %>)</h1>

  <style> td { padding: 6px; } </style>

  <table class="table">
    <thead>
      <tr style="font-weight: bold;">
        <td>ID</td>
        <td>Owner</td>
        <td>Delete</td>
        <td>Title</td>
        <!-- <td>Ingredients</td> -->
        <!-- <td>Instructions</td> -->
      </tr>
    </thead>
    <tbody>
      <% @recipes.each do |recipe| %>
        <tr>
          <td><%= recipe.id %></td>
          <td><%= User.find(recipe.user_id).first_name %></td>
          <td>
            <%= link_to recipe, method: :delete, data: { confirm: t('general.delete_forever') } do %>
              <span class="text-danger">Delete</span>
            <% end %>
          </td>
          <td><%= recipe.title %></td>
          <!-- <td><%= recipe.ingredients %></td> -->
          <!-- <td><%= recipe.instructions %></td> -->
        </tr>
      <% end %>
    </tbody>
  </table>

</article>
