<div id="clipper" role="dialog" class="modal">
  <%= modal_close %>
  <h2>Clip a Recipe from the Web</h2>
  <hr>
  <%= link_to 'HELP', help_path, class: 'right dib phs ml1 white white-hover bg-orange rounded bold f5' %>
  <p class="mb0">Paste the URL of a recipe below to save it to Noodles.</p>
  <small class="db grey-3">
    Clipping supports several hundred sites.
  </small>
  <%= form_tag(save_path, method: 'get', class: 'flex mt2') do %>
    <%= url_field_tag 'url', nil, class: 'text-input flex-auto mr1', style: 'min-width: initial;',
                       placeholder: 'Paste in the recipe\'s URL' %>
    <%= submit_tag 'Clip', name: nil, class: 'flex-last btn bg-blue' %>
  <% end %>
</div>
