<%= form_for(@recipe) do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title, autofocus: true, class: 'text-input' %>

  <%= f.label :description %>
  <%= f.text_area :description, class: 'text-input js-auto-size' %>

  <div class="well">
    <h2>Add a photo</h2>

    <span>Upload a file:</span> <%= f.file_field :img %>
    <br>
    <span>Or by URL:</span> <%= f.text_field :img, class: 'text-input ib', id: 'recipeImageField' %>
    <br>
    <a onclick="document.getElementById('recipeImageField').value = '';" class="btn btn-sm btn-default">Remove image</a>
  </div>

  <%= f.label :ingredients %>
  <%= f.text_area :ingredients, class: 'text-input js-auto-size serif' %>

  <%= f.label :instructions %>
  <%= f.text_area :instructions, class: 'text-input js-auto-size serif' %>

  <div class="action-list">

    <a class="item-favorite">
      <label class="control">
        <%= f.check_box :favorite %>
        <div class="control-indicator">
          <%= inline_svg('ios7-star-outline.svg') %>
        </div>
        <div class="control-indicator-checked">
          <%= inline_svg('ios7-star.svg') %>
        </div>
        <span><%= t('general.favorite') %></span>
      </label>
    </a>

    <% if nav_active?(:edit_recipe) %>
      <%= link_to @recipe, method: :delete, data: { confirm: t('general.delete_forever') }, class: 'item-danger' do %>
        <%= inline_svg('ios7-trash-outline.svg') %>
        <span><%= t('general.delete') %></span>
      <% end %>
    <% end %>

  </div>

  <div class="row">
    <% if nav_active?(:new_recipe) %>
      <%= f.submit t('general.create_recipe'), class: 'btn btn-primary' %>
    <% else %>
      <%= f.submit t('general.save'), class: 'btn btn-primary' %>
    <% end %>
  </div>

<% end %>
