<%= form_for(@recipe) do |f| %>

  <div class="row">
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true, class: 'form-control' %>
  </div>

  <div class="row">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="row">
    <%= f.label :ingredients %>
    <%= f.text_area :ingredients, rows: 6, class: 'form-control serif' %>
  </div>

  <div class="row">
    <%= f.label :instructions %>
    <%= f.text_area :instructions, rows: 10, class: 'form-control serif' %>
  </div>

  <div class="row col-md-4 no-padding">
    <div class="action-list">
      <a class="wtf">
        <label class="control checkbox">
          <%= f.check_box :favorite %>
          <span class="control-indicator geomicon geomicon-star"></span>
          <span class="text text-black"><%= t('general.fav_this_r') %></span>
        </label>
      </a>
    </div>
  </div>

  <br><br><br>

  <div class="row">
    <%= f.submit t('general.save'), class: 'btn btn-primary' %>
  </div>

<% end %>
