<%= form_for(@recipe) do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title, autofocus: true, class: 'text-input' %>

  <%= f.label :description %>
  <%= f.text_area :description, class: 'text-input' %>

  <%= f.label t('general.photo') %>
  <%= f.file_field :img %>

  <br>

  <%= f.label :ingredients %>
  <%= f.text_area :ingredients, rows: 6, class: 'text-input serif' %>

  <%= f.label :instructions %>
  <%= f.text_area :instructions, rows: 10, class: 'text-input serif' %>

  <div class="row col-4 no-padding">
    <div class="action-list">
      <a class="wtf">
        <label class="control checkbox">
          <%= f.check_box :favorite %>
          <span class="control-indicator geomicon geomicon-star"></span>
          <span class="text text-black"><%= t('general.fav_this_r') %></span>
        </label>
      </a>
    </div>
  </div>

  <br><br><br>

  <div class="row">
    <% if nav_active?(:new_recipe) %>
      <%= f.submit t('general.create_recipe'), class: 'btn btn-primary' %>
    <% elsif nav_active?(:edit_recipe) %>
      <%= f.submit t('general.save'), class: 'btn btn-primary' %>
      <%= link_to @recipe, method: :delete, data: { confirm: t('general.delete_forever') }, class: 'trash-recipe' do %>
        <span><%= t('general.or') %></span>
        <span class="geomicon geomicon-trash geomicon-position"></span>
      <% end %>
    <% else %>
      <%= f.submit t('general.save'), class: 'btn btn-primary' %>
    <% end %>
  </div>

<% end %>
