<header class="image-header inline-with-nav relative bg-cover bg-center pam pvl-ns flex-ns fac"
        style="background-image: url(<%= @recipe.img.url %>);">

  <div class="md-col-8 mx-auto mw7 flex-ns fac">
    <div class="db flex-auto">
      <h1 class="f1 f0-ns white mbs" itemprop="name">
        <%= @recipe.title %>
      </h1>

      <% if @recipe.description.present? %>
      <div itemprop="description">
        <%= whitened_markdown @recipe.description, [:f3] %>
      </div>
      <% end %>

      <% if @recipe.user.present? && nav_active?(:shared_recipe) %>
        <p class="white f5">Shared by <%= @recipe.user.first_name %></p>
      <% end %>
    </div>

    <% if me_owns_recipe? && !nav_active?(:shared_recipe) %>
      <%= form_for(@recipe, html: { class: 'lh0 fsn dib dn-p' }) do |f| %>
        <label class="man mlm-ns tooltipped tooltipped--n" aria-label="Favorite">
          <%= f.check_box :favorite, class: 'fav__checkbox', 'data-behavior': 'recipe_favorite_trigger' %>
          <%= inline_svg 'favorite_outline.svg', class: 'fill-white pointer fav__indicator', size: 28 %>
          <%= inline_svg 'favorite.svg', class: 'fill-white pointer fav__indicator--checked', size: 28 %>
        </label>
      <% end %>
    <% end %>
    <a href="#photo" name="photo" class="dib mhm lh0 fsn relative pointer tooltipped"
       aria-label="View photo full size" data-behavior="modal_trigger">
      <%= inline_svg 'fullscreen.svg', class: 'fill-white', size: 28 %>
    </a>
    <%= render 'actions', color: 'white', rootClass: 'fsn dn-p', menuClass: 'tsn' if me_owns_recipe? && !nav_active?(:shared_recipe) %>
  </div>
</header>

<section id="photo" role="dialog" class="modal sm-col-8 mw8">
  <div class="pointer absolute pas" style="right: 1rem;" data-behavior="modal_close">
    <%= inline_svg 'close.svg', class: 'fill-white',
                   style: '-webkit-filter: drop-shadow(0 2px 2px rgba(0,0,0,.25));
                              -moz-filter: drop-shadow(0 2px 2px rgba(0,0,0,.25));
                                   filter: drop-shadow(0 2px 2px rgba(0,0,0,.25));' %>
  </div>
  <%= image_tag @recipe.img.url, class: 'col-12 fl',
                alt: "Photo of #{@recipe.title}", itemprop: 'image' %>
</section>

<%= render 'shared/flash' if flash.any? %>
