<section id="clipper" role="dialog" class="modal">
  <%= modal_header 'Clip a Recipe from the Web' %>
  <%= render 'clip' %>
  <%= link_to explore_path, class: 'modal__feature link-reset bs-bb dn db-ns bg-grey-6 grey-3 f5 border-top pas' do %>
    <%= inline_svg 'chev-right.svg', class: 'fr fill-grey-4' %>
    <span class="mls dib">
      Find and save new recipes right from Noodles with
      <span class="orange b">Explore</span>
    </span>
  <% end %>
</section>

<a href="#clipper" data-behavior="modal_trigger"
   class="btn-paper-mini bg-orange fill-white circle fixed pas shadow tooltipped"
   aria-label="Clip from the Web">
  <%= inline_svg 'clip.svg' %>
</a>

<%= link_to new_recipe_path, class: 'btn-paper bg-orange fill-white circle fixed pam shadow tooltipped',
            'aria-label': 'Write a new recipe' do %>
  <%= inline_svg 'add.svg' %>
<% end %>
