<section id="clipper" role="dialog" class="modal">
  <%= modal_header 'Clip a Recipe from the Web' %>
  <%= link_to 'HELP', help_path, class: 'fr dib phs mls white white-hover bg-orange rounded b f5' %>
  <p class="mbn">Paste the URL of a recipe below to save it to Noodles.</p>
  <small class="db grey-3">
    Clipping supports several hundred sites.
  </small>
  <%= form_tag(save_path, method: 'get', class: 'flex mtm') do %>
    <%= url_field_tag 'url', nil, class: 'text-input flex-auto mrs', style: 'min-width: initial;',
                       placeholder: 'Paste in the recipe\'s URL' %>
    <%= submit_tag 'Clip', name: nil, class: 'flex-last btn bg-blue' %>
  <% end %>
</section>

<a href="#clipper" data-behavior="modal_trigger"
   class="btn-paper-mini bg-orange fill-white circle fixed pas shadow tooltipped"
   aria-label="Clip from the Web">
  <%= inline_svg 'clip.svg' %>
</a>

<%= link_to new_recipe_path, class: 'btn-paper bg-orange fill-white circle fixed pam shadow tooltipped',
            'aria-label': 'Write a new recipe' do %>
  <%= inline_svg 'add.svg' %>
<% end %>
