<h2 class="mtn">Ingredients</h1>
<div class="text text-normalized recipe-ingredients" itemprop="ingredients">
  <% @recipe.ingredients.lines.each do |line| %>
    <%= ingredient_processed(line).html_safe %>
  <% end %>
</div>

<h2 class="mtm">Instructions</h2>
<div class="text text-normalized" itemprop="recipeInstructions">
  <%= instructions_processed.html_safe %>
</div>

<% if @recipe.img.url.present? && @image_layout == false %>
  <%= image_tag @recipe.img, alt: "Photo of #{@recipe.title}", itemprop: 'image', class: 'flex mx-auto' %>
<% end %>

<h2 class="mtm">Details</h2>
<% if @recipe.source.present? %>
<p style="word-wrap: break-word;">
  Source:
  <%= auto_link(@recipe.source, html: { target: '_blank' }) { |text| remove_url_head(text) } %>
</p>
<% end %>
<% if @recipe.author.present? %>
<p>Author: <span itemprop="author"><%= @recipe.author %></span></p>
<% end %>
<% if @recipe.serves.present? %>
<p>Yield: <span itemprop="recipeYield"><%= @recipe.serves %></span></p>
<% end %>
<% if no_details? %>
  <p class="grey-2">
    No details for this recipe. Details describe where the recipe came from and the recipe's yield.
  </p>
<% end %>

<%= react_component 'NoteEditor', id: @recipe.id, plain: @recipe.notes, rendered: notes_rendered, allowEditing: me_owns_recipe? %>
