<h2 class="m1-top">Ingredients</h1>
<%= simple_format(@recipe.ingredients, class: 'text') %>

<h2 class="m1-top">Instructions</h2>
<div class="text">
  <%= sanitize @recipe.instructions_rendered %>
</div>

<% unless @recipe.img.url.blank? %>
<%= image_tag @recipe.img, class: 'recipe-photo' %>
<% end %>

<p id="recipe-details-btn" class="text-primary block m1-top show-details">
  <%= inline_svg('info_outline.svg') %>
  Show Details
</p>

<div class="hide" id="recipe-details-container">
  <h2 class="m1-top">Details</h2>
  <% if @recipe.source.blank? && @recipe.serves.blank? %>
  <p class="text-muted">No details here at the moment. Details describe where the recipe came from and how much food the recipe produces.</p>
  <% else %>
  <p>Source: <%= auto_link(@recipe.source, :html => {:rel => 'nofollow'}) %>
  <p>Serves: <%= @recipe.serves %>
  <% end %>

  <div class="panel notes m1-top">
    <% if @recipe.notes.blank? || @recipe.notes == nil %>
    <p class="text-muted">No notes for this recipe &mdash; yet!</p>
    <% else %>
    <h2>Notes</h2>
    <br>
    <%= sanitize markdown(@recipe.notes) %>
    <% end %>
  </div>
</div>
