<h2 class="mtm">Ingredients</h1>
<div class="recipe__ingredients content content--normalized" itemprop="ingredients">
  <% @recipe.ingredients.lines.each do |line| %>
    <%= ingredient_processed(line).html_safe %>
  <% end %>
</div>

<h2 class="mtm">Instructions</h2>
<div class="content content--normalized" itemprop="recipeInstructions">
  <%= instructions_processed.html_safe %>
</div>

<% if @recipe.img.url.present? && @image_layout == false %>
  <%= image_tag @recipe.img.url, class: 'flex mx-auto rounded oh',
                alt: "Photo of #{@recipe.title}", itemprop: 'image' %>
<% end %>

<h2 class="mtm">Details</h2>
<% if @recipe.source.present? %>
  <p class="wbw">Source: <%= clean_autolink @recipe.source %></p>
<% end %>
<% if @recipe.author.present? %>
  <p>Author: <span itemprop="author"><%= @recipe.author %></span></p>
<% end %>
<% if @recipe.serves.present? %>
  <p>Yield: <span itemprop="recipeYield"><%= @recipe.serves %></span></p>
<% end %>
<% if no_details? %>
  <p class="grey-2">
    No details for this recipe. Details describe where the recipe came from and the recipe's yield.
  </p>
<% end %>
