<%= section_header 'Ingredients', 2, class: 'mtm' %>
<ul class="recipe__ingredients list-reset content">
  <% @recipe.ingredients.to_s.lines.each do |line| %>
    <%= ingredient_processed(line) %>
  <% end %>
</ul>

<%= section_header 'Instructions', 2, class: 'mtm' %>
<div class="content <%= 'list--unindented-m' if @image_layout %>">
  <%= instructions_processed.html_safe %>
</div>

<%= section_header 'Details', 2, class: 'mtm' %>

<%= content_tag(:p, class: 'wbw') do %>
  <span class="db b grey-2">Source</span>
  <span class="content">
    <%= clean_autolink @recipe.source %></p>
  </span>
<% end if @recipe.source.present? %>

<%= content_tag(:p) do %>
  <span class="db b grey-2">Author</span>
  <span class="content"><%= @recipe.author %></span>
<% end if @recipe.author.present? %>

<%= content_tag(:p) do %>
  <span class="db b grey-2">Yield</span>
  <span class="content"><%= @recipe.serves %></span>
<% end if @recipe.serves.present? %>

<div data-user="<%= @recipe.user_id %>" data-behavior="recipe_colls_container" class="dn-p"></div>

<%= section_header 'Notes', 2, class: 'mtm' %>
<%= content_tag :div, notes_rendered, class: 'content mbm' %>
