<h2 class="mtn">Ingredients</h1>
<div class="text text-normalized recipe-ingredients" itemprop="ingredients">
  <% @recipe.ingredients.lines.each do |line| %>
    <%= ingredient_processed(line).html_safe %>
  <% end %>
</div>

<h2 class="mtm">Instructions</h2>
<div class="text text-normalized" itemprop="recipeInstructions">
  <%= instructions_processed.html_safe %>
</div>

<%= image_tag @recipe.img, class: 'dn', itemprop: 'image' if @recipe.img.url.present? && !@image_layout %>

<h2 class="mtm">Details</h2>
<% if @recipe.source.present? %>
<p style="word-wrap: break-word;">
  Source:
  <%= auto_link(@recipe.source, html: { target: '_blank' }) { |text| text.gsub(/^http(s?):\/\/(w+\.)?/, '') } %>
</p>
<% end %>
<% if @recipe.author.present? %>
<p>Author: <span itemprop="author"><%= @recipe.author %></span></p>
<% end %>
<% if @recipe.serves.present? %>
<p>Yield: <span itemprop="recipeYield"><%= @recipe.serves %></span></p>
<% end %>
<% if @recipe.source.blank? && @recipe.author.blank? && @recipe.serves.blank? %>
  <p class="grey-2">No details for this recipe. Details describe where the recipe came from and the recipe's yield.</p>
<% end %>

<% if @recipe.notes.present? %>
<div class="dn db-p">
  <h2>Notes</h2>
  <%= sanitize markdown(@recipe.notes) %>
</div>
<% end %>

<% if me_owns_recipe? %>
  <%= react_component("NoteEditor", recipe_id: @recipe.id) %>
<% else %>
  <div class="rounded border pam notes text text-normalized dn-p">
    <% if @recipe.notes.blank? %>
    <p class="grey-4 mbn">No notes for this recipe &mdash; yet!</p>
    <% else %>
    <%= sanitize markdown(@recipe.notes) %>
    <% end %>
  </div>
<% end %>
