<section id="share" class="modal" role="dialog">
  <%= modal_header 'Share a public link' %>
  <p>Share this public link to your recipe with your friends. They can save a copy of it to their own Noodles accounts.</p>

  <div class="f5">
    <input value="<%= @shared_url %>" class="text-input dib" readonly>
    <button type="button" class="btn bg-green btn-sm mls"
            data-clipboard-text="<%= @shared_url %>" data-behavior="copy">
      Copy
    </button>

    <%= link_to 'Preview public link »', @shared_url, class: 'db mts blue underline' if !nav_active?(:shared_recipe) %>
  </div>

  <div class="social pvs mts">
    <a rel="nofollow" href="http://twitter.com/share?text=Check out <%= @recipe.title %>, published on @noodlesapp:&amp;url=<%= @shared_url %>" class="mrs" target="_blank">
      <%= social_icon 'twitter' %>
    </a>
    <a rel="nofollow" href="https://www.facebook.com/sharer/sharer.php?u=<%= @shared_url %>" class="mrs" target="_blank">
      <%= social_icon 'facebook' %>
    </a>
    <% if @recipe.unimaged? %>
      <% @media_url = image_url('apple-touch-icon.png').to_s %>
    <% else %>
      <% @media_url = @recipe.img.url.to_s %>
    <% end %>
    <a rel="nofollow" href="http://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fgetnoodl.es%2Fs%2F<%= @recipe.shared_id %><%= '&media=' + @media_url %>&description=<%= @recipe.title %> <%= "(#{@recipe.description})" %> on Noodles" class="mrs" target="_blank">
      <%= social_icon 'pinterest' %>
    </a>
    <a rel="nofollow" href="https://buffer.com/add?url=http%3A%2F%2Fgetnoodl.es%2Fs%2F<%= @recipe.shared_id %>&text=Check out <%= @recipe.title %>, published on Noodles:" class="mrs" target="_blank">
      <%= social_icon 'buffer' %>
    </a>
    <a rel="nofollow" href="https://plus.google.com/share?url=http%3A%2F%2Fgetnoodl.es%2Fs%2F<%= @recipe.shared_id %>" class="mrs" target="_blank">
      <%= social_icon 'gplus' %>
    </a>
    <% if me_owns_recipe? %>
      <a href="mailto:?subject=Check out <%= @recipe.title %> on Noodles&body=I published a new recipe on Noodles (https://getnoodl.es), <%= @recipe.title %>. Check it out: <%= @shared_url %>">
    <% else %>
      <a href="mailto:?subject=Check out <%= @recipe.title %> on Noodles&body=Here's a recipe called <%= @recipe.title %> on Noodles (https://getnoodl.es): <%= @shared_url %>">
    <% end %>
      <%= social_icon 'email' %>
    </a>
  </div>
</section>
