<% activate_nav!(:edit_recipe) %>

<%= stylesheet_link_tag "editor" %>
<%= javascript_include_tag "editor" %>

<%= link_to recipes_path, class: "logo-nav fixed" do %>
  <%= inline_svg("home.svg") %>
<% end %>

<article class="col-7 container">
  <%= form_for(@recipe) do |f| %>

  <%= f.file_field :img, id: "file", class: "hide" %>
  <div class="upload-button inline-block" id="file-button">
    <%= react_component("IconPhoto", size: "32px", classes: "fill-grey-4") %>
    <span id="file-name" class="grey-4 up-10">
  <% if @recipe.img.url.blank? %>
      Click to upload a photo</span>
    </div>
  <% else %>
      Upload a new photo</span>
    </div>
    <span class="grey-4 up-10">or <%= link_to "remove current photo", recipe_remove_image_path(:recipe_id => @recipe.id), class: "link-reset" %></span>
  <% end %>

  <% if @recipe.errors.any? %>
  <div class="flash-danger bg-white rounded shadow mb2 p2">
    <h2>Oops! You need to title the recipe.</h2>
    <p>Click below and type a name for your recipe.</p>
  </div>
  <% end %>

  <%= f.text_field :title, autofocus: true, required: true, class: "text-input invisible-input full-width m0 bold h1", placeholder: "Click here and title your recipe...", autocomplete: "off" %>

  <%= f.text_area :description, class: "text-input invisible-input full-width js-auto-size", placeholder: "Optionally, write a description for the recipe right here.", rows: "1", autocomplete: "off" %>

  <%= f.text_area :ingredients, class: "text-input invisible-input full-width m0 js-auto-size", placeholder: "Click here to add your recipe\'s ingredients. Put one on each line.", rows: "3", autocomplete: "off" %>

  <%= f.text_area :instructions, class: "text-input invisible-input full-width m0 js-auto-size", placeholder: "Type the recipe\'s instructions here. Number each step.", rows: "4", autocomplete: "off" %>

  <p class="grey-4 block mb2 details-btn">
    <%= inline_svg("info_outline.svg") %>
    Show Details
  </p>

  <div class="hide bg-white rounded shadow mb2 p2 details-panel">
    <h2 class="m0">Details</h2>

    <%= f.label :source, class: "inline-block mt2" %><small class="ml1 grey-4">Where did this recipe come from?</small>
    <%= f.text_field :source, class: "text-input" %>

    <%= f.label :serves, "Yield", class: "inline-block" %><small class="ml1 grey-4">How many servings does your recipe produce?</small>
    <%= f.text_field :serves, class: "text-input" %>

    <%= f.label :notes, class: "inline-block" %><small class="ml1 grey-4">Add some more information about the recipe.</small>
    <%= f.text_area :notes, class: "text-input notes block mb1 js-auto-size" %>

    <label class="control mb1 block">
      <%= f.check_box :favorite, class: "control-checkbox" %>
      <div class="control-indicator fill-orange">
        <%= inline_svg("favorite_outline.svg") %>
      </div>
      <div class="control-indicator-checked fill-orange">
        <%= inline_svg("favorite.svg") %>
      </div>
      <span class="orange"><%= t("general.favorite") %></span>
    </label>

    <%= link_to t("general.delete"), @recipe, method: :delete, data: { confirm: t("general.delete_forever") }, class: "btn-red btn-sm mt2" %>
  </div>

  <%= f.submit t("general.save"), class: "btn btn-save mb2", data: { disable_with: "Saving..." } %>

  <% end %>
</article>
