<% activate_nav!(:recipes) %>

<%= render 'shared/nav' %>

<%= render 'layouts/flash' %>

<br>

<div class="page container col-md-8 col-md-offset-2">

  <div class="row">
    <h1 class="page-title"><%= t('.edit_recipe') %></h1>
  </div>

  <%= render 'form' %>

  <div class="row">
  	<%= link_to 'Delete', @recipe, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>

</div>
