<% activate_nav!(:recipes) %>
<%- title @page_title || "Editing #{@title}".html_safe %>

<%= render 'shared/nav', margin: @recipe.persisted? %>

<% if @recipe.new_record? %>
  <a href="#import" name="import" class="link-reset flex fac fjc mvm" data-behavior="modal_trigger">
    <%= inline_svg 'web.svg', size: 24, class: 'fill-grey-3 fsn' %>
    <p class="lh-solid mls mbn grey-2">
      Importing from the web?
    </p>
  </a>
  <%= render 'import' %>
<% else %>
  <%= backlink @recipe.title, params[:redirect_to] || recipe_path(@recipe) %>
<% end %>

<main class="document w-two-thirds-m mw7">
<%= form_for(@recipe, url: recipe_path(@recipe, redirect_to: params[:redirect_to])) do |f| %>
  <section class="mbm db" data-behavior="editor_photo">
    <%= f.file_field :img, class: 'dn', 'data-behavior': 'photo_field' %>
    <div
      class="fr mtm <%= 'dn' if @recipe.unimaged? %>"
      data-behavior="editor_photo_cont <%= 'rehide' if @recipe.unimaged? %>"
    >
      <img src="<%= @recipe.img.url if @recipe.imaged? %>" width="96" class="rounded oh bx" data-behavior="editor_photo_preview">
    </div>
    <div class="grey-3 pointer" data-behavior="photo_button">
      <%= inline_svg 'photo-upload.svg', size: 32, class: 'fill-grey-3 relative', style: 'top: 10px;' %>
      <span data-behavior="description" style="word-break: break-all;">
        <%= @recipe.unimaged? ? 'Upload a photo' : 'Upload a new photo' %>
      </span>
    </div>
    <% if @recipe.imaged? %>
      <div class="grey-3 pointer mts" data-behavior="remove_current_photo"
           data-href="<%= remove_image_recipe_path(@recipe.id) %>">
        <%= inline_svg 'close.svg', width: 32, height: 24, class: 'fill-grey-3 relative', style: 'top: 6px;' %>
        <span data-behavior="description">Remove current photo</span>
      </div>
    <% end %>
  </section>

  <% if @recipe.errors.any? %>
    <section
      class="w-two-thirds-m mx-auto card mvm pam pal-ns"
      data-behavior="recipe_errors"
      role="alertdialog">
      <% @errors = @recipe.errors.messages %>
      <% if @errors[:title].present? %>
        <% if @errors[:title].first.match 'blank' %>
          <h2 class="red normal mtn">Your recipe doesn't have a title!</h2>
          <p class="mbn">Add a title (below) and you'll be good to go.</p>
        <% end %>
        <% if @errors[:title].first.match 'too long' %>
          <h2 class="red normal mtn">That title is too long!</h2>
          <p class="mbn">Try shortening it (to less than 250 characters) and you'll be good to go.</p>
        <% end %>
      <% end %>
      <% if @errors[:img].present? %>
        <% if @errors[:img].last.match 'less than' %>
          <h2 class="red normal mtn">That's a big photo!</h2>
          <p class="mbn">Please use an image that's less than 2 MB.</p>
        <% end %>
        <% if @errors[:img_content_type].present? %>
          <h2 class="red normal mtn">That's not an image.</h2>
          <p class="mbn">Please pick a file that is a valid image (such as JPG/JPEG, PNG, etc).</p>
        <% end %>
      <% end %>
    </section>
  <% end %>

  <%= f.text_field :title,
    value: @title,
    required: true,
    autofocus: true,
    autocomplete: 'off',
    placeholder: 'Title your recipe…',
    class: 'text-input invisible-input serif w-100 man b f1'
  %>

  <%= f.label :description, class: 'label f3 dib' %>
  <%= f.text_area :description,
    rows: 1,
    autocomplete: 'off',
    placeholder: 'If you\'d like, write a description for the recipe here.',
    'data-behavior': 'autosize',
    class: 'text-input invisible-input serif w-100 lh-copy'
  %>

  <%= f.label :ingredients, class: 'label f3 dib' %>
  <small class="f5 mls grey-4">Put one on each line.</small>
  <%= f.text_area :ingredients,
    rows: 3,
    autocomplete: 'off',
    placeholder: 'Click here and type your recipe\'s ingredients.',
    'data-behavior': 'autosize',
    class: 'text-input invisible-input serif w-100 man lh-copy'
  %>

  <%= f.label :instructions, class: 'label f3 dib' %>
  <small class="f5 mls grey-4">Fully supports Markdown.</small>
  <%= f.text_area :instructions,
    rows: 4,
    autocomplete: 'off',
    placeholder: 'Add the instructions here.',
    'data-behavior': 'autosize editor_instructions',
    class: 'text-input invisible-input serif w-100 man lh-copy'
  %>

  <%= f.label :notes, class: 'label f3 dib' %>
  <small class="f5 mls grey-4">What would you want to remember for next time?</small>
  <%= f.text_area :notes,
    rows: '4',
    autocomplete: 'off',
    placeholder: 'Write your notes here.',
    class: 'text-input invisible-input serif w-100 man lh-copy'
  %>

  <%= section_header 'Details', 2, class: 'mtl' %>

  <%= f.label :source, class: 'label dib' %>
  <small class="f5 mls grey-4">Where did this recipe come from?</small>
  <%= f.text_field :source, class: 'text-input serif w-two-thirds-m' %>

  <%= f.label :author, class: 'label dib' %>
  <small class="f5 mls grey-4">Who originally wrote this recipe?</small>
  <%= f.text_field :author, class: 'text-input serif w-two-thirds-m' %>

  <%= f.label :serves, 'Yield', class: 'label dib' %>
  <small class="f5 mls grey-4">How many servings does your recipe produce?</small>
  <%= f.text_field :serves, class: 'text-input serif w-two-thirds-m' %>

  <%= f.submit 'Save', class: 'btn btn--primary bg-blue b mtl', 'data-disable-with': 'Saving…' %>
<% end %>
</main>
