<% activate_nav!(:edit_recipe) %>

<%= render 'shared/nav' %>

<%= render 'layouts/flash' %>

<div class="page container col-md-8 col-md-offset-2">

  <div class="row">
    <h1 class="page-title">
      <span class="lightweight"><%= t('.editing') %></span>
      <%= @recipe.title %>
    </h1>
  </div>

  <%= render 'form' %>

  <br>

  <div class="row">
  	<%= link_to t('.delete'), @recipe, class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: t('.delete_forever') } %>
  </div>

</div>

<div class="container col-md-8 col-md-offset-2 footer">
  <%= render 'shared/footer' %>
</div>
