<% activate_nav!(:edit_recipe) %>

<style>
textarea {
  min-width: 32rem;
}

@media (max-width: 48em) {
  .home {
    display: dib;
  }
  .home svg {
    margin-left: auto;
    margin-right: auto;
  }
}
</style>

<%= link_to recipes_path, class: 'mam home fixed' do %>
  <%= inline_svg 'home.svg', class: 'fill-grey-4', style: 'width: 32px; height: 32px;' %>
<% end %>

<main class="md-col-8 mx-auto pam">
<%= form_for(@recipe) do |f| %>

  <%= f.file_field :img, class: 'dn', 'data-behavior': 'photo_field' %>
  <div class="mbm dib">
    <div class="pointer" data-behavior="photo_button">
      <%= inline_svg 'photo-upload.svg', size: 32, class: 'fill-grey-4 relative', style: 'top: 10px;' %>
      <span class="grey-4" data-behavior="photo_name">
        <%= @recipe.img.url.blank? ? 'Upload a photo' : 'Upload a new photo' %>
      </span>
    </div>
    <% if @recipe.img.url.present? %>
    <div class="grey-4 pointer mts" data-behavior="remove_current_photo">
      <%= inline_svg 'close.svg', width: 32, height: 24, class: 'fill-grey-3 relative', style: 'top: 6px;' %>
      <%= link_to 'Remove current photo', recipe_remove_image_path(recipe_id: @recipe.id),
                   class: 'link-reset', data: { remote: true, behavior: 'remove_current_photo_link' } %>
    </div>
    <% end %>
  </div>

  <% if @recipe.errors.any? %>
    <section class="md-col-8 mx-auto bg-white rounded shadow tc mtm mbm pal"
             role="alertdialog" data-behavior="recipe_errors">
      <% @errors = @recipe.errors.messages %>
      <% if @errors[:img] %>
        <% if @errors[:img].last.match 'less than' %>
          <h2 class="red normal mtn">That's a big photo!</h2>
          <p class="mbn">Please use an image that's less than 2 MB.</p>
        <% end %>
        <% if @errors[:img_content_type].present? %>
          <h2 class="red normal mtn">That's not an image.</h2>
          <p class="mbn">Please pick a file that is a valid image (such as JPG/JPEG, PNG, etc).</p>
        <% end %>
      <% elsif @errors[:title] %>
        <% if @errors[:title].first.match 'blank' %>
          <h2 class="red normal mtn">Your recipe doesn't have a title!</h2>
          <p class="mbn">Add a title (below) and you'll be good to go.</p>
        <% end %>
        <% if @errors[:title].first.match 'too long' %>
          <h2 class="red normal mtn">That title is too long!</h2>
          <p class="mbn">Try shortening it (to less than 250 characters) and you'll be good to go.</p>
        <% end %>
      <% end %>
    </section>
  <% end %>

  <%= f.text_field :title,
                   value: @title,
                   autofocus: true, required: true,
                   class: 'text-input invisible-input col-12 man b h1',
                   placeholder: 'Title your recipe...',
                   autocomplete: 'off' %>

  <%= f.text_area :description,
                  class: 'text-input invisible-input col-12',
                  placeholder: 'Optionally, write a description for the recipe right here.',
                  rows: '1',
                  autocomplete: 'off',
                  'data-behavior': 'autosize' %>

  <%= f.label :ingredients, class: 'dib h3' %><small class="mls grey-4">Put one on each line.</small>
  <%= f.text_area :ingredients,
                  class: 'text-input invisible-input col-12 man',
                  placeholder: 'Click here to add your recipe\'s ingredients.',
                  rows: '3',
                  autocomplete: 'off',
                  'data-behavior': 'autosize' %>

  <%= f.label :instructions, class: 'dib h3' %><small class="mls grey-4">Fully supports Markdown.</small>
  <%= f.text_area :instructions,
                  class: 'text-input invisible-input col-12 man',
                  placeholder: 'Type the recipe\'s instructions here.',
                  rows: '4',
                  autocomplete: 'off',
                  data: { behavior: 'autosize editor_instructions' } %>

  <section>
    <h2 class='mtn'>Details</h2>

    <%= f.label :source, class: 'dib' %><small class="mls grey-4">Where did this recipe come from?</small>
    <%= f.text_field :source, class: 'text-input md-col-8' %>

    <%= f.label :author, class: 'dib' %><small class="mls grey-4">Who originally wrote this recipe?</small>
    <%= f.text_field :author, class: 'text-input md-col-8' %>

    <%= f.label :serves, 'Yield', class: 'dib' %><small class="mls grey-4">How many servings does your recipe produce?</small>
    <%= f.text_field :serves, class: 'text-input md-col-8' %>
  </section>

  <%= f.submit t('general.save'), class: 'btn bg-grey-4 mtl mbl', 'data-disable-with': 'Saving...' %>

<% end %>
</main>
