<% activate_nav!(:favorites) %>

<%= render 'shared/nav' %>

<% if @recipes.count == 0 %>

  <div class="container col-8">

    <h1><%= t('general.favorites') %></h1>

    <h2><%= t('.no_favorites_yet') %></h2>

    <p><%= t('.favorites_are') %></p>
    <p><%= t('.to_add_favorites') %></p>
    <p>
      <%= link_to t('.back_to_r'), recipes_path, class: 'btn btn-primary' %>
    </p>

  </div>

<% else %>

  <div class="container col-8 recipe-list-container print-full-width">

    <h1><%= t('general.favorites') %></h1>

    <%= render 'shared/filter' %>

    <div class="recipe-list">

      <% @recipes.each do |recipe| %>

        <%= link_to (recipe) do %>
          <div class="recipe-list-item">

            <div class="indicators">
              <% if recipe.favorite == true %>
                <div class="indicator-favorite">
                  <%= inline_svg('ios7-star.svg') %>
                </div>
              <% end %>
            </div>

            <h2><%= recipe.title %></h2>

            <% unless recipe.description.length == 0 %>
              <p><%= recipe.description.truncate(140) %></p>
            <% end %>

          </div>
        <% end %>

      <% end %>

    </div>

    <p class="printer-copy">
      <%= t('recipes.printing.print_copy') %>
    </p>

  </div>

<% end %>


<%= link_to :new_recipe, class: 'btn-paper' do %>
  <%= inline_svg('ios7-plus-empty.svg') %>
<% end %>
