<%= render 'shared/nav' %>

<%= render 'layouts/flash' %>

<div class="page container col-md-6 col-md-offset-3 home text-center">

  <h1><%= t('.eat_well_with') %></h1>

  <p>
    Noodles is the best place to keep all your recipes.
  </p>

  <%= link_to t('general.sign_up'), :add_user, class: 'btn btn-lg btn-primary' %>

</div>

<div class="container col-md-8 col-md-offset-2 footer">
  <%= render 'shared/footer' %>
</div>
