<% activate_nav!(:recipes) %>

<%= render 'shared/nav' %>

<%= render 'layouts/flash' %>

<% if current_user and @recipes.count == 0 %>

  <div class="col-md-8 col-md-offset-2">

    <div class="row">

      <div class="panel">
        <div class="panel-title">
          <%= t('.hey_welcome') %>
        </div>
        <div class="panel-body">
          <%= t('.no_recipes') %>
          <br>
          <%= t('.and_if_need_help') %>
          <br>
          <%= link_to t('.create_first'), new_recipe_path, class: 'btn btn-primary' %>
        </div>
      </div>

    </div>

  </div>

<% else %>

  <div class="page container col-md-8 col-md-offset-2 recipes-list-container">

    <div class="list-group recipes-list-group">

      <% @recipes.each do |recipe| %>

        <%= link_to (recipe) do %>
          <div class="list-group-item">
            <h3><%= recipe.title %></h3>
            <% unless recipe.description.length == 0 %>
              <p><%= recipe.description %></p>
            <% end %>
          </div>
        <% end %>

      <% end %>

    </div>

    <p class="printer-copy">
      <%= t('recipes.printing.print_copy') %>
    </p>

  </div>

<% end %>

<div class="container col-md-8 col-md-offset-2 footer">
  <%= render 'shared/footer' %>
</div>


<%= link_to :new_recipe, class: 'btn-paper btn-paper-right animated bounceInUp' do %>
  <span class="geomicon geomicon-plus"></span>
<% end %>
