<% activate_nav!(:recipes) %>

<%= render 'shared/nav' %>

<% if current_user and @recipes.count == 0 %>

  <div class="container col-8 col-offset-1">

    <h1><%= t('.hey') %></h1>
    <h2><%= t('.welcome_to_n') %></h2>

    <p><%= t('.no_recipes') %></p>
    <p><%= t('.and_if_need_help') %></p>
    <p><%= link_to t('.create_first'), new_recipe_path, class: 'btn btn-primary' %></p>

  </div>

<% else %>

  <div class="container col-8 col-offset-1 recipe-list-container print-full-width">

    <h1><%= t('general.recipes') %></h1>

    <div class="recipe-list">

      <% @recipes.each do |recipe| %>

        <%= link_to (recipe) do %>
          <div class="recipe-list-item">

            <% if recipe.favorite == true %>
              <div class="pull-right">
                <span class="geomicon geomicon-star"></span>
              </div>
            <% end %>

            <h2><%= recipe.title %></h2>
            <% unless recipe.description.length == 0 %>
              <p><%= recipe.description.truncate(140) %></p>
            <% end %>

          </div>
        <% end %>

      <% end %>

    </div>

    <p class="printer-copy">
      <%= t('recipes.printing.print_copy') %>
    </p>

  </div>

<% end %>


<%= link_to :new_recipe, class: 'btn-paper btn-paper-right animated bounceInUp' do %>
  <span class="geomicon geomicon-plus"></span>
<% end %>
