<%- title 'Recipes' %>
<% activate_nav!(:recipes) %>

<%= render 'shared/nav' %>

<%= react_component 'RecipesHome' %>

<%= render 'clipper' %>

<a href="#clipper" data-behavior="modal_trigger"
   class="btn-paper-mini bg-orange fill-white circle fixed pas shadow tooltipped"
   aria-label="Clip from the Web">
  <%= inline_svg 'clip.svg' %>
</a>

<%= link_to new_recipe_path, class: 'btn-paper bg-orange fill-white circle fixed pam shadow tooltipped',
            'aria-label': 'Create a new Recipe' do %>
  <%= inline_svg 'add.svg' %>
<% end %>
