<% activate_nav!(:recipes) %>

<%= render 'shared/nav' %>

<%= render 'layouts/flash' %>

<div class="container recipes-list-container background-grey">

  <div class="col-md-8 col-md-offset-2 list-group recipes-list-group">

    <% @recipes.each do |recipe| %>
      <%= link_to (recipe) do %>
        <div class="list-group-item">
          <h3><%= recipe.title %></h3>
          <p><%= recipe.description %></p>
        </div>
      <% end %>
    <% end %>

    <%= link_to new_recipe_path do %>
      <div class="list-group-item text-center" id="add-item">
        <p>
          <span class="geomicon geomicon-plus"></span>
        </p>
      </div>
    <% end %>

  </div>

</div>
