<% if current_user %>
  <% activate_nav!(:recipes) %>
<% end %>

<%= render 'shared/nav' %>

<%= render 'layouts/flash' %>

<br>

<% if current_user %>

  <div class="page container col-md-8 col-md-offset-2 recipes-list-container">

    <div class="list-group recipes-list-group">

      <% @recipes.each do |recipe| %>

        <%= link_to (recipe) do %>
          <div class="list-group-item">
            <h3><%= recipe.title %></h3>
            <% unless recipe.description.length == 0 %>
              <p><%= recipe.description %></p>
            <% end %>
          </div>
        <% end %>

      <% end %>

    </div>

  </div>

  <div class="col-md-8 col-md-offset-2 footer">
    <%= render 'shared/footer' %>
  </div>

<% else %>

  <div class="page container col-md-6 col-md-offset-3 home text-center">

    <h1><%= t('general.eat_well_with') %></h1>

    <p>
      Noodles is the best place to keep all your recipes.
    </p>

    <%= link_to t('general.sign_up'), :add_user, class: 'btn btn-lg btn-primary' %>

  </div>

  <div class="col-md-6 col-md-offset-3 footer">
    <%= render 'shared/footer' %>
  </div>

<% end %>

<% if current_user %>

  <%= link_to :new_recipe, class: 'btn-paper btn-paper-right animated bounceInUp' do %>
    <span class="geomicon geomicon-plus"></span>
  <% end %>

<% end %>
