<% if params[:filter] == 'favorites' %>
  <% activate_nav!(:favorites) %>
<% else %>
  <% activate_nav!(:recipes) %>
<% end %>

<%= render 'shared/nav' %>

<% if @recipes.count == 0 %>

  <div class="container col-8">

    <h1 class="friendly">Add your first recipe to Noodles!</h1>

    <p><%= t('.no_recipes') %></p>
    <p><%= t('.and_if_need_help') %></p>
    <p><%= link_to t('.add_first'), new_recipe_path, class: 'btn' %></p>

  </div>

<% else %>

  <div class="container col-8 print-full-width">

    <% if params[:filter] == 'favorites' %>
      <h1><%= t('general.favorites') %></h1>
    <% else %>
      <h1><%= t('general.recipes') %></h1>
    <% end %>

    <%= render 'shared/filter' %>

    <div class="recipe-list">

      <% @recipes.each do |recipe| %>

        <%= link_to (recipe) do %>
          <div class="recipe-list-item">

            <div class="indicators">
              <% if recipe.favorite == true %>
                <%= inline_svg('ios7-star.svg') %>
              <% end %>
            </div>

            <h2><%= recipe.title %></h2>
            <% unless recipe.description.length == 0 %>
              <p><%= recipe.description.truncate(140) %></p>
            <% end %>

          </div>
        <% end %>

      <% end %>

    </div>

    <p class="printer-copy">
      <%= t('recipes.printing.print_copy') %>
    </p>

  </div>

<% end %>


<%= link_to :new_recipe, class: 'btn-paper' do %>
  <%= inline_svg('ios7-plus-empty.svg') %>
<% end %>
