<% if params[:filter] == 'favorites' %>
  <%- title 'Favorites' %>
  <% activate_nav!(:favorites) %>
<% else %>
  <%- title 'Recipes' %>
  <% activate_nav!(:recipes) %>
<% end %>

<%= render 'shared/nav' %>

<% if Recipe.where(:user_id => current_user.id).count == 0 %>

  <article class="col-8">

    <h1 class="friendly">Add your first recipe to Noodles!</h1>

    <p><%= t('.no_recipes') %></p>
    <p><%= t('.and_if_need_help') %></p>
    <p><%= link_to t('.add_first'), new_recipe_path, class: 'btn' %></p>

  </article>

<% else %>

  <article class="col-8 recipe-list-container">

    <% if params[:filter] == 'favorites' %>
      <h1><%= t('general.favorites') %></h1>
    <% else %>
      <h1><%= t('general.recipes') %></h1>
    <% end %>

    <% if params[:filter] != 'favorites' && @recipes.count >= 2 && @recipes.count <= 8 %>
      <p class="print-hide text-muted">
        You only have <%= @recipes.count %> recipes in Noodles right now...<%= link_to 'adding more', :new_recipe %> will make it much more useful!
      </p>
    <% end %>

    <div class="recipe-list">

      <% @recipes.each do |recipe| %>

        <%= link_to recipe do %>
          <div class="recipe-list-item">

            <div class="indicators">
              <% if recipe.favorite == true %>
                <%= inline_svg('favorite.svg') %>
              <% end %>
            </div>

            <h2><%= recipe.title %></h2>
            <% unless recipe.description.length == 0 %>
              <p><%= recipe.description.truncate(140, :omission => ' [...]') %></p>
            <% end %>

          </div>
        <% end %>

      <% end %>

    </div>

    <p class="printer-copy">
      <%= t('recipes.printing.print_copy') %>
    </p>

  </article>

<% end %>


<%= link_to :new_recipe, class: 'btn-paper' do %>
  <%= inline_svg('add.svg') %>
<% end %>
