<% if params[:search] %>
<%- title "Search" %>
<% else %>
<%- title "Recipes" %>
<% end %>
<% activate_nav!(:recipes) %>

<%= render "shared/nav" %>

<article class="col-7 recipe-list-container">

  <% if params[:search] %>
  <h1>Searching for <%= params[:search] %></h1>
  <% else %>
  <h1 class="ib"><%= t("general.recipes") %></h1>
  <%= link_to :random_recipe, class: "header-indicator has-tooltip random", data: { tooltip: "Random recipe!" } do %>
    <%= inline_svg("random.svg") %>
  <% end %>
  <% end %>

  <%# Onboarding cards, prevent from showing in search results %>
  <% unless params[:search] %>
  <% if @recipes_count > 1 && @recipes_count < 7 %>
  <p class="print-hide panel m1-btm">
    Cookbooks with only <%= pluralize(@recipes_count, "recipe") %> in them aren't very useful. <%= link_to "Add some more", :new_recipe %>!
  </p>
  <% elsif @recipes_count > 8 && @favorites_count == 0 %>
  <p class="print-hide panel m1-btm">
    Favorites are a great way to quickly access your best recipes. To mark a Favorite, click the heart under Details while you edit a recipe.
    <br>
    Or <a href="http://noodles.withdraft.com/#favorites">learn more about Favorites</a>.
  </p>
  <% end %>
  <% end %>

  <%= form_tag recipes_path, :method => "get" do %>
  <div class="search-form">
    <%= label_tag :search do %>
      <%= inline_svg("search.svg") %>
    <% end %>
    <%= text_field_tag :search, params[:search], class: "text-input invisble-input m0-btm", placeholder: ("Search " + pluralize(@recipes.count, t("general.recipe")) + "... ") %>
  </div>
  <% end %>

  <% if params[:search] && @recipes_count == 0 %>
  <p class="m1-top">Sorry, no search results!</p>
  <% end %>

  <div class="recipe-list">
    <%= render partial: "recipe", collection: @recipes, cache: true %>
  </div>

  <p class="printer-copy"><%= t("recipes.printing.print_copy") %></p>

</article>

<div id="importModal" role="dialog" class="modal">
  <a class="modal-close float-right" href="#">
    <%= inline_svg("close.svg") %>
  </a>
  <h2>Import a Recipe from the Web</h2>
  <hr>
  <p class="m0">Paste the URL of a recipe below to save it to Noodles.</p>
  <small class="block">Websites supported: <a href="http://www.epicurious.com/">Epicurious</a>, <a href="www.bonappetit.com/">Bon Appetit</a>, <a href="http://cooking.nytimes.com">NYTimes Cooking</a>, <a href="http://foodandwine.com/">Food and Wine</a>, and <a href="http://allrecipes.com/">Allrecipes</a>.</small>
  <br>
  <%= form_tag("/import", method: "get") do %>
    <%= url_field_tag :url, nil, class: "text-input full-width", placeholder: "Paste the URL here" %>
    <%= submit_tag("Import", name: nil, class: "float-right btn-blue") %>
  <% end %>
</div>


<a class="has-tooltip btn-paper-mini" id="importModalTrigger" name="importModal" href="#importModal" data-tooltip="Import from a link">
  <%= inline_svg("import.svg") %>
</a>

<%= link_to :new_recipe, class: "has-tooltip btn-paper", data: { tooltip: "Add a new recipe"} do %>
  <%= inline_svg("add.svg") %>
<% end %>
