<% if params[:search] %>
<%- title "Search" %>
<% else %>
<%- title "Recipes" %>
<% end %>
<% activate_nav!(:recipes) %>

<%= render "shared/nav" %>

<article class="col-7 container">
  <%= react_component("RecipeList", showHeader: true, linkType: "normal", headerText: "Recipes", showRandom: true, recipes: @recipes.as_json) %>
</article>

<div id="importModal" role="dialog" class="modal">
  <%= react_component("ModalClose") %>
  <h2>Import a Recipe from the Web</h2>
  <hr>
  <p class="m0">Paste the URL of a recipe below to save it to Noodles.</p>
  <small class="block">Websites supported: <a href="http://www.epicurious.com/">Epicurious</a>, <a href="www.bonappetit.com/">Bon Appetit</a>, <a href="http://cooking.nytimes.com">NYTimes Cooking</a>, <a href="http://foodandwine.com/">Food and Wine</a>, and <a href="http://allrecipes.com/">Allrecipes</a>.</small>
  <br>
  <%= form_tag("/import", method: "get") do %>
    <%= url_field_tag :url, nil, class: "text-input full-width", placeholder: "Paste the URL here" %>
    <%= submit_tag("Import", name: nil, class: "float-right btn-blue") %>
  <% end %>
</div>


<a class="has-tooltip btn-paper-mini" id="importModalTrigger" name="importModal" href="#importModal" data-tooltip="Import from a link">
  <%= inline_svg("import.svg") %>
</a>

<%= link_to :new_recipe, class: "has-tooltip btn-paper", data: { tooltip: "Add a new recipe" } do %>
  <%= inline_svg("add.svg") %>
<% end %>
