<% if params[:search] %>
<%- title "Search" %>
<% else %>
<%- title "Recipes" %>
<% end %>
<% activate_nav!(:recipes) %>

<%= render "shared/nav" %>

<article class="sm-col-11 md-col-7 mx-auto">
  <%= react_component("RecipeList", showHeader: true, linkType: "normal", headerText: "Recipes", showRandom: true, recipes: @recipes.as_json) %>
</article>

<%= render "import" %>

<a class="has-tooltip btn-paper-mini" id="importModalTrigger" name="importModal" href="#importModal" data-tooltip="Import from a link">
  <%= inline_svg("import.svg") %>
</a>

<%= link_to :new_recipe, class: "has-tooltip btn-paper", data: { tooltip: "Add a new recipe" } do %>
  <%= inline_svg("add.svg") %>
<% end %>
