<%- title @recipe.title %>
<% activate_nav!(:shared_recipe) %>

<% content_for :meta do -%>
  <meta name="twitter:card" content="summary">
  <meta property="og:site_name" content="Noodles" />
  <meta name="twitter:domain" content="getnoodl.es">
  <meta property="og:url" content="http://app.getnoodl.es/s/<%= @recipe.id %>">
  <meta property="og:title" content="<%= @recipe.title %>">
  <meta name="twitter:title" content="<%= @recipe.title %>">
  <% if @recipe.img.url == '' %>
    <meta property="og:image" content="<%= image_url('apple-touch-icon.png') %>"/>
    <meta name="twitter:image:src" content="<%= image_url('apple-touch-icon.png') %>">
  <% else %>
    <meta property="og:image" content="<%= @recipe.img.url %>"/>
    <meta name="twitter:image:src" content="<%= @recipe.img.url %>">
  <% end %>
  <% if @recipe.description == nil %>
    <meta property="og:description" content="<%= @recipe.title %> is a recipe published on Noodles, an app to help you cook better.">
    <meta property="twitter:description" content="<%= @recipe.title %> is a recipe published on Noodles, an app to help you cook better.">
  <% else %>
    <meta property="og:description" content="<%= @recipe.description %>">
    <meta name="twitter:description" content="<%= @recipe.description %>">
  <% end %>
<% end -%>

<%= render 'shared/nav' %>

<article class="col-8 recipe-print document">

  <h1 class="m0 ib"><%= @recipe.title %></h1>

  <% unless @recipe.img.url == '' %>
  <%= image_tag @recipe.img, class: 'recipe-photo' %>
  <% end %>

  <div class="text m1-btm">
    <p class="text-muted">Published by <%= User.find(@recipe.user_id).first_name %></p>
    <%= markdown(@recipe.description) %>
  </div>

  <% if current_user && current_user.id == @recipe.user_id %>
    <div class="panel ib social-panel">
      <h2 class="text-success">Great, your recipe is public!</h2>
      <%= render 'shared/social' %>
    </div>
  <% end %>

  <%= render 'recipe_body', cache: true %>

  <%# Unless it's your recipe, show sharing buttons %>
  <% unless current_user && @recipe.user_id == current_user.id %>
    <div class="panel social-panel">
      <h2 class="m0">If you like this this recipe, share it.</h2>
      <%= render 'shared/social' %>
    </div>
  <% end %>

  <%# If it's your recipe, hint about saving %>
  <% if current_user && @recipe.user_id == current_user.id %>
  <div class="action-list">
    <a class="disabled" title="Others can click this button to save a copy of the recipe to their Noodles accounts">
      <%= inline_svg('save.svg') %>
      <span>Save</span>
    </a>

  <%# If you're logged in, show Save button %>
  <% elsif current_user %>
  <div class="action-list">
    <%= link_to :save_to_noodles, title: 'Save a copy of this recipe to your own account' do %>
      <%= inline_svg('save.svg') %>
      <span>Save</span>
    <% end %>

  <%# Everyone else should sign up for Noodles %>
  <% else %>
  <p><a href="http://www.getnoodl.es">Noodles</a> is a simple place to keep all your recipes. <%= link_to 'Sign up', :sign_up %> to save this recipe &mdash; it's fast and completely free.</p>
  <div class="action-list">
  <% end %>

    <a id="printRecipe">
      <%= inline_svg('print.svg') %>
      <span><%= t('general.print') %></span>
    </a>

  </div>

  <%= render 'shared/printer' %>

</article>
