<%= render 'shared/nav' %>

<div class="container col-8 print-full-width recipe-print">

  <h1><%= @recipe.title %></h1>
  <p><%= @recipe.description.html_safe %></p>

  <% if current_user.id == @recipe.user_id %>
    <div class="panel">
      Great, your recipe is public! Send someone this link:
      <a href="http://app.getnoodl.es/s/<%= @recipe.id %>">http://app.getnoodl.es/s/<%= @recipe.id %></a>
    </div>
  <% end %>

  <% if @recipe.img.url != '/imgs/original/missing.png' %>
    <div class="img-container">
      <%= image_tag @recipe.img.url %>
    </div>
  <% end %>

  <h2>Ingredients</h1>
  <div class="text">
    <%= simple_format(@recipe.ingredients.html_safe) %>
  </div>

  <h2>Instructions</h2>
  <div class="text">
    <%= @recipe.instructions_rendered.html_safe %>
  </div>

  <div class="action-list">

    <a onclick="window.print();">
      <%= inline_svg('ios7-printer-outline.svg') %>
      <span><%= t('general.print') %></span>
    </a>

    <a href="#">
      <%= inline_svg('ios7-upload-outline.svg') %>
      <span>Share</span>
    </a>

  </div>

  <div class="row">
    <%= render 'shared/printer' %>
  </div>

</div>
