<%- title @recipe.title.html_safe %>
<% activate_nav!(:recipes) %>
<% activate_nav!(:shared_recipe) %>
<% remove_grey_bg! if @image_layout %>

<% content_for :meta do -%>
  <% if @recipe.imaged? %>
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="<%= @recipe.img.url %>"/>
    <meta name="twitter:image" content="<%= @recipe.img.url %>">
  <% else %>
    <meta name="twitter:card" content="summary">
  <% end %>
  <meta property="og:site_name" content="Noodles" />
  <meta property="og:url" content="<%= @shared_url %>">
  <meta property="og:title" content="<%= @recipe.title %>">
  <meta name="twitter:title" content="<%= @recipe.title %>">
  <% if @recipe.description.blank? %>
    <% @description = "Check out this recipe published on Noodles by #{@recipe.user.first_name}." %>
    <meta property="og:description" content="<%= @description %>">
    <meta property="twitter:description" content="<%= @description %>">
  <% else %>
    <meta property="og:description" content="<%= @recipe.description %> — Published on Noodles">
    <meta name="twitter:description" content="<%= @recipe.description %> — Published on Noodles">
    <meta name="description" content="<%= @recipe.description %> — Published on Noodles">
  <% end %>
<% end -%>

<%= render 'shared/nav' %>

<main itemscope itemtype="http://schema.org/Recipe">
  <meta itemprop="url" content="<%= @shared_url %>" />
  <meta itemprop="dateCreated" content="<%= @recipe.created_at %>" />
  <meta itemprop="dateModified" content="<%= @recipe.updated_at %>" />

  <%= render 'image_header' if @image_layout %>

  <article class="document pan mw7">
    <% if me_owns_recipe? %>
      <section class="flex fac bg-grey-3 pam phl-ns mbm mbl-ns rounded-top white">
        <%= inline_svg 'locked.svg', size: 18, class: 'fill-white' %>
        <p class="white mls mbn dib">
          This is a preview of the public recipe page.
        </p>
        <div class="flex-auto"></div>
        <%= link_to 'Back', recipe_path(@recipe), class: 'link-reset mrm underline f5' %>
        <a href="#share" class="link-reset underline f5" data-behavior="modal_trigger">
          Share link
        </a>
      </section>
    <% end %>

    <% if !@image_layout %>
      <header class="phm phl-ns">
        <h1 class="mtm mtl-ns" itemprop="name"><%= @recipe.title %></h1>
        <% if @recipe.user.present? %>
        <p class="grey-3">Shared by <%= @recipe.user.first_name %></p>
        <% end %>
        <div class="text" itemprop="description"><%= sanitize markdown(@recipe.description.to_s) %></div>
      </header>
    <% end %>

    <section class="<%= @image_layout ? "phm #{me_owns_recipe? ? 'mbl-ns' : 'pvm-ns'}" : 'phm mbm' %> phl-ns">
      <%= render 'recipe_body' %>
    </section>

    <% if user_signed_in? && not_my_recipe? %>
      <footer class="tc">
        <%= link_to 'Save to my Noodles', :save_to_noodles, 'aria-label': 'Save your own copy', class: 'btn bg-orange tooltipped tooltipped--n mbm mbl-ns b dn-p' %>
      </footer>
    <% elsif nobody_signed_in? %>
      <footer class="border-top pam pal-ns tc mtm">
        <%= render 'shared/interested_in_noodles' %>
      </footer>
    <% end %>
  </article>

  <%= react_component 'NoteEditor', id: @recipe.id, plain: @recipe.notes, rendered: notes_rendered, allowEditing: me_owns_recipe? %>
</main>

<%= render 'social' %>

<%= link_to public_cook_path(@recipe.shared_id), class: 'btn-paper bg-orange fill-white circle fixed pam shadow-deep shadow-deep--effect', rel: 'nofollow' do %>
  <%= inline_svg 'cook.svg' %>
<% end %>
