<%- title @recipe.title.html_safe %>
<% activate_nav!(:shared_recipe) %>

<% content_for :meta do -%>
  <meta name="twitter:card" content="summary">
  <meta property="og:site_name" content="Noodles" />
  <meta name="twitter:domain" content="getnoodl.es">
  <meta property="og:url" content="<%= @shared_url %>">
  <meta property="og:title" content="<%= @recipe.title %>">
  <meta name="twitter:title" content="<%= @recipe.title %>">
  <% unless @recipe.img.url.blank? %>
    <meta property="og:image" content="<%= @recipe.img.url %>"/>
    <meta name="twitter:image:src" content="<%= @recipe.img.url %>">
  <% end %>
  <% if @recipe.description.blank? %>
    <meta property="og:description" content="<%= @recipe.title %> is on Noodles, an app to help you keep, cook, and share all your recipes.">
    <meta property="twitter:description" content="<%= @recipe.title %> is on Noodles, an app to help you keep, cook, and share all your recipes.">
  <% else %>
    <meta property="og:description" content="<%= @recipe.description %> (Published on Noodles)">
    <meta name="twitter:description" content="<%= @recipe.description %> (Published on Noodles)">
  <% end %>
<% end -%>

<%= render "shared/nav" %>

<article class="document">

  <div itemscope itemtype="http://schema.org/Recipe">
    <meta itemprop="url" content="<%= @shared_url %>" />
    <meta itemprop="dateCreated" content="<%= @recipe.created_at %>" />
    <meta itemprop="dateModified" content="<%= @recipe.updated_at %>" />

    <h1 class="m0" itemprop="name"><%= @recipe.title %></h1>
    <p class="grey-3 mb1">Shared by <%= @owner %></p>
    <div itemprop="description"><%= markdown(@recipe.description) %></div>
    <%= render "shared/social" if me_owns_recipe? %>
    <%= render "recipe_body", cache: true %>
  </div>

  <%# If it's your recipe, hint about saving %>
  <% if me_owns_recipe? %>
  <div class="mt2 print-hide">
    <a class="btn bg-orange mr1" title="Others can click this button to save a copy of your recipe to their Noodles account." disabled>Save</a>
    <%= link_to "Un-share", recipe_un_share_path(@recipe), class: "btn bg-red mr1" %>
    <a class="btn bg-blue"><%= t("general.print") %></a>

  <%# If you're logged in, show Save button %>
  <% elsif user_signed_in? %>
  <div class="mt2 print-hide">
    <%= link_to "Save", :save_to_noodles, title: "Save a copy of this recipe to your own account", class: "btn bg-orange mr1" %>
    <a class="btn bg-blue" data-behavior="print"><%= t("general.print") %></a>

  <%# Everyone else should sign up for Noodles %>
  <% else %>
  <div class="sm-col-10 md-col-8 border rounded p3 mt2 print-hide mx-auto">
    <h2 class="mt0">Wondering about Noodles?</h2>
    <p><%= link_to "Noodles", root_url, class: "orange" %> is a simple app for you to collect, cook, and share your favorite recipes.
    <p><%= link_to "Sign up", :sign_up, class: "orange" %> to save this recipe &mdash; it's fast and completely free.</p>
    <p class="center mb0">
      <%= link_to "Try Noodles", sign_up_path, class: "btn bg-orange sm-col-8 md-col-5" %>
    </p>
  </div>
  <% end %>

  </div>

  <%= render "shared/printer" %>

</article>

<%= link_to recipe_cook_path(recipe_id: @recipe.id), class: "btn-paper bg-orange fill-white circle fixed p2 shadow" do %>
  <%= inline_svg("cook.svg") %>
<% end %>
