<%- title @recipe.title %>
<% activate_nav!(:shared_recipe) %>

<% content_for :meta do -%>
  <meta name="twitter:card" content="summary">
  <meta property="og:site_name" content="Noodles" />
  <meta name="twitter:domain" content="getnoodl.es">
  <meta property="og:url" content="<%= @shared_url %>">
  <meta property="og:title" content="<%= @recipe.title %>">
  <meta name="twitter:title" content="<%= @recipe.title %>">
  <% if @recipe.img.url.blank? %>
    <meta property="og:image" content="<%= image_url('apple-touch-icon.png') %>"/>
    <meta name="twitter:image:src" content="<%= image_url('apple-touch-icon.png') %>">
  <% else %>
    <meta property="og:image" content="<%= @recipe.img.url %>"/>
    <meta name="twitter:image:src" content="<%= @recipe.img.url %>">
  <% end %>
  <% if @recipe.description.blank? %>
    <meta property="og:description" content="<%= @recipe.title %> is a recipe published on Noodles, an app to help you cook better.">
    <meta property="twitter:description" content="<%= @recipe.title %> is a recipe published on Noodles, an app to help you cook better.">
  <% else %>
    <meta property="og:description" content="<%= @recipe.description %>">
    <meta name="twitter:description" content="<%= @recipe.description %>">
  <% end %>
<% end -%>

<%= render "shared/nav" %>

<article class="col-7 recipe-print document">

  <h1 class="m0"><%= @recipe.title %></h1>

  <p class="grey-3 mb1">Shared by <%= @owner %></p>
  <%= markdown(@recipe.description) %>

  <%= render "shared/social" if me_owns_recipe? %>

  <%= render "recipe_body", cache: true %>

  <%# If it's your recipe, hint about saving %>
  <% if me_owns_recipe? %>
  <div class="mt2 print-hide">
    <a class="btn mr1" title="Others can click this button to save a copy of your recipe to their Noodles account." disabled>Save</a>
    <%= link_to "Un-share", recipe_un_share_path(@recipe), class: "btn-red mobile-button mr1" %>
    <a class="btn-blue" id="printRecipe"><%= t("general.print") %></a>

  <%# If you're logged in, show Save button %>
  <% elsif user_signed_in? %>
  <div class="mt2 print-hide">
    <%= link_to "Save", :save_to_noodles, title: "Save a copy of this recipe to your own account", class: "btn mobile-button mr1" %>
    <a class="btn-blue" id="printRecipe"><%= t("general.print") %></a>

  <%# Everyone else should sign up for Noodles %>
  <% else %>
  <div class="bg-white rounded shadow p2 print-hide mx-auto col-8">
    <h2>Wondering about Noodles?</h2>
    <p><%= link_to "Noodles", root_url, class: "text-primary" %> is a simple app for you to collect, cook, and share your favorite recipes.
    <p><%= link_to "Sign up", :sign_up, class: "text-primary" %> to save this recipe &mdash; it's fast and completely free.</p>
    <p><%= link_to "Try Noodles", :sign_up, class: "btn mobile-button" %>
  </div>
  <% end %>

  </div>

  <%= render "shared/printer" %>

</article>
