<%- title @recipe.title.html_safe %>
<% activate_nav!(:shared_recipe) %>
<% remove_grey_bg! if @image_layout %>

<% content_for :meta do -%>
  <% if @recipe.imaged? %>
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="<%= @recipe.media_url %>"/>
    <meta name="twitter:image" content="<%= @recipe.media_url %>">
  <% else %>
    <meta name="twitter:card" content="summary">
  <% end %>
  <meta property="og:site_name" content="Noodles" />
  <meta property="og:url" content="<%= @recipe.public_url %>">
  <meta property="og:title" content="<%= @recipe.title %>">
  <meta name="twitter:title" content="<%= @recipe.title %>">
  <% @description = "Recipe published on Noodles by #{@recipe.publisher}." if @recipe.description.blank? %>
  <meta property="og:description" content="<%= @description || @recipe.description %>">
  <meta name="twitter:description" content="<%= @description || @recipe.description %>">
  <meta name="description" content="<%= @description || @recipe.description %>">
  <%= make_schema({
    '@context': 'http://schema.org',
    '@type': 'Recipe',
    dateCreated: @recipe.created_at,
    dateModified: @recipe.updated_at,
    name: @recipe.title,
    description: @recipe.description,
    image: @recipe.photo_url,
    recipeIngredient: @recipe.ingredients.to_s.lines.map(&:chomp!),
    recipeInstructions: @recipe.instructions.to_s.lines.map(&:chomp!),
    recipeYield: @recipe.serves,
    author: {
      '@type': 'Person',
      name: @recipe.publisher,
    },
    isAccessibleForFree: true,
    provider: org_schema,
    url: @recipe.public_url,
    potentialAction: {
      '@type': 'CookAction'
    }
  }) %>
<% end -%>

<% cache ['share', 'v1', @recipe] do %>
  <% if @image_layout %>
    <%= render 'image_header' %>
    <article class="mw7 mx-auto bx pam phl-ns">
      <%= render 'recipe_body' %>
    </article>
  <% else %>
    <article class="document mw7 mtm mbn">
      <h1 class="mvn" itemprop="name"><%= @recipe.title %></h1>
      <div class="mbm dn-p flex fac lh0 fr-ns absolute-ns t0-ns r0-ns mrm-ns mtl-ns">
        <%= link_to save_path(url: share_url(@recipe.shared_id)),
          'data-behavior': 'show_unless_mine',
          class: 'mrm pointer tooltipped tooltipped--n',
          'aria-label': 'Save to your library' do %>
          <%= inline_svg 'add_circle.svg', class: 'fill-orange', size: 32 %>
        <% end %>
        <%= link_to public_cook_path(@recipe.shared_id),
          class: 'mrm pointer tooltipped tooltipped--n',
          'aria-label': 'Open in Cook Mode' do %>
          <%= inline_svg 'cook.svg', class: 'fill-orange', size: 32 %>
        <% end %>
      </div>
      <%= content_tag :p,
        "Shared by #{@recipe.publisher}",
        class: 'grey-3' if @recipe.user
      %>
      <%= content_tag :div,
        markdown(@recipe.description),
        class: 'text content',
        itemprop: 'description' if @recipe.description
      %>

      <%= render 'recipe_body' %>
    </article>
  <% end %>

  <%= render 'shared/promo' %>
<% end %>
