<%= render 'shared/nav' %>

<div class="container col-8 recipe-print">

  <%= header_cleaner(@recipe.title, class: 'ib') %>
  <p class="text-muted m0">Published by <%= User.find(@recipe.user_id).first_name %></p>
  <p><%= cleaner(@recipe.description) %></p>

  <% if current_user && current_user.id == @recipe.user_id %>
    <div class="panel social-panel">
      <h2 class="text-success">Great, your recipe is now public!</h2>
      <%= render 'shared/social' %>
    </div>
  <% end %>

  <% unless @recipe.img.url == '' %>
    <%= image_tag @recipe.img %>
  <% end %>

  <h2>Ingredients</h1>
  <%= list_cleaner(@recipe.ingredients, class: 'text') %>

  <h2>Instructions</h2>
  <div class="text">
    <%= @recipe.instructions_rendered.html_safe %>
  </div>

  <% unless current_user && @recipe.user_id == current_user.id %>
    <div class="panel social-panel">
      <h2 class="m0">Like this recipe? Share it!</h2>
      <%= render 'shared/social' %>
    </div>
  <% end %>

  <div class="action-list">

    <% unless current_user && @recipe.user_id == current_user.id %>
      <%= link_to :save_to_noodles do %>
        <%= inline_svg('ios7-download-outline.svg') %>
        <span>Save</span>
      <% end %>
    <% end %>

    <a onclick="window.print();">
      <%= inline_svg('ios7-printer-outline.svg') %>
      <span><%= t('general.print') %></span>
    </a>

  </div>

  <div class="row">
    <%= render 'shared/printer' %>
  </div>

</div>
