<% content_for :meta do -%>
  <meta name="twitter:card" content="summary">
  <meta property="og:site_name" content="Noodles" />
  <meta name="twitter:domain" content="getnoodl.es">
  <meta property="og:url" content="http://app.getnoodl.es/s/<%= @recipe.id %>">
  <meta property="og:title" content="<%= @recipe.title %>">
  <meta name="twitter:title" content="<%= @recipe.title %>">
  <% if @recipe.img.url == '' %>
    <meta property="og:image" content="<%= image_url('apple-touch-icon.png') %>"/>
    <meta name="twitter:image:src" content="<%= image_url('apple-touch-icon.png') %>">
  <% else %>
    <meta property="og:image" content="<%= @recipe.img.url %>"/>
    <meta name="twitter:image:src" content="<%= @recipe.img.url %>">
  <% end %>
  <% if @recipe.description == nil %>
    <meta property="og:description" content="<%= @recipe.title %> is a recipe published on Noodles, an app to help you cook better.">
    <meta property="twitter:description" content="<%= @recipe.title %> is a recipe published on Noodles, an app to help you cook better.">
  <% else %>
    <meta property="og:description" content="<%= @recipe.description %>">
    <meta name="twitter:description" content="<%= @recipe.description %>">
  <% end %>
<% end -%>

<link rel="stylesheet" href="//brick.a.ssl.fastly.net/Source+Serif+Pro:400">

<%= render 'shared/nav' %>

<article class="col-8 recipe-print">

  <h1><%= @recipe.title %></h1>
  <p class="text-muted m0">Published by <%= User.find(@recipe.user_id).first_name %></p>
  <%= simple_format(@recipe.description, class: 'm1-top') %>

  <% if current_user && current_user.id == @recipe.user_id %>
    <div class="panel social-panel">
      <%= link_to 'View private recipe', :recipe, class: 'btn btn-sm btn-default float-right m0' %>
      <h2 class="text-success">Great, your recipe is public!</h2>
      <%= render 'shared/social' %>
    </div>
  <% end %>

  <% unless @recipe.img.url == '' %>
    <%= image_tag @recipe.img %>
  <% end %>

  <h2 class="m1-top">Ingredients</h1>
  <%= simple_format(@recipe.ingredients, class: 'text') %>

  <h2 class="m1-top">Instructions</h2>
  <div class="text">
    <%= sanitize @recipe.instructions_rendered %>
  </div>

  <p id="recipe-details-btn" class="text-primary block m1-top">
    <%= inline_svg('info_outline.svg') %>
    Show Details
  </p>

  <div class="hide" id="recipe-details-container">
    <h2 class="m1-top">Details</h2>
    <p class="text-muted">Source: <%= @recipe.source %>
    <p class="text-muted">Serves: <%= @recipe.serves %>
  </div>

  <% unless current_user && @recipe.user_id == current_user.id %>
    <div class="panel social-panel">
      <h2 class="m0">If you like this this recipe, share it.</h2>
      <%= render 'shared/social' %>
    </div>
  <% end %>

  <div class="action-list">

    <% unless current_user && @recipe.user_id == current_user.id %>
      <%= link_to :save_to_noodles do %>
        <%= inline_svg('save.svg') %>
        <span>Save</span>
      <% end %>
    <% end %>

    <a onclick="window.print();">
      <%= inline_svg('print.svg') %>
      <span><%= t('general.print') %></span>
    </a>

  </div>

  <%= render 'shared/printer' %>

</article>
