<%- title @recipe.title.html_safe %>
<% activate_nav!(:recipes) %>

<%= render 'shared/nav' %>

<div itemscope itemtype="http://schema.org/Recipe">
  <meta itemprop="url" content="<%= @shared_url %>" />
  <meta itemprop="dateCreated" content="<%= @recipe.created_at %>" />
  <meta itemprop="dateModified" content="<%= @recipe.updated_at %>" />

  <%= render 'image_header' if @image_layout %>

  <main class="document mw7">

    <% if !@image_layout %>
      <%= form_for(@recipe, 'data-remote': true, html: { class: 'dib dn-p fr' }) do |f| %>
        <label class="tooltipped man" aria-label="Favorite">
          <%= f.check_box :favorite, class: 'recipe__favorite__checkbox', 'data-behavior': 'recipe_favorite_trigger' %>
          <%= inline_svg 'favorite_outline.svg', class: 'fill-orange pointer recipe__favorite__indicator', size: 32 %>
          <%= inline_svg 'favorite.svg', class: 'fill-orange pointer recipe__favorite__indicator--checked', size: 32 %>
        </label>
      <% end %>

      <h1 class="man di" itemprop="name"><%= @recipe.title %></h1>
      <div class="text mtm" itemprop="description"><%= sanitize markdown @recipe.description.to_s %></div>

    <% end %>

    <%= render 'recipe_body' %>

    <%= render 'shared/social' if @recipe.shared? %>

    <div class="dn-p mts">
      <%= link_to t('general.edit'), :edit_recipe, class: 'btn bg-blue mrs mts' %>
      <a href="#collectModal" class="btn bg-orange mrs mts" data-behavior="modal_trigger">Add to Collection</a>
      <a href="#shareModal" class="btn bg-green mrs mts" data-behavior="modal_trigger">Share</a>
      <%= link_to t('general.delete'), @recipe, method: :delete, data: { confirm: t('general.delete_forever') }, class: 'btn bg-red mts' %>
    </div>

    <%= render 'shared/printer' %>

  </main>

</div>

<%= render 'meta' %>
