<%= render 'layouts/flash' %>

<div class="container">

  <div class="row">

    <div class="col-md-8 col-md-offset-2">

      <h1 class="page-title">
        <%= @recipe.title %>
      </h1>

      <div class="serif">
        <%= simple_format(@recipe.description.html_safe) %>
      </div>

    </div>

  </div>

  <div class="row">

    <div class="col-md-8 col-md-offset-2">

      <h1>Ingredients</h1>

      <div class="serif">
        <%= simple_format(@recipe.ingredients.html_safe) %>
      </div>

    </div>

  </div>

  <div class="row">

    <div class="col-md-8 col-md-offset-2">

      <h1>Instructions</h1>

      <div class="serif">
        <%= simple_format(@recipe.instructions.html_safe) %>
      </div>

    </div>

  </div>

</div>

<%= link_to :edit_recipe, class: 'btn-paper btn-paper-right animated bounceInUp' do %>
  <span class="geomicon geomicon-write"></span>
<% end %>
