<link rel="stylesheet" href="//brick.a.ssl.fastly.net/Source+Serif+Pro:400">

<%= render 'shared/nav' %>

<article class="col-8 recipe-print">

  <h1>
    <%= @recipe.title %>

  <% if @recipe.favorite == true %>
    <h1 class="favorite ib">
      <%= inline_svg('ios7-star.svg') %>
    </h1>
  <% end %>
  <% if @recipe.shared == true %>
    <h1 class="favorite ib">
      <%= inline_svg('ios7-upload.svg') %>
    </h1>
  <% end %>
  </h1>

  <%= simple_format(@recipe.description, class: 'm0') %>

  <% if @recipe.shared == true %>
    <div class="panel social-panel">
      <%= link_to 'View public recipe', recipe_share_path(:id => @recipe.id), class: 'btn btn-sm btn-default float-right m0' %>
      <h2 class="text-success">You've shared this recipe.</h2>
      <%= render 'shared/social' %>
    </div>
  <% end %>

  <% unless @recipe.img.url == '' %>
    <%= image_tag @recipe.img %>
  <% end %>

  <h2 class="m1-top">Ingredients</h1>
  <%= simple_format(@recipe.ingredients, class: 'text') %>

  <h2 class="m1-top">Instructions</h2>
  <div class="text">
    <%= sanitize @recipe.instructions_rendered %>
  </div>

  <div class="action-list m1-top">

    <%= link_to :edit_recipe do %>
      <%= inline_svg('ios7-compose-outline.svg') %>
      <span><%= t('general.edit') %></span>
    <% end %>

    <a onclick="window.print();">
      <%= inline_svg('ios7-printer-outline.svg') %>
      <span><%= t('general.print') %></span>
    </a>

    <%= link_to recipe_share_path(:id => @recipe.id) do %>
      <%= inline_svg('ios7-upload-outline.svg') %>
      <span>Share</span>
    <% end %>

  </div>

  <%= render 'shared/printer' %>

</article>

<%= link_to recipe_cook_path(:recipe_id => @recipe.id), class: 'btn-paper' do %>
  <%= inline_svg('ios7-photos.svg') %>
<% end %>
