<%- title @recipe.title.html_safe %>
<% activate_nav!(:recipes) %>

<%= render "shared/nav" %>

<div itemscope itemtype="http://schema.org/Recipe">
  <meta itemprop="url" content="<%= @shared_url %>" />
  <meta itemprop="dateCreated" content="<%= @recipe.created_at %>" />
  <meta itemprop="dateModified" content="<%= @recipe.updated_at %>" />

  <% if @image_layout %>
    <header class="image-header inline-with-nav relative bg-cover bg-center md-flex flex-center pam"
            style="background-image: url(<%= @recipe.img.url %>);">

      <div class="md-col-8 mx-auto mw7">
        <h1 class="white mb1 inline-block h0" itemprop="name"><%= @recipe.title %></h1>
        <%= form_for(@recipe, data: { remote: true }, html: { class: 'inline-block print-hide ml1' }) do |f| %>
          <label class="control m0">
            <%= f.check_box :favorite, class: 'control-checkbox', data: { behavior: 'recipe_favorite_trigger' } %>
            <%= inline_svg 'favorite_outline.svg', class: 'fill-white pointer control-indicator', size: 24 %>
            <%= inline_svg 'favorite.svg', class: 'fill-white pointer control-indicator-checked', size: 24 %>
          </label>
        <% end %>

        <% if @recipe.description.present? %>
        <div class="white" itemprop="description">
          <%= whitened_markdown @recipe.description %>
        </div>
        <% end %>
      </div>

      <a href="#photo" name="photo mr1 flex-last pointer" data-behavior="modal_trigger">
        <%= inline_svg 'fullscreen.svg', class: 'fill-white' %>
      </a>
    </header>

    <section id="photo" role="dialog" class="modal">
      <div class="pointer absolute pas" style="right: 1rem;" data-behavior="modal_close">
        <%= inline_svg 'close.svg', class: 'fill-white' %>
      </div>
      <%= image_tag @recipe.img, class: 'col-12', itemprop: 'image' %>
    </section>

    <%= render 'shared/flash' if flash.any? %>

  <% end %>

  <main class="document mw7">

    <% if !@image_layout %>
      <%= form_for(@recipe, data: { remote: true }) do |f| %>
        <label class="control right inline-block m0 print-hide">
          <%= f.check_box :favorite, class: 'control-checkbox', data: { behavior: 'recipe_favorite_trigger' } %>
          <%= inline_svg 'favorite_outline.svg', class: 'fill-orange pointer control-indicator', size: 32 %>
          <%= inline_svg 'favorite.svg', class: 'fill-orange pointer control-indicator-checked', size: 32 %>
        </label>
      <% end %>

      <h1 class="m0 inline" itemprop="name"><%= @recipe.title %></h1>
      <div class="text mt2" itemprop="description"><%= markdown(@recipe.description.to_s) %></div>

    <% end %>

    <%= render 'recipe_body' %>

    <%= render 'footer' %>

  </main>

</div>

<%= render 'meta' %>
