<%= render 'shared/nav' %>

<div class="container col-8 print-full-width recipe-print">

  <% if @recipe.favorite == true %>
    <div class="pull-right">
      <span class="geomicon geomicon-star corner-star text-yellow"></span>
    </div>
  <% end %>

  <h1><%= @recipe.title %></h1>
  <p><%= @recipe.description.html_safe %></p>

  <% if @recipe.img.url != '/imgs/original/missing.png' %>
    <div class="img-container">
      <%= image_tag @recipe.img.url %>
    </div>
  <% end %>

  <h2>Ingredients</h1>
  <div class="text">
    <%= simple_format(@recipe.ingredients.html_safe) %>
  </div>

  <h2>Instructions</h2>
  <div class="text">
    <%= @recipe.instructions_rendered.html_safe %>
  </div>

  <div class="action-list">

    <%= link_to :edit_recipe do %>
      <%= inline_svg('ios7-compose-outline.svg') %>
      <span><%= t('general.edit') %></span>
    <% end %>

    <a onclick="window.print();">
      <%= inline_svg('ios7-printer-outline.svg') %>
      <span><%= t('general.print') %></span>
    </a>

    <a class="disabled">
      <%= inline_svg('ios7-upload-outline.svg') %>
      <span>Share</span>
    </a>

  </div>

  <div class="row">
    <%= render 'shared/printer' %>
  </div>

</div>

<%= link_to recipe_cook_path(:recipe_id => @recipe.id), class: 'btn-paper btn-paper-right animated bounceInUp' do %>
  <span class="geomicon geomicon-desktop"></span>
<% end %>
