<%- title @recipe.title.html_safe %>
<% activate_nav!(:recipes) %>

<%= render "shared/nav" %>

<div itemscope itemtype="http://schema.org/Recipe">
  <meta itemprop="url" content="<%= @shared_url %>" />
  <meta itemprop="dateCreated" content="<%= @recipe.created_at %>" />
  <meta itemprop="dateModified" content="<%= @recipe.updated_at %>" />

  <%= render 'image_header' if @image_layout %>

  <main class="document mw7">

    <% if !@image_layout %>
      <%= form_for(@recipe, data: { remote: true }) do |f| %>
        <label class="control fr dib man dn-p">
          <%= f.check_box :favorite, class: 'control-checkbox', data: { behavior: 'recipe_favorite_trigger' } %>
          <%= inline_svg 'favorite_outline.svg', class: 'fill-orange pointer control-indicator', size: 32 %>
          <%= inline_svg 'favorite.svg', class: 'fill-orange pointer control-indicator-checked', size: 32 %>
        </label>
      <% end %>

      <h1 class="man di" itemprop="name"><%= @recipe.title %></h1>
      <div class="text mtm" itemprop="description"><%= markdown(@recipe.description.to_s) %></div>

    <% end %>

    <%= render 'recipe_body' %>

    <%= render 'footer' %>

  </main>

</div>

<%= render 'meta' %>
