<%= render 'shared/nav' %>

<div class="container col-8 recipe-print">

  <%= header_cleaner(@recipe.title, class: 'ib') %>

  <% if @recipe.favorite == true %>
    <h1 class="favorite ib">
      <%= inline_svg('ios7-star.svg') %>
    </h1>
  <% end %>
  <% if @recipe.shared == true %>
    <h1 class="favorite ib">
      <%= inline_svg('ios7-upload.svg') %>
    </h1>
  <% end %>

  <p><%= cleaner(@recipe.description) %></p>

  <% if @recipe.shared == true %>
    <div class="panel social-panel">
      <h2 class="text-success">Your recipe is public!</h2>
      <%= render 'shared/social' %>
    </div>
  <% end %>

  <% unless @recipe.img.url == '' %>
    <%= image_tag @recipe.img %>
  <% end %>

  <h2>Ingredients</h1>
  <%= list_cleaner(@recipe.ingredients, class: 'text') %>

  <h2>Instructions</h2>
  <div class="text">
    <%= @recipe.instructions_rendered.html_safe %>
  </div>

  <div class="action-list">

    <%= link_to :edit_recipe do %>
      <%= inline_svg('ios7-compose-outline.svg') %>
      <span><%= t('general.edit') %></span>
    <% end %>

    <a onclick="window.print();">
      <%= inline_svg('ios7-printer-outline.svg') %>
      <span><%= t('general.print') %></span>
    </a>

    <%= link_to recipe_share_path(:id => @recipe.id) do %>
      <%= inline_svg('ios7-upload-outline.svg') %>
      <span>Share</span>
    <% end %>

  </div>

  <div class="row">
    <%= render 'shared/printer' %>
  </div>

</div>

<%= link_to recipe_cook_path(:recipe_id => @recipe.id), class: 'btn-paper' do %>
  <span class="geomicon geomicon-desktop"></span>
<% end %>
