<%- title @recipe.title %>
<% activate_nav!(:recipe) %>

<%= render 'shared/nav' %>

<article class="col-7 recipe-print document">

  <h1 class="m0"><%= @recipe.title %>
    <% if @recipe.favorite? %>
    <div class="header-indicator favorite">
      <%= inline_svg('favorite.svg') %>
    </div>
    <% end %>
  </h1>

  <div class="text m1-btm"><%= markdown(@recipe.description.to_s) %></div>

  <% if @recipe.shared? || @recipe.private_share? %>
    <div class="panel ib social-panel">
      <% if @recipe.shared? %>
      <h2>You've shared this recipe.</h2>
      <%= render 'shared/social' %>
      <% elsif @recipe.private_share? %>
      <h2>This recipe has a private share link.</h2>
      <p class="m1-top">
        No login is required to open this recipe from its link.
        <br>
        <%= link_to 'http://app.getnoodl.es/p/' + @recipe.private_id.to_s, private_share_path(@recipe.private_id) %>
      </p>
      <% end %>
    </div>
  <% end %>

  <%= render 'recipe_body', cache: true %>

  <div class="print-hide m1-5-top">
    <%= link_to t('general.edit'), :edit_recipe, class: 'btn m1-right' %>
    <a id="shareModalTrigger" href="#shareModal" class="btn-green m1-right">Share</a>
    <a id="printRecipe" class="btn-blue m1-right"><%= t('general.print') %></a>
  </div>

  <%= render 'shared/printer' %>

</article>

<div id="shareModal" class="modal">
  <a class="modal-close float-right" href="#">
    <%= inline_svg('close.svg') %>
  </a>
  <h2>Share this recipe</h2>
  <hr>

  <div class="tabs-container">

    <input type="radio" name="tabs" id="tab-1" checked>
    <label for="tab-1">Share Publicly</label>

    <input type="radio" name="tabs" id="tab-2">
    <label for="tab-2">Share Privately</label>

    <br>

    <div class="content content-1">
      <% if @recipe.shared? %>
      <p>Your recipe is already publicly shared!</p>
      <p><%= link_to 'Check it out.', public_share_path(:id => @recipe.id) %></p>
      <% else %>
      <p>Sharing publicly will publish this recipe to your profile and give you a link to share with anyone.</p>
      <p><%= link_to 'Share this recipe', public_share_path(:id => @recipe.id), class: 'btn-blue' %></p>
      <% end %>
    </div>

    <div class="content content-2">
      <% if @recipe.private_share? %>
      <p>Your recipe is already privately shared.</p>
      <p><%= link_to 'Check it out!', private_share_path(:private_id => @recipe.private_id) %></p>
      <% else %>
      <p>Anyone with this link can see your recipe and save their own copy. However, it will not be published to your profile.</p>
      <p><%= link_to 'Share this recipe', private_share_path(:private_id => @recipe.private_id), class: 'btn-blue' %></p>
      <% end %>
    </div>

  </div>

</div>

<%= link_to recipe_cook_path(:recipe_id => @recipe.id), class: 'btn-paper' do %>
  <%= inline_svg('cook.svg') %>
<% end %>
