<%- title @recipe.title %>
<% activate_nav!(:recipe) %>

<%= render 'shared/nav' %>

<article class="col-8 recipe-print document">

  <h1 class="m0">
    <%= @recipe.title %>

    <% if @recipe.favorite == true %>
    <div class="header-indicator">
      <%= inline_svg('favorite.svg') %>
    </div>
    <% end %>

    <% if @recipe.shared == true %>
    <div class="header-indicator">
      <%= inline_svg('share.svg') %>
    </div>
    <% end %>
  </h1>

  <%= simple_format(@recipe.description, class: 'm1-btm text') %>

  <% if @recipe.shared == true %>
    <div class="panel social-panel">
      <%= link_to 'View public recipe', recipe_share_path(:id => @recipe.id), class: 'btn btn-sm btn-default float-right m0' %>
      <h2 class="text-success">You've shared this recipe.</h2>
      <%= render 'shared/social' %>
    </div>
  <% end %>

  <% unless @recipe.img.url == '' %>
    <%= image_tag @recipe.img %>
  <% end %>

  <h2 class="m1-top">Ingredients</h1>
  <%= simple_format(@recipe.ingredients, class: 'text') %>

  <h2 class="m1-top">Instructions</h2>
  <div class="text">
    <%= sanitize @recipe.instructions_rendered %>
  </div>

  <p id="recipe-details-btn" class="text-primary block m1-top show-details">
    <%= inline_svg('info_outline.svg') %>
    Show Details
  </p>

  <div class="hide" id="recipe-details-container">
    <h2 class="m1-top">Details</h2>
    <% if @recipe.source == '' && @recipe.serves == '' %>
    <p class="text-muted">You have no details for this recipes.</p>
    <% else %>
    <p>Source: <%= @recipe.source %>
    <p>Serves: <%= @recipe.serves %>
    <% end %>

    <h2 class="m1-top">Notes</h2>
    <% if @recipe.notes == '' %>
      <p class="text-muted">You have no notes for this recipe.</p>
    <% else %>
      <div class="panel notes">
        <%= @recipe.notes %>
      </div>
    <% end %>
  </div>

  <div class="action-list m1-top">

    <%= link_to :edit_recipe do %>
      <%= inline_svg('edit.svg') %>
      <span><%= t('general.edit') %></span>
    <% end %>

    <%= link_to recipe_share_path(:id => @recipe.id) do %>
      <%= inline_svg('share.svg') %>
      <span>Share</span>
    <% end %>

    <a id="printRecipe">
      <%= inline_svg('print.svg') %>
      <span><%= t('general.print') %></span>
    </a>

  </div>

  <%= render 'shared/printer' %>

</article>

<%= link_to recipe_cook_path(:recipe_id => @recipe.id), class: 'btn-paper' do %>
  <%= inline_svg('cook.svg') %>
<% end %>
