<%- title @recipe.title %>
<% activate_nav!(:recipe) %>

<%= render "shared/nav" %>

<article class="col-7 recipe-print document">

  <%= form_for(@recipe, remote: true, html: { id: "recipeFavoriteForm" }) do |f| %>
    <label class="control favorite-btn">
      <%= f.check_box :favorite, id: "recipeFavoriteTrigger" %>
      <div class="control-indicator">
        <%= inline_svg("favorite_outline.svg") %>
      </div>
      <div class="control-indicator-checked">
        <%= inline_svg("favorite.svg") %>
      </div>
    </label>
  <% end %>

  <h1 class="m0 inline"><%= @recipe.title %></h1>

  <div class="text m1-top"><%= markdown(@recipe.description.to_s) %></div>

  <%= render "recipe_body", cache: true %>

  <% if @recipe.shared? %>
  <div class="flex">
  <div class="outlined ib center print-hide m1-top">
    <%= render "shared/social" %>
    <p class="m1-top"><strong><%= link_to "Check it out.", @shared_url, class: "btn-blue" %></strong></p>
  </div>
  </div>
  <% end %>

  <div class="print-hide m1-5-top">
    <%= link_to t("general.edit"), :edit_recipe, class: "btn-blue mobile-button m1-right" %>
    <a id="collectModalTrigger" href="#collectModal" class="btn mobile-button m1-right">Add to Collection</a>
    <a id="shareModalTrigger" href="#shareModal" class="btn-green mobile-button m1-right">Share</a>
    <a id="printRecipe" class="btn-blue mobile-button m1-right">Print</a>
  </div>

  <%= render "shared/printer" %>

</article>

<div id="collectModal" class="modal">
  <%= react_component("ModalClose") %>

  <h2>Add to Collection</h2>
  <hr>
  <% @collections = Collection.where(:user_id => current_user) %>

  <% if @collections.any? %>
    <% if @recipe.collections == [] %>
    <p>To add "<%= @recipe.title %>" to your collections, select them from the list below.</p>
    <% else %>
    <p>"<%= @recipe.title %>" is already in <%= pluralize(@recipe.collections.reject!(&:blank?).length, "collection") %>. To add it to additional collections, add it to more, select them from the list below.</p>
    <% end %>

    <%= form_for(@recipe) do |f| %>
      <ul class="collection-list">
        <%= collection_check_boxes(:recipe, :collections, @collections, :id, :name) do |b| %>
        <li>
          <%= b.label(class: "collection-list-item") do %>
            <% if @recipe.collections.include?(b.value.to_s) %>
            <%= b.check_box(:checked => "checked") %>
            <% else %>
            <%= b.check_box %>
            <% end %>
            <%= content_tag(:span, b.text) %>
          <% end %>
        </li>
        <% end %>
        <li>
          <p><a href="/collections" class="text-primary">Create a New Collection...</a></p>
        </li>
      </ul>
      <%= f.submit "Save", class: "btn-blue float-right" %>
    <% end %>
  <% else %>
    <div class="well text">
      You don't have any collections yet. Why don't you <a href="<%= collections_path %>#newCollection" class="text-blue">create one</a>?
    </div>
  <% end %>
</div>

<div id="shareModal" class="modal">
  <%= react_component("ModalClose") %>

  <h2>Share this recipe</h2>
  <hr>

  <div class="tab-container">

    <input type="radio" name="tab-set-2" class="tab-1" id="tab-2-1" checked>
    <label for="tab-2-1">Share a link</label>

    <input type="radio" name="tab-set-2" class="tab-2" id="tab-2-2">
    <label for="tab-2-2">Download a PDF</label>

    <input type="radio" name="tab-set-2" class="tab-3" id="tab-2-3">
    <label for="tab-2-3">Embed on the Web</label>

    <br>

    <div class="content content-1">
      <% if @recipe.shared? %>
      <p>Your recipe is already shared!</p>
      <p><%= link_to "Check it out", @shared_url, class: "btn-blue" %></p>
      <% else %>
      <p>Anyone with this link can see your recipe and save a copy to their own Noodles account.</p>
      <p><%= link_to "Share this recipe", recipe_share_it_path(@recipe), class: "btn-blue" %></p>
      <% end %>
    </div>

    <div class="content content-2">
      <p>Click the button below to download a PDF of your recipe.</p>
      <p><%= link_to "Download PDF", recipe_export_pdf_path(@recipe), class: "btn-blue" %></p>
    </div>

    <div class="content content-3">
      <p>Copy and paste the code below onto your website or blog to embed this recipe.</p>
      <pre class="m0"><%= @embed_code %></pre>
      <p><%= link_to "Need help?", help_path %></p>
    </div>

  </div>

</div>

<%= link_to recipe_cook_path(:recipe_id => @recipe.id), class: "btn-paper has-tooltip", data: { tooltip: "Open Cook Mode" } do %>
  <%= inline_svg("cook.svg") %>
<% end %>
