<%- title @recipe.title.html_safe %>
<% activate_nav!(:recipe) %>

<%= render "shared/nav" %>

<article class="document">

  <%= form_for(@recipe, data: { remote: true }) do |f| %>
    <label class="control right inline-block m0">
      <%= f.check_box :favorite, class: "control-checkbox", data: { behavior: "recipe_favorite_trigger" } %>
      <%= react_component("IconFavoriteOutline", { classes: "fill-orange", size: "32" }, { class: "control-indicator" }) %>
      <%= react_component("IconFavorite", { classes: "fill-orange", size: "32" }, { class: "control-indicator-checked" }) %>
    </label>
  <% end %>

  <div itemscope itemtype="http://schema.org/Recipe">
    <meta itemprop="url" content="<%= @shared_url %>" />
    <meta itemprop="dateCreated" content="<%= @recipe.created_at %>" />
    <meta itemprop="dateModified" content="<%= @recipe.updated_at %>" />

    <h1 class="m0 inline" itemprop="name"><%= @recipe.title %></h1>
    <div class="text mt2" itemprop="description"><%= markdown(@recipe.description.to_s) %></div>

    <%= render "recipe_body", cache: true %>
  </div>

  <%= render "shared/social" if @recipe.shared? %>

  <div class="print-hide py1">
    <%= link_to t("general.edit"), :edit_recipe, class: "btn bg-blue mr1 mt1" %>
    <a href="#collectModal" class="btn bg-orange mr1 mt1 js-modal-trigger">Add to Collection</a>
    <a href="#shareModal" class="btn bg-green mr1 mt1 js-modal-trigger">Share</a>
    <a class="btn bg-blue mr1 mt1" data-behavior="print">Print</a>
    <%= link_to t("general.delete"), @recipe, method: :delete, data: { confirm: t("general.delete_forever") }, class: "btn bg-red mt1" %>
  </div>

  <%= render "shared/printer" %>

</article>

<div id="collectModal" class="modal">
  <%= modal_close %>

  <h2>Add to Collection</h2>
  <hr>
  <% @collections = Collection.where(:user_id => current_user) %>

  <% if @collections.any? %>
    <% if @recipe.collections.length <= 4 %>
    <p>Add this recipe to your collections by clicking them from the list below.</p>
    <% else %>
    <p>"<%= @recipe.title %>" is already in <%= pluralize(@recipe.collections.reject!(&:blank?).length, "collection") %>. To add it to additional collections, click on them in the list below.</p>
    <% end %>

    <%= form_for(@recipe) do |f| %>
      <ul class="list-reset sm-col-10 md-col-5 mx-auto">
        <%= collection_check_boxes(:recipe, :collections, @collections, :id, :name) do |b| %>
        <li class="border-top">
          <%= b.label(class: "collection-list-item m0 p1 pointer") do %>
            <% if @recipe.collections.include?(b.value.to_s) %>
            <%= b.check_box(checked: "checked", class: "hide") %>
            <% else %>
            <%= b.check_box(class: "hide") %>
            <% end %>
            <%= content_tag(:span, b.text) %>
            <div class="checkmark fill-orange right hide">
              <%= inline_svg("check.svg") %>
            </div>
          <% end %>
        </li>
        <% end %>
        <li class="border-top border-bottom p1 grey-1">
          <%= link_to "Add a New Collection...", collections_path(:new_collection => true), class: "link-reset" %>
        </li>
      </ul>
      <%= f.submit "Save", class: "btn bg-blue right" %>
    <% end %>
  <% else %>
    <div class="text center border rounded p3">
      You don't have any collections yet. Why don't you <%= link_to "create one", collections_path(:new_collection => true), class: "blue" %>?
    </div>
  <% end %>
</div>

<div id="shareModal" class="modal">
  <%= modal_close %>

  <h2>Share this recipe</h2>
  <hr>

  <div class="tab-container">

    <input type="radio" name="tab-set-2" class="tab-1" id="tab-2-1" checked>
    <label for="tab-2-1" class="rounded-top inline-block border bg-grey-5">Share a link</label>

    <input type="radio" name="tab-set-2" class="tab-2" id="tab-2-2">
    <label for="tab-2-2" class="rounded-top inline-block border bg-grey-5">Download a PDF</label>

    <input type="radio" name="tab-set-2" class="tab-3" id="tab-2-3">
    <label for="tab-2-3" class="rounded-top inline-block border bg-grey-5">Embed on the Web</label>

    <br>

    <div class="content content-1 p1 border rounded-bottom">
      <% if @recipe.shared? %>
      <p>Your recipe is already shared!</p>
      <p><%= link_to "Check it out", @shared_url, class: "btn bg-blue" %></p>
      <% else %>
      <p>Anyone with this link can see your recipe and save a copy to their own Noodles account.</p>
      <p><%= link_to "Share this recipe", recipe_share_it_path(@recipe), class: "btn bg-blue" %></p>
      <% end %>
    </div>

    <div class="content content-2 p1 border rounded-bottom">
      <p>Click the button below to download a PDF of your recipe.</p>
      <p><%= link_to "Download PDF", recipe_export_pdf_path(@recipe), class: "btn bg-blue" %></p>
    </div>

    <div class="content content-3 p1 border rounded-bottom">
      <p>Copy and paste the code below onto your website or blog to embed this recipe.</p>
      <pre class="m0 p1 border rounded bg-grey-6 text"><%= @embed_code %></pre>
      <p class="mt1"><%= link_to "Need help?", help_path %></p>
    </div>

  </div>

</div>

<%= link_to recipe_cook_path(recipe_id: @recipe.id), class: "btn-paper bg-orange fill-white circle fixed p2 shadow" do %>
  <%= inline_svg("cook.svg") %>
<% end %>
