<%- title @recipe.title.html_safe %>
<% activate_nav!(:recipes) %>
<% remove_grey_bg! if @image_layout %>

<% cache ['show', 'v1', @recipe] do %>
  <%= render 'shared/nav', no_margin: @image_layout %>

  <%= render 'image_header' if @image_layout %>

  <% if !@image_layout %>
    <main class="document mw7 mtm">
      <h1 class="f1 f0-ns lh mtn"><%= @recipe.title %></h1>
      <div class="mtm mbm dn-p flex fac flex-rows lh0">
        <%= link_to 'Cook this', cook_recipe_path(@recipe.id), class: 'btn bg-orange mrm' %>
        <%= form_for(@recipe) do |f| %>
          <%= f.label :favorite, class: 'tooltipped tooltipped--n pointer man',
            'data-behavior': 'r_fav', 'aria-label': 'Favorite', tabindex: 0 do %>
            <%= f.check_box :favorite, class: 'fav__checkbox', 'data-behavior': 'r_fav_trigger' %>
            <%= react_component 'Icon', { glyph: 'like' }, class: 'grey-3 fav__indicator--basic' %>
            <%= react_component 'Icon', { glyph: 'like-fill' }, class: 'pink fav__indicator--checked' %>
          <% end %>
        <% end %>
        <%= link_to edit_recipe_path(@recipe),
          class: 'mlm pointer grey-3 tooltipped tooltipped--n',
          'aria-label': 'Edit' do %>
          <%= react_component 'Icon', glyph: 'edit' %>
        <% end %>
        <a
          href="#share"
          name="share"
          class="mlm pointer grey-3 tooltipped tooltipped--n"
          aria-label="Share a public link"
          data-behavior="modal_trigger">
          <%= react_component 'Icon', glyph: 'share' %>
        </a>
        <%= render 'actions', color: 'grey-3', rootClass: 'mlm', menuClass: '' %>
      </div>
      <%= content_tag :div,
        markdown(@recipe.description),
        class: 'text content mtm' if @recipe.description
      %>
      <%= render 'recipe_body' %>
    </main>
  <% else %>
    <main class="mw7 mx-auto bx phm phl-ns pvm">
      <%= render 'recipe_body' %>
    </main>
  <% end %>

  <%= render 'shared/public', object: @recipe %>

  <section id="embed" class="modal modal--mw" role="dialog">
    <%= modal_header 'Embed on the Web' %>
    <p>Copy/paste the code below to your website to embed this recipe.</p>
    <%= content_tag :textarea,
      escape_once(recipe_embed),
      class: 'input-reset w-100 man pas f5 mono border br--sm wbw bx',
      'data-behavior': 'autoselect',
      rows: 4,
      readonly: true
    %>
    <div class="flex flex-rows fac mts">
      <button
        class="btn bg-blue mrm"
        data-clipboard-text="<%= escape_once(recipe_embed) %>" data-behavior="copy">
        Copy
      </button>
      <a class="btn btn-sm bg-pink mrm" href="#help" data-behavior="modal_trigger modal_close_first">Help</a>
      <div class="flex-i fac lh0 sans grey-3 caps f5 mts mtn-ns">
        <%= react_component 'Icon', { glyph: 'channel-private', size: 28 } %>
        <span>(subscriber-only)</span>
      </div>
    </div>
    <%= section_header 'Preview', 3, class: 'dn', 'data-behavior': 'rehide' %>
  </section>
<% end %>
