<%- title @recipe.title.html_safe %>
<% activate_nav!(:recipes) %>
<% remove_grey_bg! if @image_layout %>

<%= render 'shared/nav', no_margin: @image_layout %>

<div itemscope itemtype="http://schema.org/Recipe">
  <meta itemprop="url" content="<%= @recipe.public_url %>" />
  <meta itemprop="dateCreated" content="<%= @recipe.created_at %>" />
  <meta itemprop="dateModified" content="<%= @recipe.updated_at %>" />

  <%= render 'image_header' if @image_layout %>

  <% if !@image_layout %>
    <main class="document mw7 mtm">
      <%= link_to 'Cook this', cook_recipe_path(@recipe), class: 'badge fr' %>
      <h1 class="lh-header mtn" itemprop="name"><%= @recipe.title %></h1>
      <div class="mts mbm dn-p flex fac flex-rows lh0">
        <%= form_for(@recipe) do |f| %>
          <%= f.label :favorite, class: 'tooltipped tooltipped--n man', 'data-behavior': 'r_fav', 'aria-label': 'Favorite', tabindex: 0 do %>
            <%= f.check_box :favorite, class: 'fav__checkbox', 'data-behavior': 'r_fav_trigger' %>
            <%= inline_svg 'favorite_outline.svg', class: 'fill-orange pointer fav__indicator--basic', size: 28 %>
            <%= inline_svg 'favorite.svg', class: 'fill-orange pointer fav__indicator--checked', size: 28 %>
          <% end %>
        <% end %>
        <%= link_to edit_recipe_path(@recipe),
          class: 'mlm pointer tooltipped tooltipped--n',
          'aria-label': 'Edit' do %>
          <%= inline_svg 'edit.svg', class: 'fill-orange', size: 28 %>
        <% end %>
        <a
          href="#share"
          name="share"
          class="mlm pointer tooltipped tooltipped--n"
          aria-label="Share a public link"
          data-behavior="modal_trigger" >
          <%= inline_svg 'share.svg', class: 'fill-orange', size: 28 %>
        </a>
        <%= render 'actions', color: 'orange', rootClass: 'mlm', menuClass: '' %>
      </div>
      <%= content_tag :div,
        sanitize(markdown(@recipe.description)),
        class: 'text content mtm',
        itemprop: 'description' if @recipe.description
      %>
      <%= render 'recipe_body' %>
    </main>
  <% else %>
    <main class="mw7 mx-auto bx phm phl-ns pvm">
      <%= link_to 'Cook this', cook_recipe_path(@recipe), class: 'badge' if @image_layout %>
      <%= render 'recipe_body' %>
    </main>
  <% end %>
</div>

<%= render 'shared/public', object: @recipe %>

<section id="embed" class="modal modal--mw" role="dialog">
  <%= modal_header 'Embed on the Web' %>
  <p>Copy/paste the code below to your website to embed this recipe.</p>
  <%= content_tag :textarea,
    escape_once(recipe_embed),
    class: 'input-reset w-100 man pas f5 mono border br--sm wbw bx',
    'data-behavior': 'autoselect',
    rows: 4,
    readonly: true
  %>
  <button
    class="btn bg-blue mrm"
    data-clipboard-text="<%= escape_once(recipe_embed) %>" data-behavior="copy">
    Copy
  </button>
  <a class="btn btn-sm bg-grey-3" href="#help" data-behavior="modal_trigger modal_close_first">Help</a>
  <%= section_header 'Preview', 3, class: 'dn', 'data-behavior': 'rehide' %>
</section>
