<% activate_nav!(:change_password) %>

<%= render 'shared/nav' %>

<div class="container col-6">

  <h1>Change your password</h1>
  <p>Just one more step and you can get back into your Noodles account!</p>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>

    <%= devise_error_messages! %>

    <%= f.hidden_field :reset_password_token %>

    <%= f.label 'New password' %>
    <%= f.password_field :password, class: 'text-input', autofocus: true, autocomplete: off, required: true %>

    <%= f.submit 'Change my password', class: 'btn' %>

  <% end %>

</div>
