<% activate_nav!(:change_password) %>

<%= render "shared/nav" %>

<article class="document">

  <h1>Change your password</h1>
  <p>Just one more step and you can get back into your Noodles account.</p>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>

    <%= devise_error_messages! %>

    <%= f.hidden_field :reset_password_token %>

    <%= f.label "New password" %>
    <%= f.password_field :password, class: "text-input", autofocus: true, required: true, id: "new-password", pattern: ".{8,}" %>

    <%= f.submit "Change my password", class: "btn bg-orange mt2" %>

  <% end %>

</article>
