<%- title "Cooking " + @recipe.title %>
<%= stylesheet_link_tag "cook" %>

<main class="md-flex">

  <aside class="sm-col-11 md-col-4 m2">
    <h1 class="m0 grey-1"><%= @recipe.title %></h2>
    <p class="grey-3 m0">
      <%= pluralize(@recipe.instructions.lines.count, "steps") %>
      <%= content_tag :span, " · Published by #{@recipe.user.first_name}" if not_my_recipe? %>
    </p>

    <hr class="col-10">

    <h2 class="mb0">Ingredients</h2>
    <p class="grey-4 h5">Tap on ingredients to cross them off.</p>

    <ul class="list-reset text text-normalized recipe-ingredients">
    <% @recipe.ingredients.lines.each do |item| %>
      <% item_text = ingredient_processed(item) %>
      <%= content_tag :li,
                       item_text.html_safe,
                       data: { behavior: 'checklist_item' },
                       class: 'pointer' if strip_tags(item_text).length > 1 %>
    <% end %>
    </ul>

    <hr class="col-10">

    <% if me_owns_recipe? %>
      <%= react_component("NoteEditor", recipe_id: @recipe.id) %>
    <% else %>
      <div class="rounded shadow p2 bg-white text text-normalized">
        <% if @recipe.notes.blank? %>
        <p class="grey-4 mb0">No notes for this recipe &mdash; yet!</p>
        <% else %>
        <%= sanitize markdown(@recipe.notes) %>
        <% end %>
      </div>
    <% end %>
  </aside>

  <article class="sm-col-11 md-col-6 mx-auto mt2 p0">
    <% @recipe.instructions.lines.each do |step| %>
      <%= content_tag :div,
                       sanitize(step.to_s).html_safe,
                       data: { behavior: 'checklist_item' },
                       class: 'h2 grey-2 bg-white rounded shadow pointer p2 block mb2' if strip_tags(step.to_s).length > 1 %>
    <% end %>

    <div class="bg-white rounded shadow p2 block h2 center mb2 grey-2">
      <span>And now you're finished! Enjoy the <%= @recipe.title %>.</span>

      <%= image_tag @recipe.img, alt: "Photo of " + @recipe.title, class: "mt2 mx-auto rounded" if @recipe.img.present? %>

      <% if me_owns_recipe? %>
        <%= form_for(@recipe, url: recipe_path(@recipe, cook: true), html: { class: "pointer h4 grey-1"}) do |f| %>
          <%= f.file_field :img, class: "hide", data: { behavior: "photo_field cook_photo_field" } %>
          <div data-behavior="photo_button">
            <span data-behavior="photo_name">
              <%= @recipe.img.url.blank? ? "Add a photo to your recipe" : "Upload a new photo" %>
            </span>
            <% if @recipe.img.url.present? %>
              <span class="grey-4">or</span>
              <%= link_to("remove this photo", recipe_remove_image_path(@recipe, cook: true), class: "link-reset") %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </article>

</main>

<% if not_my_recipe? %>
  <%= link_to share_path(@recipe.shared_id), class: 'btn-paper bg-orange fill-white circle fixed p2 shadow' do %>
    <%= inline_svg("exit.svg") %>
  <% end %>
<% else %>
  <%= link_to recipe_path(@recipe), class: 'btn-paper-mini bg-orange fill-white circle fixed p1 shadow' do %>
    <%= inline_svg("exit.svg") %>
  <% end %>
  <%= link_to edit_recipe_path(@recipe), class: 'btn-paper bg-orange fill-white circle fixed p2 shadow' do %>
    <%= inline_svg("edit.svg") %>
  <% end %>
<% end %>
