<%= stylesheet_link_tag 'cook' %>
<%= javascript_include_tag 'cook' %>

<div class="cards-body">

  <header class="cards-header text-center flex flex-between">

    <%= link_to root_path do %>
      <h1 class="text-muted">N</h1>
    <% end %>

    <%= link_to @recipe do %>
      <h3 class="text-muted" id="recipeTitle">
        <%= @recipe.title %>
      </h3>
    <% end %>

    <div class="text-muted">
      <%= t('.step') %>
      <span id="currentStepInCount"></span>
      <%= t('.of') %>
      <span><%= @recipe_step_count %></span>
    </div>

  </header>

  <div class="cards-shell">

    <div class="cook-ctrl" id="cookCtrlRev">
      <%= inline_svg('ios7-arrow-left.svg') %>
    </div>

    <ul class="cook-list" id="cook-list">

      <li>
        <h2>
          <span class="lightweight"><%= t('.cooking_with') %></span>
          <%= @recipe.title %>
        </h2>
        <% unless @recipe.description.length == 0 %>
          <p class="text-muted"><%= @recipe.description %></p>
        <% end %>
      </li>

      <li class="text-left">
        <% if @recipe.ingredients.length == 0 %>
          <span class="text-muted">Your recipe has no ingredients.</span>
        <% else %>
          <h2>Ingredients</h2>
          <%= simple_format(@recipe.ingredients.html_safe) %>
        <% end %>
      </li>

      <%= @recipe.instructions_rendered.html_safe %>

    </ul>

    <div class="cook-ctrl" id="cookCtrlFwd">
      <%= inline_svg('ios7-arrow-right.svg') %>
    </div>

  </div>

</div>
