<%- title "Cooking " + @recipe.title %>
<%= stylesheet_link_tag "cook" %>

<main class="md-flex">

  <aside class="sm-col-11 md-col-4 m2">
    <h1 class="m0 grey-1"><%= @recipe.title %></h2>
    <p class="grey-3 m0">
      <%= "Published by #{User.find(@recipe.user_id).first_name} · " unless me_owns_recipe? %>
      <%= pluralize(@recipe.instructions.lines.count, "steps") %>
    </p>

    <hr class="col-10">

    <%= react_component("IngredientsChecklist", ingredients: @recipe.ingredients.split("\n")) %>

    <% unless @recipe.notes.blank? %>
    <hr class="col-10">
    <div class="bg-white rounded shadow p2">
      <h2 class="mt0">Notes</h2>
      <div class="text text-normalized">
      <%= sanitize markdown(@recipe.notes) %>
      </div>
    </div>
    <hr class="col-10">
    <% end %>
  </aside>

  <article class="sm-col-11 md-col-6 mx-auto mt2 p0">
    <%= react_component("CookInstructions", instructions: @recipe.instructions.split("\n")) %>
    <div class="bg-white rounded shadow p2 block h2 center mb2 grey-2">
      Finished! Enjoy your meal.
      <% if me_owns_recipe? %>
        <%= form_for(@recipe, html: { class: "col-11 mx-auto center" }) do |f| %>
          <%= f.label :notes, "What should you remember for next time? Keep some Notes:", class: "mt2" %>
          <%= f.text_area :notes, class: "text-input mx-auto h4 full-width notes", placeholder: "Jot down your experience cooking this recipe.", rows: 3 %>
          <%= f.submit t("general.save"), class: "btn-green h4 mt0 mb1 mx-auto" %>
        <% end %>
      <% end %>
    </div>
  </article>

</main>

<%= link_to @exit_link, class: "btn-paper bg-orange fill-white circle fixed p2 shadow" do %>
  <%= inline_svg("exit.svg") %>
<% end %>
