<%- title 'Cooking ' + @recipe.title %>
<%= stylesheet_link_tag 'cook' %>

<main class="flex center">

  <aside class="cook-info ib m2">
    <h1 class="m0 text-dark"><%= @recipe.title.truncate(12) %></h2>
    <div class="text-muted"><%= @recipe_step_count %> steps</div>
    <%= link_to @recipe, class: 'exit text-muted block m1-5-top' do %>
      <%= inline_svg('exit.svg') %>
      <span class="text-muted">Exit Cook Mode</span>
    <% end %>

    <hr class="col-10">

    <h2 class="mb0">Ingredients</h2>
    <% if @recipe.ingredients.length == 0 %>
    <p class="text-muted">Your recipe has no ingredients.</p>
    <% else %>
    <%= simple_format(@recipe.ingredients) %>
    <% end %>
  </aside>

  <ul class="cook-list m2 ib">
    <%= sanitize @recipe.instructions_rendered %>
    <li>Done! Enjoy your meal.</li>
  </ul>

</main>
