<%- title 'Cooking ' + @recipe.title %>
<%= stylesheet_link_tag 'cook' %>

<main class="flex center">

  <aside class="cook-info ib m2">
    <h1 class="m0 text-dark"><%= @recipe.title %></h2>
    <div class="text-muted text"><%= @recipe_step_count %> steps</div>
    <%= link_to @recipe, class: 'exit text-muted block m1-5-top' do %>
      <%= inline_svg('exit.svg') %>
      <span class="text-muted text">Exit Cook Mode</span>
    <% end %>

    <hr class="col-10">

    <h2 class="mb0">Ingredients</h2>
    <% if @recipe.ingredients.length == 0 %>
    <p class="text-muted">Your recipe has no ingredients.</p>
    <% else %>
      <% @recipe.ingredients.to_s.each_line do |line| %>
      <label>
        <input type="checkbox" class="checkbox checklist">
        <span><%= line %></span>
      </label>
      <% end %>
    <% end %>

    <% unless @recipe.notes == '' || @recipe.notes == nil %>
    <hr class="col-10">
    <div class="panel">
      <h2>Notes</h2><br>
      <%= sanitize markdown(@recipe.notes) %>
    </div>
    <% end %>
  </aside>

  <ul class="cook-list ib">
    <%= sanitize @recipe.instructions_rendered %>
    <li>
      Finished! Enjoy your meal.

      <%= render 'notes' %>
    </li>
  </ul>

</main>
