<%- title "Cooking " + @recipe.title %>
<%= stylesheet_link_tag "cook" %>

<main class="flex mx-auto">

  <aside class="cook-info m3">
    <h1 class="m0 black"><%= @recipe.title %></h2>
    <p class="grey-3 m0"><%= "Published by " + User.find(@recipe.user_id).first_name + " · " unless me_owns_recipe? %><%= @recipe_step_count %> steps</p>
    <% if me_owns_recipe? %>
      <%= link_to @recipe, class: "exit block mt2" do %>
        <%= inline_svg("exit.svg") %>
        <span class="grey-3 text">Exit Cook Mode</span>
      <% end %>
    <% else %>
      <%= link_to share_path(@recipe.shared_id), class: "exit block mt2" do %>
        <%= inline_svg("exit.svg") %>
        <span class="grey-3 text">Exit Cook Mode</span>
      <% end %>
    <% end %>

    <hr class="col-10">

    <h2 class="mb0">Ingredients</h2>
    <%= react_component("IngredientsChecklist", ingredients: @recipe.ingredients.split("\n")) %>

    <% unless @recipe.notes.blank? %>
    <hr class="col-10">
    <div class="bg-white rounded shadow p2">
      <h2>Notes</h2>
      <div class="text text-normalized">
      <%= sanitize markdown(@recipe.notes) %>
      </div>
    </div>
    <% end %>
  </aside>

  <ul class="cook-list mt3 p0">
    <%= react_component("CookInstructions", instructions: @recipe.instructions.split("\n")) %>
    <li class="bg-white rounded shadow p2 block h2 text-center mb2">
      Finished! Enjoy your meal.
      <% if me_owns_recipe? %>
      <%= render "notes" %>
      <% end %>
    </li>
  </ul>

</main>
