<%- title "Cooking #{@recipe.title}".html_safe %>

<main class="flex-ns">

  <aside class="sm-col-11 md-col-4 mam">
    <h1 class="man grey-1"><%= @recipe.title %></h2>
    <p class="grey-3 man">
      <%= pluralize(@recipe.instructions.lines.count, "steps") %>
      <%= content_tag :span, " · Published by #{@recipe.user.first_name}" if not_my_recipe? %>
    </p>

    <hr class="col-10">

    <h2 class="mbn">Ingredients</h2>
    <p class="grey-4 f5">Tap on ingredients to cross them off.</p>

    <ul class="list-reset text text-normalized recipe-ingredients">
    <% @recipe.ingredients.lines.each do |item| %>
      <% item_text = ingredient_processed(item) %>
      <%= content_tag :li,
                       item_text.html_safe,
                       data: { behavior: 'checklist_item' },
                       class: 'pointer' if strip_tags(item_text).length > 1 %>
    <% end %>
    </ul>

    <hr class="col-10">

    <% if me_owns_recipe? %>
      <%= react_component("NoteEditor", recipe_id: @recipe.id) %>
    <% else %>
      <section class="rounded shadow phm bg-white text text-normalized">
        <h3 class="man pvm tc grey-4 caps normal border-bottom" style="border-bottom-style: dashed;">Notes</h3>
        <article class="pvm">
        <% if @recipe.notes.blank? %>
        <p class="grey-4">No notes for this recipe &mdash; yet!</p>
        <% else %>
        <%= sanitize markdown(@recipe.notes) %>
        <% end %>
        </article>
      </section>
    <% end %>
  </aside>

  <article class="sm-col-11 md-col-6 mx-auto mtm pan">
    <% flash.each do |key, value| %>
      <div class="h2 pam tc mbm rounded bg-<%= flash_color_class(key) %> white pointer dn-p" role="alertdialog" data-behavior="flash">
        <%= value %>
      </div>
    <% end %>

    <% @recipe.instructions.lines.each do |step| %>
      <%= content_tag :div,
                       plain_text_from_markdown(step.to_s).html_safe,
                       data: { behavior: 'checklist_item' },
                       class: 'h2 grey-2 bg-white rounded shadow pointer pam db mbm' if strip_tags(step.to_s).length > 1 %>
    <% end %>

    <div class="bg-white rounded shadow pam db h2 tc mbm grey-2">
      <span>And now you're finished! Enjoy the <%= @recipe.title %>.</span>

      <%= image_tag @recipe.img, alt: "Photo of " + @recipe.title, class: "mtm mx-auto rounded" if @recipe.img.present? %>

      <% if me_owns_recipe? %>
        <%= form_for(@recipe, url: recipe_path(@recipe, cook: true), html: { class: 'mts h4' }) do |f| %>
          <%= f.file_field :img, class: 'dn', data: { behavior: 'photo_field cook_photo_field' } %>
          <div data-behavior="photo_button">
            <a data-behavior="photo_name" class="btn bg-white">
              <%= @recipe.img.url.blank? ? 'Add a photo' : 'Upload a new photo' %>
            </a>
            <% if @recipe.img.url.present? %>
              <span class="grey-4 phs">or</span>
              <%= link_to('remove this photo', recipe_remove_image_path(@recipe, cook: true),
                           class: 'btn bg-white') %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </article>

</main>

<% if not_my_recipe? %>
  <% exit_path = @recipe.shared_id == '6ww5W0L' ? root_url : share_path(@recipe.shared_id) %>
  <%= link_to exit_path, class: 'btn-paper bg-orange fill-white circle fixed pam shadow' do %>
    <%= inline_svg 'exit.svg' %>
  <% end %>
<% else %>
  <%= link_to recipe_path(@recipe), class: 'btn-paper-mini bg-orange fill-white circle fixed pas shadow' do %>
    <%= inline_svg 'exit.svg' %>
  <% end %>
  <%= link_to edit_recipe_path(@recipe), class: 'btn-paper bg-orange fill-white circle fixed pam shadow' do %>
    <%= inline_svg 'edit.svg' %>
  <% end %>
<% end %>
