<%- title "Cooking #{@recipe.title}".html_safe %>

<main class="flex-ns">
  <aside class="md-col-4 pam mw6">
    <h1 class="man grey-1"><%= @recipe.title %></h2>
    <p class="grey-3 man">
      <%= pluralize(@recipe.instructions.lines.count, "steps") %>
      <%= content_tag :span, " · Published by #{@recipe.user.first_name}" if not_my_recipe? %>
    </p>

    <hr>

    <h2 class="mbn">Ingredients</h2>
    <p class="grey-4 f5">Tap on ingredients to cross them off.</p>

    <ul class="recipe__ingredients content list-reset">
    <% @recipe.ingredients.lines.each do |item| %>
      <%= content_tag :li, ingredient_processed(item).html_safe,
                      'data-behavior': 'checklist_item',
                      class: 'pointer' if item.strip.present? %>
    <% end %>
    </ul>

    <hr>

    <%= react_component 'NoteEditor', id: @recipe.id, plain: @recipe.notes, rendered: notes_rendered, allowEditing: me_owns_recipe? %>
  </aside>

  <article class="mw7 mx-auto mtm phm">
    <% flash.each do |key, value| %>
      <div class="f2 pam tc mbm rounded bg-<%= flash_color_class(key) %> white pointer dn-p" role="alertdialog" data-behavior="flash">
        <%= value %>
      </div>
    <% end %>

    <ol class="list-reset">
      <% sanitize(markdown(@recipe.instructions)).lines.each do |step| %>
        <% text = plain_text_from_markdown(step.to_s, remove_numbers: true) %>
        <%= content_tag :li, text.html_safe,
                        'data-behavior': 'checklist_item',
                        class: 'f2 grey-2 bg-white rounded shadow pointer pam db mbm' if text.strip.present? %>
      <% end %>
    </ol>

    <div class="bg-white rounded shadow pam db f2 tc mbm grey-2">
      <span>And now you're finished! Enjoy the <%= @recipe.title %>.</span>

      <%= image_tag @recipe.img, alt: 'Photo of ' + @recipe.title, class: 'mtm mx-auto rounded' if @recipe.img.present? %>

      <% if me_owns_recipe? %>
        <%= form_for(@recipe, url: recipe_path(@recipe, cook: true), html: { class: 'mts f4' }) do |f| %>
          <%= f.file_field :img, class: 'dn', data: { behavior: 'photo_field cook_photo_field' } %>
          <div data-behavior="photo_button">
            <a data-behavior="photo_name" class="btn bg-white">
              <%= @recipe.unimaged? ? 'Add a photo' : 'Upload a new photo' %>
            </a>
            <% if @recipe.imaged? %>
              <span class="grey-4 phs">or</span>
              <%= link_to('remove this photo', remove_image_recipe_path(@recipe, cook: true),
                           class: 'btn bg-white') %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </article>
</main>

<% if not_my_recipe? %>
  <% exit_path = @recipe.shared_id == '6ww5W0L' ? root_url : share_path(@recipe.shared_id) %>
  <%= link_to exit_path, class: 'btn-paper bg-orange fill-white circle fixed pam shadow-deep shadow-deep--effect' do %>
    <%= inline_svg 'exit.svg' %>
  <% end %>
<% else %>
  <%= link_to edit_recipe_path(@recipe, redirect_to: 'cook'),
              class: 'btn-paper-mini bg-orange fill-white circle fixed pas shadow tooltipped',
              'aria-label': 'Edit this recipe' do %>
    <%= inline_svg 'edit.svg' %>
  <% end %>
  <%= link_to recipe_path(@recipe),
              class: 'btn-paper bg-orange fill-white circle fixed pam shadow tooltipped',
              'aria-label': 'Exit Cook Mode' do %>
    <%= inline_svg 'exit.svg' %>
  <% end %>
<% end %>
