<%- title @recipe.title.html_safe %>

<main class="flex-ns pvm phm-ns">
  <aside class="flex-auto measure pam pal-l">
    <%= render 'shared/flash', simple: true %>

    <h1 class="f0 super lh man grey-1"><%= @recipe.title %></h1>
    <p class="grey-3 mtn">
      <span class="dn" data-behavior="show_if_anonymous">
        Published by <%= @recipe.publisher %> –
      </span>
      <%= pluralize @recipe.instructions.lines.count, 'step' %>
    </p>

    <div class="mvm">
      <%= link_to @exit_path, class: 'flex-i fac grey-3 mrl' do %>
        <%= inline_svg 'exit.svg', class: 'fill-grey-3 mrs' %>
        Exit
      <% end %>
      <%= link_to edit_recipe_path(@recipe,
        redirect_to: cook_recipe_path(@recipe)),
        target: '_blank',
        class: 'dn flex-i fac grey-3',
        'data-behavior': 'show_if_my_object' do %>
        <%= inline_svg 'edit.svg', class: 'fill-grey-3 mrs' %>
        Edit
      <% end %>
    </div>

    <hr>

    <h2 class="sticky-ns mbn">Ingredients</h2>
    <p class="grey-4 f5">Tap on ingredients to cross them off.</p>

    <ul class="recipe__ingredients sans content list-reset">
      <% @recipe.ingredients.lines.each do |item| %>
        <%= ingredient_processed item,
          'data-behavior': 'checklist_item',
          class: 'checklist__item pointer' if item.strip.present?
        %>
      <% end %>
    </ul>

    <hr>

    <section class="bg-notes rounded border pam">
      <h2 class="mtn">Notes</h2>
      <%= content_tag :div, notes_rendered, class: 'content' %>
    </section>
  </aside>

  <article class="flex-auto mx-auto mtm mtn-ns pam pal-l">
    <ol class="list-reset content">
      <% @recipe.instructions.lines.reject(&:blank?).each do |step| %>
        <%= content_tag :li,
          plain_text_from_markdown(step, remove_numbers: true).html_safe,
          'data-behavior': 'checklist_item',
          class: 'f2 grey-2 card pointer pam db mbm'
        %>
      <% end %>
    </ol>

    <div class="card serif pam db f2 mbm grey-2">
      <span>You're finished! Enjoy.</span>

      <%= image_tag @recipe.img, alt: @recipe.title, class: 'mtm mx-auto rounded' if @recipe.imaged? %>

      <%= form_for(@recipe, url: recipe_path(@recipe, cook: true),
        html: {
          class: 'dn mts f4',
          'data-behavior': 'show_if_my_object'
        }) do |f| %>
        <%= f.file_field :img, class: 'dn', data: { behavior: 'photo_field cook_photo_field' } %>
        <div data-behavior="photo_button">
          <a data-behavior="photo_name" class="btn bg-white">
            <%= @recipe.unimaged? ? 'Add a photo' : 'Upload a new photo' %>
          </a>
          <% if @recipe.imaged? %>
            <span class="grey-4 phs">or</span>
            <%= link_to 'remove this photo',
              remove_image_recipe_path(@recipe, cook: true),
              class: 'btn bg-white'
            %>
          <% end %>
        </div>
      <% end %>
    </div>
  </article>
</main>

<script>
  N.object_user = <%= @recipe.user_id %>
  if (N.my_object) {
    $.post(window.location.href, function() {});
  }
</script>
