<%- title "Cooking " + @recipe.title %>
<%= stylesheet_link_tag "cook" %>

<main class="flex mx-auto">

  <aside class="cook-info m3">
    <h1 class="m0 black"><%= @recipe.title %></h2>
    <p class="grey-3 m0">
      <%= "Published by #{User.find(@recipe.user_id).first_name} · " unless me_owns_recipe? %>
      <%= @recipe.instructions.lines.count %> steps
    </p>

    <%= link_to @exit_link, class: "exit block mt2 link-reset" do %>
      <%= inline_svg("exit.svg") %>
      <span class="grey-3 text">Exit Cook Mode</span>
    <% end %>

    <hr class="col-10">

    <h2 class="mb0">Ingredients</h2>
    <%= react_component("IngredientsChecklist", ingredients: @recipe.ingredients.split("\n")) %>

    <% unless @recipe.notes.blank? %>
    <hr class="col-10">
    <div class="bg-white rounded shadow p2">
      <h2 class="mt0">Notes</h2>
      <div class="text text-normalized">
      <%= sanitize markdown(@recipe.notes) %>
      </div>
    </div>
    <hr class="col-10">
    <% end %>
  </aside>

  <article class="cook-list mt3 ml0 p0">
    <%= react_component("CookInstructions", instructions: @recipe.instructions.split("\n")) %>
    <div class="bg-white rounded shadow p2 block h2 center mb2 grey-2">
      Finished! Enjoy your meal.
      <%= render "notes" if me_owns_recipe? %>
    </div>
  </article>

</main>
