<nav role="navigation" class="nav flex flex-between">

  <div class="nav-side">
    <%= link_to "Dashboard", analytics_dash_path, class: "nav-link" + nav_active_class(:analytics_dash) %>
    <%= link_to "Users", analytics_users_path, class: "nav-link" + nav_active_class(:analytics_users) %>
    <%= link_to "Collections", analytics_collections_path, class: "nav-link" + nav_active_class(:analytics_collections) %>
    <%= link_to "Marketable", analytics_marketable_path, class: "nav-link" + nav_active_class(:analytics_marketable) %>
    <%= link_to "Performance", analytics_performance_path, class: "nav-link" + nav_active_class(:analytics_performance) %>
    <%= link_to "Shared Recipes", analytics_recipes_path, class: "nav-link" + nav_active_class(:analytics_recipes) %>
  </div>

  <div class="nav-side">
    <%= link_to "Back to Recipes", recipes_path, class: "nav-link" %>
  </div>

</nav>

<%= render "layouts/flash" %>
