<nav role="navigation" class="flex flex-between">

  <div>
    <%= link_to root_url, class: 'logo' do %>
      <%= image_tag('logo-nav.png') %>
    <% end %>

    <div class="links-logo ib">
      <%= link_to 'Dashboard', :analytics_dash, class: nav_active_class(:analytics_dash) %>
      <%= link_to 'Users', :analytics_users, class: nav_active_class(:analytics_users) %>
      <%= link_to 'Shared Recipes', :analytics_recipes, class: nav_active_class(:analytics_recipes) %>
      <%= link_to 'Performance', :analytics_performance, class: nav_active_class(:analytics_performance) %>
      <%= link_to 'Marketable', :analytics_marketable, class: nav_active_class(:analytics_marketable) %>
    </div>
  </div>

  <div class="links">
    <%= link_to 'Back to Recipes', :recipes %>
  </div>

</nav>

<%= render 'layouts/flash' %>
