<nav role="navigation" class="flex-ns bg-white mbm pam border-bottom dn-p"
     data-behavior="nav" data-user="<%= user_signed_in? ? current_user.id : 'anon' %>">

  <div>
    <%= link_to "Dashboard", analytics_dash_path, class: nav_active_class(:analytics_dash) %>
    <%= link_to "Users", analytics_users_path, class: nav_active_class(:analytics_users) %>
    <%= link_to 'Data', analytics_data_path, class: nav_active_class(:analytics_data) %>
    <%= link_to "Collections", analytics_collections_path, class: nav_active_class(:analytics_collections) %>
    <%= link_to "Performance", analytics_performance_path, class: nav_active_class(:analytics_performance) %>
    <%= link_to "Shared Recipes", analytics_recipes_path, class: nav_active_class(:analytics_recipes) %>
  </div>

  <div class="flex-auto"></div>

  <div>
    <%= link_to "Back to Recipes", recipes_path, class: "phs" %>
  </div>

</nav>
