<div class="pull-left">

  <h5><%= t('.filter') %></h5>

  <%= link_to :recipes do %>
    <span class="geomicon geomicon-rows"></span>
    <span class="title"><%= t('general.all_recipes') %></span>
  <% end %>

  <%= link_to :favorites do %>
    <span class="geomicon geomicon-star"></span>
    <span class="title"><%= t('general.favorites') %></span>
  <% end %>

</div>

<!-- <div class="pull-right">
  <input type="text" class="search" placeholder="Search...">
</div> -->
