<% if current_user %>
  <nav class="col-2" role="navigation">

    <%= link_to root_url do %>
      <h1>N <span class="arrow"></span></h1>
    <% end %>

    <%= render 'layouts/flash' %>

    <%= link_to t('general.recipes'), :recipes %>
    <%= link_to t('general.tags'), :recipes %>
    <%= link_to t('general.settings'), :edit_user_registration %>
    <%= link_to t('.help'), :recipes %>
    <%= link_to t('general.sign_out'), :destroy_user_session %>

  </nav>
<% else %>
  <nav class="col-2" role="navigation">

    <%= link_to root_url do %>
      <h1>N</h1>
    <% end %>

    <% if nav_active?(:sign_up) or nav_active?(:home) %>
      <%= link_to t('general.sign_in'), :create_user_session %>
    <% elsif nav_active?(:sign_in) %>
      <%= link_to t('general.sign_up'), :add_user %>
    <% else %>
      <%= link_to t('general.sign_up'), :add_user %>
    <% end %>

    <%= link_to t('.contact_us'), root_url %>

  </nav>
<% end %>
