<nav role="navigation" class="md-flex bg-white mb2 p2 border-bottom print-hide">

  <% if user_signed_in? %>

    <div>
      <%= link_to t("general.recipes"), recipes_path, class: nav_active_class(:recipes) %>
      <%# link_to 'Explore', explore_path, class: nav_active_class(:explore) %>
      <%= link_to t("general.collections"), collections_path, class: nav_active_class(:collections) %>
    </div>

    <div class="flex-auto"></div>

    <div>
      <% unless nav_active?(:shared_recipe) || nav_active?(:onboarding) %>
      <%= link_to "Blog", announcements_path, class: nav_active_class(:announcements) %>
      <% end %>
      <%= link_to t("general.settings"), :settings, class: nav_active_class(:settings) %>
      <%= link_to t("general.help"), :help, class: nav_active_class(:help) %>
      <%= link_to t("general.sign_out"), :sign_out, class: "px1" %>
    </div>

  <% else %>

    <div>
      <%= link_to t("general.home"), root_url, class: "px1" %>
      <%= link_to t("general.features"), docs_path, class: nav_active_class(:docs) %>
      <%= link_to t("general.about"), :help, class: nav_active_class(:help) %>
    </div>

    <div class="flex-auto"></div>

    <div>
      <%= link_to t("general.sign_in"), :sign_in, class: nav_active_class(:sign_in) %>
      <%= link_to t("general.sign_up"), :sign_up, class: nav_active_class(:sign_up) %>
    </div>

  <% end %>

</nav>

<% if flash.any? %>
<section class="md-col-5 mw6 px2 mx-auto print-hide">
<% flash.each do |key, value| %>
  <div class="p2 mb2 rounded shadow bg-<%= flash_color_class(key) %> white" role="alertdialog" data-behavior="flash">
    <%= value %>
  </div>
<% end %>
</section>
<% end %>
