<nav role="navigation" class="nav mb2">

  <% if user_signed_in? %>

    <div class="nav-side">
      <%= link_to t("general.home"), root_url, class: "nav-link" %>
      <%= link_to t("general.recipes"), recipes_path, class: "nav-link" + nav_active_class(:recipes) %>
      <%= link_to t("general.favorites"), favorites_path, class: "nav-link" + nav_active_class(:favorites) %>
      <%= link_to t("general.collections"), collections_path, class: "nav-link" + nav_active_class(:collections) %>
    </div>

    <div class="nav-side">
      <% unless nav_active?(:shared_recipe) || nav_active?(:onboarding) %>
      <%= link_to "Blog", announcements_path, class: "nav-link" + nav_active_class(:announcements) %>
      <% end %>
      <%= link_to t("general.settings"), :settings, class:  "nav-link" + nav_active_class(:settings) %>
      <%= link_to t("general.help"), :help, class: "nav-link" + nav_active_class(:help) %>
      <%= link_to t("general.sign_out"), :sign_out, class: "nav-link" %>
    </div>

  <% else %>

    <div class="nav-side">
      <%= link_to t("general.home"), root_url, class: "nav-link" %>
      <%= link_to t("general.features"), "http://noodles.withdraft.com/", class: "nav-link" %>
      <%= link_to t("general.about"), :help, class: "nav-link" + nav_active_class(:help) %>
    </div>

    <div class="nav-side">
      <%= link_to t("general.sign_in"), :sign_in, class: "nav-link" + nav_active_class(:sign_in) %>
      <%= link_to t("general.sign_up"), :sign_up, class: "nav-link" + nav_active_class(:sign_up) %>
    </div>

  <% end %>

</nav>

<%= render "layouts/flash" %>
