<nav role="navigation">

  <% if current_user %>

    <div>
      <%= link_to 'N', root_url, class: 'logo' %>

      <div class="links-logo ib">
        <%= link_to t('general.recipes'), :recipes, class: nav_active_class(:recipes) %>
        <% if nav_active?(:recipes) or nav_active?(:favorites) %>
          <% if @favorites_count == 0 %>
            <%= link_to t('general.favorites'), :help_favorites %>
          <% else %>
            <%= link_to t('general.favorites'), recipes_path(:filter => 'favorites'), class: nav_active_class(:favorites) %>
          <% end %>
        <% end %>
        <%= link_to t('general.tags'), :recipes, class: nav_active_class(:tags) %>
      </div>
    </div>

    <div class="links">
      <%= link_to t('general.settings'), :settings, class: nav_active_class(:settings) %>
      <%= link_to t('general.help'), :help, class: nav_active_class(:help) %>
      <%= link_to t('general.sign_out'), :sign_out %>
    </div>

  <% else %>

    <div>
      <%= link_to 'N', root_url, class: 'logo' %>
    </div>

    <div class="links">
      <%= link_to t('general.contact_us'), :help, class: nav_active_class(:help) %>
      <%= link_to t('general.sign_in'), :sign_in, class: nav_active_class(:sign_in) %>
      <%= link_to t('general.sign_up'), :sign_up, class: nav_active_class(:sign_up) %>
    </div>

  <% end %>

</nav>

<%= render 'layouts/flash' %>
