<nav role="navigation" class="flex flex-between">

  <% if current_user %>

    <div>
      <%= link_to root_url, class: 'logo' do %>
        <%= image_tag('logo-nav.png', alt: 'Noodles logo') %>
      <% end %>

      <div class="links-logo ib">
        <%= link_to t('general.recipes'), :recipes, class: nav_active_class(:recipes) %>
        <% if nav_active?(:recipes) or nav_active?(:favorites) %>
          <% if @favorites_count == 0 %>
            <%= link_to t('general.favorites'), :help_favorites %>
          <% else %>
            <%= link_to t('general.favorites'), recipes_path(:filter => 'favorites'), class: nav_active_class(:favorites) %>
          <% end %>
        <% end %>
        <span class="text-muted <% nav_active_class(:tags) %>"><%= t('general.tags') %></span>
      </div>
    </div>

    <div class="links">
      <%= link_to 'Announcements', :announcements, class: nav_active_class(:announcements) %>
      <%= link_to t('general.settings'), :settings, class: nav_active_class(:settings) %>
      <%= link_to t('general.help'), :help, class: nav_active_class(:help) %>
      <%= link_to t('general.sign_out'), :sign_out %>
    </div>

  <% else %>

    <%= link_to root_url, class: 'logo' do %>
      <%= image_tag('logo-nav.png', alt: 'Noodles logo') %>
    <% end %>

    <div class="links">
      <%= link_to t('general.contact_us'), :help, class: nav_active_class(:help) %>
      <%= link_to t('general.sign_in'), :sign_in, class: nav_active_class(:sign_in) %>
      <%= link_to t('general.sign_up'), :sign_up, class: nav_active_class(:sign_up) %>
    </div>

  <% end %>

</nav>

<%= render 'layouts/flash' %>
