<nav role="navigation" class="flex-ns bg-white mbm pam border-bottom dn-p"
     data-behavior="nav" data-user="<%= user_signed_in? ? current_user.id : 'anon' %>">

  <% if user_signed_in? %>

    <div>
      <%= link_to t('general.recipes'), recipes_path, class: nav_active_class(:recipes) %>
      <%= link_to t('general.collections'), collections_path, class: nav_active_class(:collections) %>
      <%= link_to 'Library', library_path, class: nav_active_class(:library) %>
      <%= link_to 'Explore', explore_path, class: nav_active_class(:explore) %>
    </div>

    <div class="flex-auto"></div>

    <div>
      <% unless nav_active?(:onboarding) %>
      <%= link_to 'Blog', announcements_path, class: nav_active_class(:announcements) %>
      <% end %>
      <%= link_to t('general.settings'), :settings, class: nav_active_class(:settings) %>
      <%= link_to t('general.help'), :help, class: nav_active_class(:help) %>
      <%= link_to t('general.sign_out'), :sign_out, class: 'phs' %>
    </div>

  <% else %>

    <div>
      <%= link_to t('general.home'), root_url, class: 'phs' %>
      <%= link_to t('general.features'), docs_path, class: nav_active_class(:docs) %>
      <%= link_to t('general.about'), :help, class: nav_active_class(:help) %>
    </div>

    <div class="flex-auto"></div>

    <div>
      <%= link_to t('general.sign_in'), :sign_in, class: nav_active_class(:sign_in) %>
      <%= link_to t('general.sign_up'), :sign_up, class: nav_active_class(:sign_up) %>
    </div>

  <% end %>

</nav>

<%= render 'shared/flash' if @hide_flash != true %>
