<% no_margin ||= false %>
<nav
  role="navigation"
  class="nav bg-blur sticky-ns pas phm-ns tc dn-p <%= 'mbm' unless no_margin %>"
  data-behavior="nav">

  <%= link_to root_url, class: 'nav__icon' do %>
    <%= inline_svg 'cook.svg', class: 'fill-orange', size: 28 %>
  <% end %>

  <article class="nav__container">
    <% if user_signed_in? %>
      <section class="nav__section">
        <%= link_to t('general.recipes'), recipes_path, class: nav_active_class(:recipes) %>
        <%= link_to t('general.collections'), collections_path, class: nav_active_class(:collections) %>
        <%= link_to 'Explore', explore_path, class: nav_active_class(:explore) %>
      </section>
      <section class="nav__section">
        <%= link_to 'News', 'https://news.getnoodl.es/', class: nav_active_class(:medium) %>
        <%= link_to t('general.settings'), settings_path, class: nav_active_class(:settings) %>
        <%= link_to t('general.sign_out'), sign_out_path, class: nav_active_class(:sign_out) %>
      </section>
    <% else %>
      <section class="nav__section">
        <%= link_to t('general.home'), root_url, class: nav_active_class(:home) %>
        <%= link_to t('general.explore'), explore_path, class: nav_active_class(:explore) %>
        <%= link_to 'News', 'https://news.getnoodl.es/', class: nav_active_class(:medium) %>
      </section>
      <section class="nav__section">
        <%= link_to t('general.help'), help_path, class: nav_active_class(:help) %>
        <%= link_to t('general.sign_in'), sign_in_path, class: nav_active_class(:sign_in) %>
        <%= link_to t('general.sign_up'), sign_up_path, class: nav_active_class(:sign_up) %>
      </section>
    <% end %>
  </article>
</nav>

<%= render 'shared/flash' if @hide_flash != true %>

<% if flag_page? %>
  <div
    class="w-100 mlm-ns"
    style="position: fixed; left: 0px; right: 0px; bottom: 0px; z-index: 1;">
    <% if user_signed_in? %>
      <% unless current_user.subscriber? %>
        <a
          href="<%= subscriptions_path %>"
          data-behavior="modal_trigger"
          class="dib bg-purple f4 b lh mlm pvs phm"
          style="border-radius: 6px 6px 0 0; color: #fff;">
          Subscribe
        </a>
      <% end %>
    <% end %>
    <a
      href="#help"
      data-behavior="modal_trigger"
      class="dib bg-blue f4 b lh mlm pvs phm"
      style="border-radius: 6px 6px 0 0; color: #fff;">
      Help & feedback
    </a>
  </div>

  <section class="modal" id="help" role="dialog">
    <%= modal_header 'Help & feedback' %>
    <%= render 'shared/help' %>
  </section>
<% end %>
