<nav class="col-2" role="navigation">

  <%= link_to root_url do %>
    <h1>N</h1>
  <% end %>

  <% if current_user %>

    <%= render 'layouts/flash' %>

    <%= link_to t('general.recipes'), :recipes, class: nav_active_class(:recipes) %>

    <% if nav_active?(:recipes) or nav_active?(:favorites) %>
      <% if @favorites_count == 0 %>
        <%= link_to t('general.favorites'), :help_favorites %>
      <% else %>
        <%= link_to t('general.favorites'), recipes_path(:filter => 'favorites'), class: nav_active_class(:favorites) %>
      <% end %>
    <% end %>

    <%= link_to t('general.tags'), :recipes, class: nav_active_class(:tags) %>

    <%= link_to t('general.settings'), :edit_user_registration, class: nav_active_class(:settings) %>

    <%= link_to t('general.help'), help_path, class: nav_active_class(:help) %>

    <%= link_to t('general.sign_out'), :destroy_user_session %>

  <% else %>

    <% if nav_active?(:sign_up) or nav_active?(:home) %>
      <%= link_to t('general.sign_in'), :create_user_session %>
    <% elsif nav_active?(:sign_in) %>
      <%= link_to t('general.sign_up'), :add_user %>
    <% else %>
      <%= link_to t('general.sign_in'), :create_user_session %>
      <%= link_to t('general.sign_up'), :add_user %>
    <% end %>

    <%= link_to t('general.contact_us'), :help %>

  <% end %>

</nav>
