<div class="flex mt2">
  <div class="center phm border rounded inline-block mx-auto print-hide">
    <h2>This recipe is public.</h2>

    <p class="mb1">Share the link:</p>
    <%= react_component 'CopyLink', url: @shared_url %>

    <div class="social pvs mt1">
      <a rel="nofollow" href="http://twitter.com/share?text=Check out <%= @recipe.title %>, published on @noodlesapp:&amp;url=<%= @shared_url %>" class="mr1" target="_blank">
        <%= twitter_icon %>
      </a>
      <a rel="nofollow" href="https://www.facebook.com/sharer/sharer.php?u=<%= @shared_url %>" class="mr1" target="_blank">
        <%= facebook_icon %>
      </a>
      <% if @recipe.img.url.blank? %>
        <% @media_url = image_url('apple-touch-icon.png').to_s %>
      <% else %>
        <% @media_url = @recipe.img.url.to_s %>
      <% end %>
      <a rel="nofollow" href="http://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.getnoodl.es%2Fs%2F<%= @recipe.shared_id %><%= '&media=' + @media_url %>&description=<%= @recipe.title %> <%= '(' + @recipe.description + ')' %> on Noodles" class="mr1" target="_blank">
        <%= pinterest_icon %>
      </a>
      <a rel="nofollow" href="https://buffer.com/add?url=http%3A%2F%2Fwww.getnoodl.es%2Fs%2F<%= @recipe.shared_id %>&text=Check out <%= @recipe.title %>, published on Noodles:" class="mr1" target="_blank">
        <%= buffer_icon %>
      </a>
      <a rel="nofollow" href="https://plus.google.com/share?url=http%3A%2F%2Fwww.getnoodl.es%2Fs%2F<%= @recipe.shared_id %>" class="mr1" target="_blank">
        <%= googleplus_icon %>
      </a>
      <% if me_owns_recipe? %>
        <a href="mailto:?subject=Check out <%= @recipe.title %> on Noodles&body=I published a new recipe on Noodles (http://www.getnoodl.es), <%= @recipe.title %>. Check it out: <%= @shared_url %>">
      <% else %>
        <a href="mailto:?subject=Check out <%= @recipe.title %> on Noodles&body=Here's a recipe called <%= @recipe.title %> on Noodles (http://www.getnoodl.es): <%= @shared_url %>">
      <% end %>
        <%= email_icon %>
      </a>
    </div>

    <% if !nav_active?(:shared_recipe) %>
      <p class="mt1"><%= link_to 'See the public recipe »', @shared_url, class: 'btn btn-sm bg-blue' %></p>
      <p class="grey-3 h5">Or you could <%= link_to 'un-share this recipe', recipe_un_share_path(@recipe), class: 'link-reset border-bottom' %>.</p>
    <% elsif nav_active?(:shared_recipe) && me_owns_recipe? %>
      <p class="mb2"><%= link_to '« Back to private recipe', recipe_path(@recipe), class: 'btn btn-sm bg-blue' %></p>
    <% end %>
  </div>
</div>
