<p class="m-small-top m0-btm">The public link is <a href="http://app.getnoodl.es/s/<%= @recipe.id %>">http://app.getnoodl.es/s/<%= @recipe.id %></a>.</p>

<div class="social">
  <a href="http://twitter.com/share?text=Check out <%= @recipe.title %>, published on @noodlesapp:&amp;url=http://app.getnoodl.es/s/<%= @recipe.id %>" class="social-twitter" target="_blank">
    <%= inline_svg('social-twitter.svg') %>
  </a>
  <a href="https://www.facebook.com/sharer/sharer.php?u=http://app.getnoodl.es/s/<%= @recipe.id %>" class="social-facebook" target="_blank">
    <%= inline_svg('social-facebook.svg') %>
  </a>
  <a href="http://www.pinterest.com/pin/create/button/?url=ttp%3A%2F%2Fapp.getnoodl.es%2Fs%2F<%= @recipe.id %><% unless @recipe.img.url == '' %>&media=<%= @recipe.img.url %><% end %>&description=<%= @recipe.title %>+on+Noodles+(<%= @recipe.description %>)" class="social-pinterest" target="_blank">
    <%= inline_svg('social-pinterest.svg') %>
  </a>
  <a href="https://bufferapp.com/add?url=http%3A%2F%2Fapp.getnoodl.es%2Fs%2F<%= @recipe.id %>&text=Check out <%= @recipe.title %>, published on Noodles:" class="social-buffer" target="_blank">
    <%= inline_svg('social-buffer.svg') %>
  </a>
  <a href="https://plus.google.com/share?url=http%3A%2F%2Fapp.getnoodl.es%2Fs%2F<%= @recipe.id %>" class="social-plus" target="_blank">
    <%= inline_svg('social-googleplus.svg') %>
  </a>
  <% if current_user && current_user.id == @recipe.user_id %>
    <a href="mailto:?subject=Check out <%= @recipe.title %> on Noodles&body=Hey there! I published a new recipe on Noodles (http://www.getnoodl.es), <%= @recipe.title %>. Check it out: http://app.getnoodl.es/s/<%= @recipe.id %>" class="social-email" target="_blank">
  <% else %>
    <a href="mailto:?subject=Check out <%= @recipe.title %> on Noodles&body=Hey there! I saw a recipe called <%= @recipe.title %> on Noodles (http://www.getnoodl.es) today. Check it out: http://app.getnoodl.es/s/<%= @recipe.id %>" class="social-email" target="_blank">
  <% end %>
    <%= inline_svg('mail.svg') %>
  </a>
</div>

<% if nav_active?(:shared_recipe) %>
<p class="text-muted">Or go back to the <%= link_to 'private recipe', @recipe %>.</p>
<% elsif nav_active?(:recipe) %>
<p class="text-muted">Why don't you <%= link_to 'check it out yourself', recipe_share_path(:id => @recipe.id) %>?</p>
<% end %>
