<div class="social">
  <a href="http://twitter.com/share?text=Check out <%= @recipe.title %> on @noodlesapp:&amp;url=http://app.getnoodl.es/s/<%= @recipe.id %>" class="social-twitter">
    <%= inline_svg('social-twitter.svg') %>
  </a>
  <a href="https://www.facebook.com/sharer/sharer.php?u=http://app.getnoodl.es/s/<%= @recipe.id %>" class="social-facebook">
    <%= inline_svg('social-facebook.svg') %>
  </a>
</div>
