<div class="social">
  <a href="http://twitter.com/share?text=Check out <%= @recipe.title %> on @noodlesapp:&amp;url=http://app.getnoodl.es/s/<%= @recipe.id %>" class="social-twitter">
    <%= inline_svg('social-twitter.svg') %>
  </a>
  <a href="https://www.facebook.com/sharer/sharer.php?u=http://app.getnoodl.es/s/<%= @recipe.id %>" class="social-facebook">
    <%= inline_svg('social-facebook.svg') %>
  </a>
  <a href="https://plus.google.com/share?url=http://app.getnoodl.es/s/<%= @recipe.id %>" class="social-plus">
    <%= inline_svg('social-googleplus.svg') %>
  </a>
  <a
  <a href="https://bufferapp.com/add?url=http%3A%2F%2Fapp.getnoodl.es%2Fs%2F<%= @recipe.id %>&text=Check out <%= @recipe.title %>, published on Noodles:" class="social-buffer">
    <%= inline_svg('social-buffer.svg') %>
  </a>

</div>
