<p>
  Here's the link:
  <a href="http://app.getnoodl.es/s/<%= @recipe.id %>" class="text-blue text-decoration">http://app.getnoodl.es/s/<%= @recipe.id %></a>
</p>

<div class="social">
  <a href="http://twitter.com/share?text=Check out <%= @recipe.title %>, published on @noodlesapp:&amp;url=http://app.getnoodl.es/s/<%= @recipe.id %>" class="social-twitter">
    <%= inline_svg('social-twitter.svg') %>
  </a>
  <a href="https://www.facebook.com/sharer/sharer.php?u=http://app.getnoodl.es/s/<%= @recipe.id %>" class="social-facebook">
    <%= inline_svg('social-facebook.svg') %>
  </a>
  <a href="http://www.pinterest.com/pin/create/button/?url=ttp%3A%2F%2Fapp.getnoodl.es%2Fs%2F<%= @recipe.id %><% unless @recipe.img.url == '' %>&media=<%= @recipe.img.url %><% end %>&description=<%= @recipe.title %>+on+Noodles+(<%= @recipe.description %>)" class="social-pinterest">
    <%= inline_svg('social-pinterest.svg') %>
  </a>
  <a href="https://bufferapp.com/add?url=http%3A%2F%2Fapp.getnoodl.es%2Fs%2F<%= @recipe.id %>&text=Check out <%= @recipe.title %>, published on Noodles:" class="social-buffer">
    <%= inline_svg('social-buffer.svg') %>
  </a>
  <a href="https://plus.google.com/share?url=http%3A%2F%2Fapp.getnoodl.es%2Fs%2F<%= @recipe.id %>" class="social-plus">
    <%= inline_svg('social-googleplus.svg') %>
  </a>
  <% if current_user && current_user.id == @recipe.user_id %>
    <a href="mailto:?subject=Check out <%= @recipe.title %> on Noodles&body=Hey there! I published a new recipe on Noodles (http://getnoodl.es), <%= @recipe.title %>. Check it out: http://app.getnoodl.es/s/<%= @recipe.id %>" class="social-email">
  <% else %>
    <a href="mailto:?subject=Check out <%= @recipe.title %> on Noodles&body=Hey there! Look at this recipe on Noodles (http://getnoodl.es), <%= @recipe.title %>. Check it out: http://app.getnoodl.es/s/<%= @recipe.id %>" class="social-email">
  <% end %>
    <%= inline_svg('ios7-email.svg') %>
  </a>
</div>
