<%- title "Private #{object.type}" %>

<%= render 'shared/nav' %>

<main class="w-50-m mx-auto phm tc pvl">
  <%= react_component 'Icon', { glyph: 'private-outline', size: 192 }, class: 'mx-auto grey-3' %>
  <h2 class="mvs">Sorry, this <%= object.type %> is private.</h2>
  <p>Try asking the <%= object.type %>’s owner to share the public link.</p>
  <%= link_to t('general.sign_in'), sign_in_path, class: 'mts btn btn--primary bg-blue' unless user_signed_in? %>
</main>
