<% activate_nav!(:library) %>
<% title 'Library' %>

<%= stylesheet_link_tag 'library', media: 'all' %>
<%= render 'shared/nav' %>

<main class="md-col-10 mw9 mx-auto">
  <h1 class="tc mtl">Library</h1>

  <article class="flex flex-rows fac fjc phm mbm">
    <% @pages.each do |page| %>
      <%= link_to page, class: 'link-reset' do %>
        <section class="library--page__preview">
          <h3 class="mtn"><%= page_title(page).truncate 140 %></h3>
          <div class="formatted-content f5"><%= page.content_raw.to_s.truncate(320).html_safe %></div>
        </section>
      <% end %>
    <% end %>
  </article>
</main>

<%= link_to new_page_path, class: 'btn-paper bg-orange fill-white circle fixed pam shadow tooltipped',
            'aria-label': 'Write a new Page' do %>
  <%= inline_svg 'add.svg' %>
<% end %>
