<% activate_nav!(:library) %>
<% title 'Library' %>

<%= stylesheet_link_tag 'library', media: 'all' %>
<%= render 'shared/nav' %>

<main class="md-col-10 mw9 mx-auto">
  <h1 class="tc mtl mbs">Library</h1>
  <section role="menubar" class="filterbar tc mbl">
    <%= link_to 'All Pages', library_path, class: filterbar_class(!render_params.any?) %>
    <%= link_to 'Archive', library_path(archive: true), class: filterbar_class(params[:archive]) %>
  </section>

  <article class="flex-ns flex-rows fac fjc phm mbm">
    <% @pages.each do |page| %>
      <%= link_to page, class: 'link-reset' do %>
        <section class="page--preview bg-white rounded oh mbs mas-ns shadow">
          <section class="page__color-banner <%= page.archived? ? 'grey-4' : "swatch--#{page.color}" %>"></section>
          <h3 class="mtm mbs phm">
            <%= page_title(page).truncate 140 %>
            <%= inline_svg 'archive.svg', class: 'fill-grey-3 fr mls', size: 20 if page.archived? %>
          </h3>
          <div class="formatted-content f5 phm"><%= HTML_Truncator.truncate(page.content_raw.to_s, 320).html_safe %></div>
        </section>
      <% end %>
    <% end %>
  </article>
</main>

<%= link_to new_page_path, class: 'btn-paper bg-orange fill-white circle fixed pam shadow tooltipped',
            'aria-label': 'Write a new Page' do %>
  <%= inline_svg 'add.svg' %>
<% end %>
