<% activate_nav!(:library) %>
<%- title page_title %>

<p>
  <strong>Name:</strong>
  <%= @page.name %>
</p>
<%= stylesheet_link_tag 'library', media: 'all' %>
<%= render 'shared/nav' %>

<p>
  <strong>Content:</strong>
  <%= @page.content %>
</p>

<p>
  <strong>Content raw:</strong>
  <%= @page.content_raw %>
</p>

<p>
  <strong>Shared:</strong>
  <%= @page.shared_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @page.user %>
</p>

<%= link_to 'Back', library_path %>
<%= javascript_include_tag 'library' %>
