<% activate_nav!(:library) %>
<%- title page_title(@page, 'New page').html_safe %>

<%= stylesheet_link_tag 'library', media: 'all' %>
<%= render 'shared/nav' %>

<main class="flex-ns fas fjc mtm mtl-ns phl-ns">
  <article class="document document--inline mw7 pan oh" data-behavior="page" data-id="<%= @page.id %>">
    <div class="grey-3" data-behavior="page_archived_banner">
      <%= render 'archived' if @page.archived? %>
    </div>

    <section class="bg-grey-6 border-bottom pam pal-ns tc rounded-top oh" data-behavior="page_errors" <%= hidden_if @page.errors.blank? %>>
      <p class="red mbn dn" data-behavior="page_error_spec">
        💀 The <span data-behavior="page_error_spec_field"></span> <span data-behavior="page_error_spec_message"></span>.
      </p>
      <p class="red mbn" data-behavior="page_error_generic">
        💀 Something went wrong. 😨
      </p>
    </section>

    <section class="page__color-banner swatch--<%= @page.color %>" data-behavior="page_color_banner" <%= hidden_if @page.archived? %>></section>

    <action class="fr pas tooltipped" data-behavior="page_archive_btn" aria-label="Archive this page" <%= hidden_if @page.archived? %>>
      <%= inline_svg 'archive.svg', class: 'fill-grey-4' %>
    </action>

    <%= form_for(@page, data: { remote: true, type: 'json', behavior: 'page_editor' }) do |f| %>
      <header class="mtm mtxl-ns mbm phm phxl-ns">
        <section class="bc f5 grey-3">
          <%= link_to 'Library', library_path, class: 'bc__link' %> ›
          <span <%= hidden_if @page.active? %> data-behavior="page_archive_bc">
            <%= link_to 'Archive', library_path(archive: true), class: 'bc__link' %> ›
          </span>
          <%= link_to page_title, page_path(@page), class: 'bc__link', 'data-behavior': 'page_editor_name_bc' %>
        </section>

        <%= f.text_area :name, class: 'text-input invisible-input f1 b col-12', 'data-behavior': 'page_editor_name',
                        required: true, rows: 1, autofocus: true, autocomplete: 'off', placeholder: 'Type the name of this page...' %>
      </header>

      <%= f.hidden_field :content %>

      <trix-editor input="page_content" class="formatted-content phm phxl-ns"
                   placeholder="Type the note here..."></trix-editor>

      <footer class="tc mtm mbm mbl-ns">
        <input type="hidden" data-behavior="page_editor_last_saved" value="">
        <%= f.hidden_field :color, 'data-behavior': 'page_color_val' %>
        <%= f.submit 'Save', class: 'btn btn--primary', 'data-behavior': 'page_editor_submit' %>
      </footer>
    <% end %>
  </article>

  <aside class="page__sidebar phm phn-ns bs-bb" data-behavior="page_sidebar" <%= hidden_if @page.archived? %>>
    <section class="page__sidebar__component">
      <h2 class="mtn mbs">Color</h2>
      <swatchpicker class="flex flex-rows fac fjc mbm mx-auto">
        <%= swatches %>
      </swatchpicker>
    </section>

    <section class="page__sidebar__component">
      <h2 class="mtn">Share this page</h2>
      <%= text_field_tag 'url', shared_page_url, class: 'text-input bs-bb' %>
    </section>

    <p class="page__sidebar__component mtl f5 grey-4">
      Created
      <span class="tooltipped relative" aria-label="<%= format_date @page.created_at %>"><%= time_ago_in_words @page.created_at %> ago</span>
      <%= link_to 'Delete', @page, class: 'fr red b', method: :delete, data: { behavior: 'page_delete_btn', confirm: 'Are you sure you want this page to be gone forever?' } %>
    </p>
  </aside>
</main>

<%= javascript_include_tag 'library' %>
