<% activate_nav!(:help) %>
<% title "Help" %>
<%= render "shared/nav" %>

<article class="document">

  <% if user_signed_in? %>

  <h1>Need help?</h1>

  <%= markdown("First, check out [this guide](http://noodles.withdraft.com) for help with various features, such as Cook Mode, Sharing, Web Import, Favorites, and more.") %>

  <p class="center mt2 mb0"><a href="mailto:lachlan@getnoodl.es?subject=I%20need%20some%20help"class="btn bg-blue">Ask a question</a></p>

  <small class="block py1 center">Or, ask Lachlan on Twitter (<a href="https://twitter.com/lachlanjc" class="blue">@lachlanjc</a>).</small>

  <hr>

  <h2>About Noodles</h2>
  <%= react_component("Bio") %>
  <%= react_component("Bio", person: "tns") %>

  <% else %>

  <h1>About Noodles</h1>

  <%= markdown("Noodles is a cooking app — a simple and free place for all your recipes. Check out [the homepage](http://www.getnoodl.es/) or the [Features page](http://noodles.withdraft.com) for more information on the app.") %>

  <%= react_component("Bio") %>
  <%= react_component("Bio", person: "tns") %>

  <hr>

  <h2>Have a question?</h2>

  <p><a href="https://twitter.com/lachlanjc" class="blue">Reach out to Lachlan on Twitter @lachlanjc</a>, or click the button below.</p>

  <p class="center mt2 mb0"><a href="mailto:noodles@helpful.io" data-helpful="noodles-a737a789-bc32-4d41-afb7-b01d18044823" class="btn bg-blue">Ask a question</a></p>

  <% end %>

</article>
