<% activate_nav!(:help) %>
<% title 'Help' %>

<% content_for(:bg_img) { image_path "auth/#{rand(1..4).to_s}.jpg" } %>
<%= render 'shared/nav' %>

<% if nobody_signed_in? %>
  <article class="document pam-ns mw6 mvl">
    <%= section_header 'About Noodles', 1, class: 'f2 mtn mbs grey-2' %>
    <p class="content lh-copy mvn">
      Noodles is a free app for cooking — it's your own organized library of all your recipes.
      Check out <%= link_to 'the homepage', root_url %> for more information.
    </p>
  </article>
<% end %>

<article class="document pam-ns mw6">
  <%= section_header 'Have a question?', 1, class: 'f2 mtn grey-2' %>
  <%= render 'shared/help' %>
</article>
