<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Noodles · Keep, cook, and share your recipes.</title>
  <meta name="keywords" content="recipes,noodles,cook,recipe,food,getnoodles,share recipes,online,cookbook">
  <meta name="description" content="Noodles is a simple online app for you to keep, cook, and share all your recipes. Cook better.">
  <%= stylesheet_link_tag "home", "data-turbolinks-track" => false %>
  <link rel="stylesheet" href="http://brick.a.ssl.fastly.net/Lato:400">
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta property="og:site_name" content="Noodles">
  <meta property="og:title" content="Noodles">
  <meta property="og:url" content="http://www.getnoodl.es/">
  <meta property="og:image" content="<%= image_path('apple-touch-icon.png') %>">
  <meta property="og:description" content="Cook better with Noodles, a simple app for all your recipes.">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@noodlesapp">
  <meta name="twitter:title" content="Noodles">
  <meta name="twitter:description" content="Cook better with Noodles, a simple app for all your recipes.">
  <meta name="twitter:image:src" content="<%= image_path('apple-touch-icon.png') %>">
  <meta name="twitter:domain" content="www.getnoodl.es">
  <script>
  !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(arguments)};
  d=s.createElement(q);q=s.getElementsByTagName(q)[0];
  d.src="http://d1l6p2sc9645hc.cloudfront.net/tracker.js";q.parentNode.insertBefore(d,q)}(window, document, "script", "_gs");
  _gs("GSN-107564-I");
    </script>
  </head>
  <body class="text-center m0 bg-grey-6">
    <nav role="navigation" class="nav">
      <div class="nav-side">
        <%= link_to t("general.home"), root_url, class: "nav-link normal active" %>
        <%= link_to t("general.features"), "http://noodles.withdraft.com/", class: "nav-link normal" %>
        <%= link_to t("general.about"), :help, class: "nav-link normal" %>
      </div>

      <% unless flash.empty? %>
      <% flash.each do |key, value| %>
      <div class="p2">
        <p class="m0"><%= value unless value.blank? %></p>
      </div>
      <% end %>
      <% end %>

      <div class="nav-side">
        <%= link_to t("general.sign_in"), sign_in_path, class: "nav-link normal" %>
      </div>
    </nav>

    <header class="hero" style="background:url(<%= asset_path 'home/background.jpg' %>) no-repeat">
      <div class="col-7 container">
        <h1 class="black mega mb2" style="font-weight:400">Keep, cook, and share your recipes with Noodles.</h1>
        <a class="btn btn-lg mt1 ib" onclick="_gs('event', 'Clicked hero button'); window.location='http://www.getnoodl.es/signup'">Sign Up</a>
      </div>
    </header>
    <p class="lead col-7 mobile-full-width mx-auto mt3 text-left">Noodles is a simple place for all your recipes. Add your chocolate cake to Noodles with a few keystrokes, then pull it up in the kitchen to make an awesome birthday cake. No more binders, print-outs, or scribbled annotations.</p>
    <article class="flex flex-around mobile-no-flex col-9 container">
      <section class="col-4 mobile-full-width mr2 bg-white rounded shadow p2">
        <div class="btn-paper-mini-inline">
          <%= inline_svg("cloud_done.svg") %>
        </div>
        <h3 class="normal">Always Ready to Go.</h3>
        <p class="text-left">Your recipes are seamlessly synced through Noodles, so you can access your recipes from any of your device, at any time. Your recipes are private by default.</p>
      </section>
      <section class="col-4 mobile-full-width mobile-padding-1 mr2 bg-white rounded shadow p2">
        <div class="btn-paper-mini-inline">
          <%= inline_svg("cook.svg") %>
        </div>
        <h3 class="normal">Cook Mode</h3>
        <p class="text-left">Cook Mode is the best way to cook with your recipes in the kitchen. It shows what you really need, and helps you out with ingredient checklists, notes, and more.</p>
        <p><a href="http://www.getnoodl.es/recipes/45/cook" class="btn-blue">Try Cook Mode</a></p>
      </section>
      <section class="col-4 mobile-full-width mobile-padding-1 bg-white rounded shadow p2">
        <div class="btn-paper-mini-inline">
          <%= inline_svg("share.svg") %>
        </div>
        <h3 class="normal">Share Recipes</h3>
        <p class="text-left">Give your friends great recipes with a unique Noodles link that you can post anywhere. Anyone else can then save their own copy and make their own changes.</p>
        <p><a href="http://www.getnoodl.es/s/ZWBEmQv" class="btn-blue">See a shared recipe</a></p>
      </section>
    </article>
    <section class="col-7 container">
      <blockquote class="lead black py1">
        &ldquo;Whether you want to keep your own recipes or you need to jot a recipe you find online or on TV, this website is handy.&rdquo;
      </blockquote>
      <h1 class="normal block mt2">Noodles is free. Try it out!</h1>
      <a class="btn btn-lg ib mt1" onclick="_gs('event', 'Clicked hero button'); window.location='http://www.getnoodl.es/signup'">Sign Up</a>
    </section>
    <footer class="block mt2 grey-3">
      <a href="http://noodles.withdraft.com/pages/558276" class="px2 link-reset">Terms</a>
      <a href="http://noodles.withdraft.com/pages/558280" class="px2 link-reset">Privacy</a>
      <%= link_to "Announcements", announcements_path, class: "px2 link-reset" %>
      <a href="https://www.facebook.com/pages/Noodles/698221030285633" class="px2 link-reset">Facebook</a>
      <a href="https://twitter.com/noodlesapp" class="px2 link-reset">Twitter</a>
    </footer>
  </body>
  </html>
