<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Noodles · Keep, cook, and share your recipes.</title>
  <meta name="keywords" content="recipes,noodles,cook,recipe,food,getnoodles,share recipes,online,cookbook">
  <meta name="description" content="Noodles is a simple online app for you to keep, cook, and share all your recipes. Cook better.">
  <%= stylesheet_link_tag "home" %>
  <link rel="stylesheet" href="http://brick.a.ssl.fastly.net/Lato:400">
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta property="og:site_name" content="Noodles">
  <meta property="og:title" content="Noodles">
  <meta property="og:url" content="http://www.getnoodl.es/">
  <meta property="og:image" content="<%= image_path('apple-touch-icon.png') %>">
  <meta property="og:description" content="Cook better with Noodles, a simple app for all your recipes.">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@noodlesapp">
  <meta name="twitter:title" content="Noodles">
  <meta name="twitter:description" content="Cook better with Noodles, a simple app for all your recipes.">
  <meta name="twitter:image:src" content="<%= image_path('apple-touch-icon.png') %>">
  <meta name="twitter:domain" content="www.getnoodl.es">
  <script type="text/javascript">
  if("standalone"in window.navigator&&window.navigator.standalone){var noddy,remotes=false;document.addEventListener("click",function(e){noddy=e.target;while(noddy.nodeName!=="A"&&noddy.nodeName!=="HTML"){noddy=noddy.parentNode}if("href"in noddy&&noddy.href.indexOf("http")!==-1&&(noddy.href.indexOf(document.location.host)!==-1||remotes)){e.preventDefault();document.location.href=noddy.href}},false)}
  </script>
  <script>
  !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(arguments)};
  d=s.createElement(q);q=s.getElementsByTagName(q)[0];
  d.src="http://d1l6p2sc9645hc.cloudfront.net/tracker.js";q.parentNode.insertBefore(d,q)}(window, document, "script", "_gs");
  _gs("GSN-107564-I");
    </script>
  </head>
  <body class="center m0 bg-grey-6">
    <nav role="navigation" class="md-flex bg-white p2 print-hide">
      <div>
        <%= link_to t("general.home"), root_url, class: "px1 orange regular active" %>
        <%= link_to t("general.features"), "http://noodles.withdraft.com/", class: "px1 orange regular" %>
        <%= link_to t("general.about"), help_path, class: "px1 orange regular" %>
      </div>

      <div class="flex-auto">
        <% unless flash.empty? %>
        <% flash.each do |key, value| %>
        <p class="mb0 center bold <%= flash_color_class(key) %>"><%= value unless value.blank? %></p>
        <% end %>
        <% end %>
      </div>

      <div>
        <%= link_to t("general.sign_in"), sign_in_path, class: "px1 orange regular" %>
      </div>
    </nav>

    <header class="hero bg-cover bg-center bg-no-repeat" style="background-image:url(<%= asset_path 'home/background.jpg' %>)">
      <div class="md-col-8 sm-col-11 mx-auto">
        <h1 class="white h0 regular">Keep, cook, and share all your recipes with Noodles.</h1>
        <a class="btn btn-lg mt2" onclick="_gs('event', 'Clicked hero button'); window.location='http://www.getnoodl.es/signup'">Sign Up</a>
      </div>
    </header>
    <p class="lead sm-col-10 md-col-8 mx-auto px2 left-align mt3 mb2">Noodles is a simple library of all your recipes. It takes just a few clicks to add a recipe, and you you'll never worry about finding one. And Noodles is designed for the kitchen — cooking is hard enough as it is. No more folders of print-outs and scribbled notecards.</p>
    <article class="sm-col-11 md-col-10 mx-auto mt3 md-flex flex-between">
      <section class="sm-col-11 sm-block m1 md-col-3 bg-white rounded shadow py2 px3">
        <div class="btn-paper-mini-inline mx-auto">
          <%= inline_svg("share.svg") %>
        </div>
        <h3 class="regular mt1">Share Recipes</h3>
        <p>Share favorites with friends with a quick link (they can save their own copies!), embed a recipe online, or even download a PDF.</p>
        <p><a href="http://www.getnoodl.es/s/2rAW0DA" class="btn-blue">Check out a recipe</a></p>
      </section>
      <section class="sm-col-11 sm-block m1 md-col-4 bg-white rounded shadow p2">
        <div class="btn-paper-mini-inline mx-auto">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M8.1 13.34l2.83-2.83L3.91 3.5c-1.56 1.56-1.56 4.09 0 5.66l4.19 4.18zm6.78-1.81c1.53.71 3.68.21 5.27-1.38 1.91-1.91 2.28-4.65.81-6.12-1.46-1.46-4.2-1.1-6.12.81-1.59 1.59-2.09 3.74-1.38 5.27L3.7 19.87l1.41 1.41L12 14.41l6.88 6.88 1.41-1.41L13.41 13l1.47-1.47z"/></svg>
        </div>
        <h3 class="regular mt1">Cook Mode</h3>
        <p>In the kitchen, Cook Mode helps you out. It features big text, a minimal, focused interface, ingredient checklists, notes, and more.</p>
        <p><a href="http://www.getnoodl.es/recipes/45/cook" class="btn-blue">Try Cook Mode</a></p>
      </section>
      <section class="sm-col-10 sm-block m1 md-col-3 bg-white rounded shadow py2 px3">
        <div class="btn-paper-mini-inline mx-auto">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z"/></svg>
        </div>
        <h3 class="regular mt1">Collections</h3>
        <p>Organize your recipes into collections, which are groups of recipes. Then, share a collection with just a click.</p>
        <p><a href="http://www.getnoodl.es/c/2A1J3Q" class="btn-blue">See a collection</a></p>
      </section>
    </article>
    <section class="mx-auto sm-col-10 md-col-8">
      <blockquote class="lead sm-col-9 mx-auto mt2">
        &ldquo;Whether you want to keep your own recipes or you need to jot a recipe you find online or on TV, this website is handy.&rdquo;
      </blockquote>
      <h1 class="regular mt2">Noodles is free. Try it out!</h1>
      <a class="btn btn-lg inline-block mt1" onclick="_gs('event', 'Clicked hero button'); window.location='http://www.getnoodl.es/signup'">Sign Up</a>
    </section>
    <footer class="block mt1 py2 grey-4">
      <a href="http://noodles.withdraft.com/pages/558276" class="px2 link-reset">Terms</a>
      <a href="http://noodles.withdraft.com/pages/558280" class="px2 link-reset">Privacy</a>
      <%= link_to "Announcements", announcements_path, class: "px2 link-reset" %>
      <a href="https://www.facebook.com/pages/Noodles/698221030285633" class="px2 link-reset">Facebook</a>
      <a href="https://twitter.com/noodlesapp" class="px2 link-reset">Twitter</a>
    </footer>
  </body>
  </html>
