<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Noodles · Keep, cook, and share your recipes.</title>
  <meta name="keywords" content="recipe app,best recipe app,recipe organizer app,noodles,noodles app,online recipes,paprika,find recipes">
  <meta name="description" content="<%= t('general.description') %>">
  <%= stylesheet_link_tag "home" %>
  <link rel="stylesheet" href="http://brick.a.ssl.fastly.net/Lato:400">
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:site_name" content="Noodles">
  <meta property="og:title" content="Noodles">
  <meta property="og:url" content="http://www.getnoodl.es/">
  <meta property="og:image" content="<%= image_path('apple-touch-icon.png') %>">
  <meta property="og:description" content="<%= t('general.description') %>">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@noodlesapp">
  <meta name="twitter:title" content="Noodles">
  <meta name="twitter:description" content="<%= t('general.description') %>">
  <meta name="twitter:image:src" content="<%= image_path('apple-touch-icon.png') %>">
  <meta name="twitter:domain" content="www.getnoodl.es">
  <script type="text/javascript">
  if("standalone"in window.navigator&&window.navigator.standalone){var noddy,remotes=false;document.addEventListener("click",function(e){noddy=e.target;while(noddy.nodeName!=="A"&&noddy.nodeName!=="HTML"){noddy=noddy.parentNode}if("href"in noddy&&noddy.href.indexOf("http")!==-1&&(noddy.href.indexOf(document.location.host)!==-1||remotes)){e.preventDefault();document.location.href=noddy.href}},false)}
  </script>
  <%= render 'shared/analytics' %>
</head>
<body class="center m0 bg-grey-6">
  <header class="hero-container bg-cover bg-center bg-no-repeat"
          style='background-image: url(<%= image_path "home/#{rand(1..6).to_s}.jpg" %>);'>
    <nav role="navigation" class="flex-ns phm pvs white dn-p">
      <div class="pvs">
        <%= link_to t("general.home"), root_url, class: "phs link-reset white regular" %>
        <%= link_to t("general.features"), docs_path, class: "phs link-reset white regular" %>
        <%= link_to "Blog", announcements_path, class: "phs link-reset white link-reset white" %>
        <%= link_to t("general.about"), help_path, class: "phs link-reset white regular" %>
        <%= link_to t("general.sign_out"), sign_out_path, method: :delete, class: "phs link-reset white regular" if user_signed_in? %>
      </div>

      <div class="flex-auto mt1 dn dib-ns">
        <% if flash.any? %>
          <% flash.each do |key, value| %>
            <span class="phl pvs border border-white white dib" style="border-width: 2px; border-radius: 4px;">
              <%= value.to_s %>
            </span>
          <% end %>
        <% else %>
          <span class="white caps">Noodles</span>
        <% end %>
      </div>

      <div class="pvs">
        <% if user_signed_in? %>
          <%= link_to "Your recipes →", recipes_path, class: "phs link-reset white" %>
        <% else %>
          <%= link_to t("general.sign_in"), sign_in_path, class: "phs link-reset white regular" %>
        <% end %>
      </div>
    </nav>

    <div class="hero-content phm mx-auto">
      <h1 class="white f1 mega-l mw8 mx-auto regular">Keep, cook, and share all your recipes in Noodles.</h1>
      <a class="btn bg-orange tsn f2 f1-ns mt2" style="padding: 1.5rem 2rem;"
         href="<%= sign_up_path %>" onclick="_gs('event', 'Clicked hero button');">
         Sign Up
      </a>
    </div>
  </header>
  <p class="phl mw7 mx-auto f3 f2-ns left-align mt3 mb2">
    Noodles is a simple place for all your recipes. Add one in just a few clicks, find it later in seconds. Instead of copies and scribbled notecards, you'll have a beautifully accessible library.
  </p>
  <article class="mx-auto flex flex-rows fjc" style="max-width: 85rem;">
    <section class="m1 bg-white shadow pam pal-ns rounded" style="width: 26rem;">
      <header class="mb2 flex fac fjc">
        <div class="circle bg-orange shadow pas fill-white dn dtc-ns" style="line-height: .9">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z"/></svg>
        </div>
        <h3 class="regular dtc m0 v-mid phm">Sharing</h3>
      </header>
      <p>Noodles recipes are private, but you can share them with anyone or even embed them on a blog.</p>
      <a href="http://www.getnoodl.es/s/6ww5W0L" class="btn bg-blue">Check out a recipe</a>
    </section>
    <section class="m1 bg-white shadow pam pal-ns rounded" style="width: 26rem;">
      <header class="mb2 flex fac fjc">
        <div class="circle bg-orange shadow pas fill-white dn dtc-ns" style="line-height: .9">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M8.1 13.34l2.83-2.83L3.91 3.5c-1.56 1.56-1.56 4.09 0 5.66l4.19 4.18zm6.78-1.81c1.53.71 3.68.21 5.27-1.38 1.91-1.91 2.28-4.65.81-6.12-1.46-1.46-4.2-1.1-6.12.81-1.59 1.59-2.09 3.74-1.38 5.27L3.7 19.87l1.41 1.41L12 14.41l6.88 6.88 1.41-1.41L13.41 13l1.47-1.47z"/></svg>
        </div>
        <h3 class="regular dtc m0 v-mid phm">Cook Mode</h3>
      </header>
      <p>When you're cooking, follow recipes more easily &mdash; check off ingredients, record notes, add photos, and more.</p>
      <a href="http://www.getnoodl.es/s/6ww5W0L/cook" class="btn bg-blue">Try Cook Mode</a>
    </section>
    <section class="m1 bg-white shadow pam pal-ns rounded" style="width: 26rem;">
      <header class="mb2 flex fac fjc">
        <div class="circle bg-orange shadow pas fill-white dn dtc-ns" style="line-height: .9">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z"/></svg>
        </div>
        <h3 class="regular dtc m0 v-mid phm">Collections</h3>
      </header>
      <p>Make Collections to group your recipes however you want. You can even send them to friends!</p>
      <a href="http://www.getnoodl.es/c/2A1J3Q" class="btn bg-blue">See a collection</a>
    </section>
    <section class="m1 bg-white shadow pam pal-ns rounded" style="width: 26rem;">
      <header class="mb2 flex fac fjc">
        <div class="circle bg-orange shadow pas fill-white dn dtc-ns" style="line-height: .9">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 3l-6 6 2 2 7-7V3m-10 9.5a.5.5 0 0 1-.5-.5.5.5 0 0 1 .5-.5.5.5 0 0 1 .5.5.5.5 0 0 1-.5.5M6 20a2 2 0 0 1-2-2c0-1.11.9-2 2-2a2 2 0 0 1 2 2c0 1.11-.9 2-2 2M6 8a2 2 0 0 1-2-2c0-1.11.9-2 2-2a2 2 0 0 1 2 2c0 1.11-.9 2-2 2m3.64-.36c.23-.5.36-1.05.36-1.64a4 4 0 0 0-4-4 4 4 0 0 0-4 4 4 4 0 0 0 4 4c.59 0 1.14-.13 1.64-.36L10 12l-2.36 2.36C7.14 14.13 6.59 14 6 14a4 4 0 0 0-4 4 4 4 0 0 0 4 4 4 4 0 0 0 4-4c0-.59-.13-1.14-.36-1.64L12 14l7 7h3v-1L9.64 7.64z"/></svg>
        </div>
        <h3 class="regular dtc m0 v-mid phm">Web Clipping</h3>
      </header>
      <p class="mb0">Find an awesome recipe on the web? Click on Noodles and it will save the recipe for you.</p>
    </section>
  </article>
  <section class="mx-auto mw7 phl pvm border-top mt3 md-col-6">
    <h1 class="normal f2 f1-ns mt2 mb0">Noodles is totally free.</h1>
    <blockquote class="mx-auto mw6">
      <p class="f4 f3-ns mt2">
        &ldquo;Noodles is so much easier than my print-outs. I can save recipes super easily, and then quickly find them later.&rdquo;
      </p>
    </blockquote>
    <a href="<%= sign_up_path %>" onclick="_gs('event', 'Clicked hero button');"
       style="padding: 1rem 1.5rem;" class="btn bg-orange f3 f2-ns mt2">
       Sign Up
    </a>
  </section>
  <footer class="db mt1 pvm grey-4">
    <%= link_to 'Terms', :terms, class: 'phs link-reset' %>
    <%= link_to 'Privacy', :privacy, class: 'phs link-reset' %>
    <a href="https://twitter.com/noodlesapp" class="phs link-reset">Twitter</a>
    <a href="https://www.facebook.com/pages/Noodles/698221030285633" class="phs link-reset">Facebook</a>
  </footer>
</body>
</html>
