<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Noodles – all your recipes in one place.</title>
  <meta name="description" content="<%= t('general.description') %>">
  <%= stylesheet_link_tag 'home', 'fonts', media: 'all' %>
  <meta property="fb:pages" content="698221030285633">
  <meta property="og:site_name" content="Noodles">
  <meta property="og:title" content="Noodles">
  <meta property="og:url" content="https://getnoodl.es/">
  <meta property="og:image" content="<%= asset_path 'icon.png' %>">
  <meta property="og:description" content="<%= t('general.description') %>">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@noodlesapp">
  <meta name="twitter:title" content="Noodles">
  <meta name="twitter:description" content="<%= t('general.description') %>">
  <meta name="twitter:image:src" content="<%= asset_path 'icon.png' %>">
  <meta name="twitter:domain" content="getnoodl.es">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff6d00">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Noodles">
  <meta name="application-name" content="Noodles">
  <meta name="theme-color" content="#ff6d00">
  <%= make_schema org_schema %>
  <script>
  !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(arguments)};
  d=s.createElement(q);q=s.getElementsByTagName(q)[0];
  d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.insertBefore(d,q)}(window, document, 'script', '_gs');
  _gs('GSN-107564-I');
  </script>
  <script>
  window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var n=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(n?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var o=document.getElementsByTagName("script")[0];o.parentNode.insertBefore(a,o);for(var r=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["clearEventProperties","identify","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=r(p[c])};
  heap.load('2053938006')
  </script>
</head>
<body class="man tc">
  <header
    class="bg-cover bg-center bg-no-repeat mbm"
    style="<%= style_carousel home_carousel_url %>">
    <nav role="navigation" class="flex fas tl pas pam-ns" style="width: 100%; padding-bottom: 0;">
      <%= link_to root_url, style: 'line-height: 0;' do %>
        <%= inline_svg 'cook.svg', class: 'fill-white', size: 32 %>
      <% end %>
      <%= link_to t('general.sign_in'),
        sign_in_path,
        class: 'btn bg-white',
        style: 'border: 0; margin-left: auto;'
      %>
    </nav>
    <article class="hero phm-ns mx-auto">
      <%= render 'shared/flash' if flash.any? %>
      <div class="banner bg-blur mx-auto">
        <h1 class="f1 f0-ns mvn">Now you’re cooking!</h1>
        <h2 class="f3 f2-ns mts mbm mbl-ns grey-2 sans normal">All your recipes in one place.</h2>
        <a
          href="#signup"
          name="signup"
          data-behavior="modal_trigger inline_signup_btn"
          class="btn btn--primary bg-orange b f3 f2-ns shadow">
          Try Noodles
        </a>
      </div>
    </article>
  </header>
  <section class="mw8 mx-auto pvm phm-ns">
    <p class="mw7 mx-auto mtn mbl phm f3 f2-ns serif">
      Noodles is an organized library of all your recipes.
      <br class="dn db-ns">
      Add one in just a few taps, find it in seconds later – anywhere.
    </p>
    <hr class="bg-orange bw0 mvm" style="width: 64px; height: 4px;">
    <h2 class="f2 mvn sans">What else?</h2>
    <article class="feature-list flex-grid tl mts">
      <%= feature_list_item 'Share with anyone', 'Keep recipes private, or share your best via links, PDFs, and embeds.', 'https://getnoodl.es/s/sample' %>
      <%= feature_list_item 'Cook Mode', 'When you’re at the stove, give your recipes superpowers.', 'https://getnoodl.es/s/sample/cook' %>
      <%= feature_list_item 'Web clipping', 'Save recipes from the web right from your browser.' %>
      <%= feature_list_item 'Collections', 'Group your recipes however you like, and share them with anyone.', 'https://getnoodl.es/c/2A1J3Q' %>
      <%= feature_list_item 'Explore', 'Find recipes from the web and save them to your library with a tap.', explore_path %>
      <%= feature_list_item 'Find it fast', 'Search, mark your favorites, or even open a random recipe.' %>
    </article>
  </section>
  <a
    href="#signup"
    name="signup"
    data-behavior="modal_trigger inline_signup_btn"
    class="btn btn--primary bg-blue">
    Make a free account
  </a>
  <section class="modal modal--signup modal--outlined tc" role="dialog" id="signup">
    <%= modal_header 'Sign up for Noodles' %>
    <%= render 'devise/registrations/new',
      user: User.new,
      options: { class: 'modal--scroll flex fc fjc' }
    %>
  </section>
  <div
    class="w-100 mlm-ns tl"
    style="position: fixed; left: 0px; right: 0px; bottom: 0px; z-index: 1;">
    <a
      href="#help"
      data-behavior="modal_trigger"
      class="dib bg-blue f4 b lh mlm pvs phm"
      style="border-radius: 6px 6px 0 0; color: #fff;">
      Help & feedback
    </a>
  </div>
  <section class="modal w-100 modal--mw tl" id="help" role="dialog">
    <%= modal_header 'Help & feedback' %>
    <%= render 'shared/help' %>
  </section>
  <footer class="w-100 border-top b--grey-3 mtxl pvl grey-3 f5 footer">
    <p class="mbn">
      More:
      <a href="https://news.getnoodl.es/">Medium blog</a>,
      <a href="https://twitter.com/noodlesapp">Twitter</a>,
      <a href="https://facebook.com/getnoodles">Facebook</a>.
    </p>
    <p class="mbn">
      Fine print:
      <%= link_to 'Terms', terms_path %>, <%= link_to 'Privacy', privacy_path %>.
      <br class="dn-ns">
      &copy; 2014-<%= Time.now.year %>
    </p>
  </footer>
  <%= javascript_include_tag 'home' %>
</body>
</html>
