<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Noodles · Keep, cook, and share your recipes.</title>
  <meta name="keywords" content="recipe app,best recipe app,recipe organizer app,noodles,noodles app,online recipes,paprika,find recipes">
  <meta name="description" content="<%= t('general.description') %>">
  <%= stylesheet_link_tag 'home' %>
  <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Lato:400,600">
  <%= render 'layouts/media' %>
  <%= render 'layouts/head' %>
</head>
<body class="tc man bg-grey-6">
  <header class="hero-container bg-cover bg-center bg-no-repeat"
          style="background-image: url(<%= image_path "home/#{rand(1..5).to_s}.jpg" %>);">
    <% activate_nav! :home %>
    <%= render 'shared/nav' %>

    <article class="hero-content phm mx-auto">
      <h1 class="white f1 mega-l mw8 mx-auto normal hero-shadow">One place for all your recipes.</h1>
      <h2 class="white mw8 mx-auto normal hero-shadow">Keep, cook, and share your recipes with Noodles.</h2>
      <%= link_to 'Start exploring', explore_path, class: 'btn bg-orange f2 mtl pam' if nobody_signed_in? %>
    </article>
  </header>
  <p class="phl mw7 mx-auto f3 f2-ns tl mtl mbm">
    Noodles is a simple place for all your recipes. Add one in just a few clicks, find it later in seconds. Instead of copies and scribbled notecards, you'll have a beautifully accessible library.
  </p>
  <article class="mx-auto flex flex-rows fjc" style="max-width: 85rem;">
    <section class="mas bg-white shadow pam pal-ns rounded" style="width: 26rem;">
      <header class="mbm flex fac fjc">
        <div class="circle bg-orange shadow pas fill-white dn dtc-ns lh0">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z"/></svg>
        </div>
        <h3 class="normal dtc man v-mid phm">Sharing</h3>
      </header>
      <p>Noodles recipes are private, but you can share them with anyone or even embed them on a blog.</p>
      <a href="https://getnoodl.es/s/sample" class="btn bg-blue" rel="nofollow">Check out a recipe</a>
    </section>
    <section class="mas bg-white shadow pam pal-ns rounded" style="width: 26rem;">
      <header class="mbm flex fac fjc">
        <div class="circle bg-orange shadow pas fill-white dn dtc-ns lh0">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M8.1 13.34l2.83-2.83L3.91 3.5c-1.56 1.56-1.56 4.09 0 5.66l4.19 4.18zm6.78-1.81c1.53.71 3.68.21 5.27-1.38 1.91-1.91 2.28-4.65.81-6.12-1.46-1.46-4.2-1.1-6.12.81-1.59 1.59-2.09 3.74-1.38 5.27L3.7 19.87l1.41 1.41L12 14.41l6.88 6.88 1.41-1.41L13.41 13l1.47-1.47z"/></svg>
        </div>
        <h3 class="normal dtc man v-mid phm">Cook Mode</h3>
      </header>
      <p>When you're cooking, follow recipes more easily &mdash; check off ingredients, record notes, add photos, and more.</p>
      <a href="https://getnoodl.es/s/sample/cook" class="btn bg-blue" rel="nofollow">Try Cook Mode</a>
    </section>
    <section class="mas bg-white shadow pam pal-ns rounded" style="width: 26rem;">
      <header class="mbm flex fac fjc">
        <div class="circle bg-orange shadow pas fill-white dn dtc-ns lh0">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z"/></svg>
        </div>
        <h3 class="normal dtc man v-mid phm">Collections</h3>
      </header>
      <p>Make Collections to group your recipes however you want. You can even send them to friends!</p>
      <a href="https://getnoodl.es/c/2A1J3Q" class="btn bg-blue" rel="nofollow">See a collection</a>
    </section>
    <section class="mas bg-white shadow pam pal-ns rounded" style="width: 26rem;">
      <header class="mbm flex fac fjc">
        <div class="circle bg-orange shadow pas fill-white dn dtc-ns lh0">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 3l-6 6 2 2 7-7V3m-10 9.5a.5.5 0 0 1-.5-.5.5.5 0 0 1 .5-.5.5.5 0 0 1 .5.5.5.5 0 0 1-.5.5M6 20a2 2 0 0 1-2-2c0-1.11.9-2 2-2a2 2 0 0 1 2 2c0 1.11-.9 2-2 2M6 8a2 2 0 0 1-2-2c0-1.11.9-2 2-2a2 2 0 0 1 2 2c0 1.11-.9 2-2 2m3.64-.36c.23-.5.36-1.05.36-1.64a4 4 0 0 0-4-4 4 4 0 0 0-4 4 4 4 0 0 0 4 4c.59 0 1.14-.13 1.64-.36L10 12l-2.36 2.36C7.14 14.13 6.59 14 6 14a4 4 0 0 0-4 4 4 4 0 0 0 4 4 4 4 0 0 0 4-4c0-.59-.13-1.14-.36-1.64L12 14l7 7h3v-1L9.64 7.64z"/></svg>
        </div>
        <h3 class="normal dtc man v-mid phm">Web Clipping</h3>
      </header>
      <p class="mbn">Find an awesome recipe on the web? Noodles will save the recipe for you.</p>
    </section>
  </article>
  <section class="md-col-6 mw7 mx-auto pal border-top mtl">
    <h1 class="normal f2 f1-ns mvm">Noodles is totally free.</h1>
    <blockquote class="mx-auto mw6 f4 f3-ns mbm">
      &ldquo;Noodles lets me enjoy cooking instead of frantically trying to find recipes.&rdquo;
    </blockquote>
    <% if nobody_signed_in? %>
      <a href="#signup" name="signup" data-behavior="modal_trigger inline_signup_btn"
         style="padding: 1rem 1.5rem;" class="btn bg-orange shadow shadow--effect f3 f2-ns">
         Sign Up
      </a>
      <section class="modal" role="dialog" id="signup">
        <%= modal_close %>
        <h2 class="orange man">Sign up for Noodles</h2>
        <%= render 'devise/registrations/new', user: User.new, text: 'Noodles is (and always will be) completely free.',
                   options: { class: 'modal--scroll' } %>
      </section>
    <% end %>
  </section>
  <footer class="db pvm grey-4">
    <%= link_to 'Terms', :terms, class: 'phs link-reset' %>
    <%= link_to 'Privacy', :privacy, class: 'phs link-reset' %>
    <a href="https://twitter.com/noodlesapp" class="phs link-reset">Twitter</a>
    <a href="https://www.facebook.com/getnoodles/" class="phs link-reset">Facebook</a>
    <a href="https://www.instagram.com/getnoodles/" class="phs link-reset">Instagram</a>
  </footer>
  <%= javascript_include_tag 'home' %>
</body>
</html>
