<% title 'Groceries' %>
<% activate_nav! :groceries %>

<%= render 'shared/nav' %>

<%= react_component 'Groceries', groceries: @groceries %>

<%#
<section class="modal" role="dialog" id="sms">
  <%= modal_header 'Using SMS' %>
  <div class="meta-split">
    <div class="meta-split__col meta-split__col--left tc">
      <h3 class="mtn mbm grey-3 f4 sans caps">Number</h3>
      <p class="f2"><%= number_to_phone ENV['TWILIO_NUMBER'] %></p>
      <h3 class="mvm grey-3 f4 sans caps">How to use it</h3>
      <div class="f5 grey-2 content">
        <div class="mbs">
          <span class="b f6 sans bg-grey-3 white phs rounded dib mrs">ADD ITEM</span>Text anything
        </div>
        <div>
          <span class="b f6 sans bg-grey-3 white phs rounded dib mrs">GET LIST</span>“Groceries”/“List”
        </div>
      </div>
    </div>
    <div class="meta-split__col meta-split__col--right dn db-ns">
      <h3 class="mtn mbm grey-3 f4 sans tc caps">Preview</h3>
      <ul class="flex fc list-reset f5 mw5 messages">
        <li class="bg-green phm">4 carrots</li>
        <li class="bg-grey-3 phm">Saved!</li>
        <li class="bg-green phm">List</li>
        <li class="bg-grey-3 phm pvs lh-title">4 carrots<br>2 pineapples</li>
      </ul>
      <style>
      .messages { line-height: 2; }
      .messages li {
        color: white;
        border-radius: 2rem;
        display: block;
        width: fit-content;
      }
      .messages li.bg-grey-3 {
        align-self: flex-end;
        text-align: right;
      }
      </style>
    </div>
  </div>
  <footer class="modal__feature bg-grey-5 border-top pam phl-ns">
    <p class="sans grey-2 mvn">You can only text from your registered phone number.</p>
    <%= form_for current_user, url: user_registration_path, html: { class: 'mx-auto'} do |f| %>
      <%= f.label :phone, 'Your phone number (+ intl code)', class: 'label f5 dib' %>
      <small class="f5 dib grey-3">– never sold or spammed</small>
      <div class="flex">
        <%= f.phone_field :phone,
          placeholder: '1555-555-5555',
          class: 'text-input dib f5',
          style: 'min-width: 8rem;'
        %>
      <%= f.submit 'Save', class: 'btn btn-sm bg-blue mls' %>
      </div>
    <% end %>
  </footer>
</section>
#%>
