<% activate_nav! :subscribe %>
<% title 'Subscribe' %>

<% bg_carousel 'subscribe.jpg' %>
<%= render 'shared/nav' %>

<main class="document mw6 mtl mtm-ns">
  <%= react_component 'SuperHeading', children: 'Subscribe to Noodles',
    className: 'f1-ns', style: { marginBottom: 16 } %>
  <% if current_user.subscriber? %>
    <div class="pink flex mvm">
      <%= react_component 'Icon', { glyph: 'like-fill', size: 48 }, class: 'mrm' %>
      <div>
        <p class="c--inherit lh-title b serif f3 mbs">You’re a subscriber.<br>Thank you!</p>
        <p class="f5 grey-3">
          Active since
          <%= unix_date(@subscription.start).to_s(:rfc822) %>
          <br>
          <% unless @subscription.cancel_at_period_end %>
            Renews for <%= number_to_currency(12, precision: 0) %> on
            <%= unix_date(@subscription.current_period_end).to_s(:rfc822) %>
          <% end %>
        </p>
        <%= link_to 'Cancel', subscription_path(@subscription.id), method: :delete,
          class: 'btn btn-sm bg-red' unless @subscription.cancel_at_period_end %>
      </div>
    </div>
  <% else %>
    <section class="content">
      <p>
        You can use Noodles totally for free right now, but if you enjoy cooking with it,
        <strong>please consider a subscription</strong>.
      </p>
      <p>
        Here’s what you’ll get:
      </p>
      <ul class="sans f4 lh-title list-reset two-columns-ns">
        <li class="flex fac">
          <%= react_component 'Icon', { glyph: 'embed' }, class: 'pink fsn mrs' %>
          <span>Embed recipes on another website/blog</span>
        </li>
        <li class="flex fac">
          <%= react_component 'Icon', { glyph: 'photo' }, class: 'pink fsn mrs' %>
          <span>Add photos up to 25MB</span>
        </li>
        <li class="flex fac">
          <%= react_component 'Icon', { glyph: 'message' }, class: 'pink fsn mrs' %>
          <span>Faster support</span>
        </li>
        <li class="flex fac">
          <%= react_component 'Icon', { glyph: 'like' }, class: 'pink fsn mrs' %>
          <span>Help keep Noodles alive & ad-free</span>
        </li>
      </ul>
      <p class="mtm">
        I’m a young indie developer building Noodles, and I couldn’t work on this project without subscriptions.
        Your contributions will be spent directly on the services like hosting that keep Noodles running. If you’ve got any questions, please ask below.
      </p>
      <p>
        —Lachlan
      </p>
      <%= form_tag subscriptions_path, method: 'POST', class: 'sans' do |f| %>
        <script
          src="https://checkout.stripe.com/checkout.js"
          class="stripe-button"
          data-key="<%= ENV['STRIPE_PUBLISH'] %>"
          data-label="Subscribe ($12/yr)"
          data-name="Noodles Subscription"
          data-image="<%= image_url 'icon/circle@128.png' %>"
          data-email="<%= current_user.email %>"
          data-amount="<%= 12 * 100 %>">
        </script>
        <span class="dn mlm grey-3 f5">($1/mo, billed yearly)</span>
        <style>
          /* AGGHHH STRIPE */
          .stripe-button-el {
            background-image: none !important;
            background-color: #ff4527 !important;
            border-radius: 999px !important;
            padding: .5rem 1rem !important;
            resize: none !important;
          }
          .stripe-button-el, .stripe-button-el > span {
            box-shadow: none !important;
            text-shadow: none !important;
          }
          .stripe-button-el > span {
            background: none !important;
            padding: 0 !important;
            font-weight: 600 !important;
            font-family: inherit !important;
            font-size: 1.125rem !important;
            line-height: 1.5 !important;
            min-height: initial !important;
            height: auto !important;
          }
        </style>
      <% end %>
    </section>
    <a class="db mvm blue underline" href="https://plasso.com/lachlan@getnoodl.es">
      Or, send a single donation →
    </a>
  <% end %>
  <%= section_header 'Questions?', 2, class: 'grey-2 f3' %>
  <%= render 'shared/help', hide_footer: true %>
</main>
