<% activate_nav! :subscribe %>
<% title 'Subscribe' %>

<% content_for(:bg_img) { image_path 'subscribe.jpg' } %>
<%= render 'shared/nav' %>

<main class="document mw6">
  <%= section_header 'Subscribe', 1, class: 'mtn mbm grey-2 f2 tc' %>
  <% if current_user.subscriber? %>
    <div class="flex mvm" style="color: #e91e63;">
      <%= inline_svg 'favorite.svg', size: 48, class: 'f--cc mrm' %>
      <div>
        <p class="c--inherit lh-title b f3 mbs">You’re a subscriber.<br>Thank you!</p>
        <p class="f5 grey-3">
          Active since
          <%= unix_date(@subscription.start).to_s(:rfc822) %>
          <br>
          <% unless @subscription.cancel_at_period_end %>
            Renews for <%= number_to_currency(12, precision: 0) %> on
            <%= unix_date(@subscription.current_period_end).to_s(:rfc822) %>
            · <%= link_to 'Cancel', subscription_path(@subscription.id), method: :delete, class: 'red' %>
          <% end %>
        </p>
      </div>
    </div>
  <% else %>
    <section class="content">
      <p>
        Right now you can use Noodles completely for free,
        but if you enjoy cooking with it, <span class="b">please consider buying a subscription</span>.
      </p>
      <p>
        With a subscription, you’ll get be the first to get new features and projects, and you’ll get even faster support.
      </p>
      <p class="sans f3 lh-title mvm" style="font-style: italic;">
        Your subscription keeps Noodles running and ad-free. I couldn’t work on this project without subscriptions.
      </p>
      <p>
        Noodles is built by a single, independent developer.
        Your contributions will be spent on the services like DigitalOcean that help keep Noodles running.
      </p>
      <p>
        - Lachlan
        <!--
        <img
          src="https://lachlanjc.me/static/portrait-96.jpg"
          class="relative circle dib fsn mrm"
          width="28" height="28"
          style="left: 8px; top: 8px;">
          -->
      </p>
      <%= form_tag subscriptions_path, method: 'POST', class: 'sans' do |f| %>
        <script
          src="https://checkout.stripe.com/checkout.js"
          class="stripe-button"
          data-key="<%= ENV['STRIPE_PUBLISH'] %>"
          data-label="Subscribe ($12/yr)"
          data-name="Noodles Subscription"
          data-image="<%= image_url 'icon/circle@128.png' %>"
          data-email="<%= current_user.email %>"
          data-amount="<%= 12 * 100 %>">
        </script>
        <span class="dn mlm grey-3 f5">($1/mo, billed yearly)</span>
        <style>
          /* AGGHHH STRIPE */
          .stripe-button-el {
            background-image: none !important;
            background-color: #ff6d00 !important;
            border-bottom: 2px solid rgba(0, 0, 0, 0.15);
            border-radius: 4px !important;
            padding: .5rem 1rem !important;
          }
          .stripe-button-el, .stripe-button-el > span {
            box-shadow: none !important;
            text-shadow: none !important;
          }
          .stripe-button-el > span {
            background: none !important;
            padding: 0 !important;
            font-weight: 600 !important;
            font-family: inherit !important;
            font-size: 1.125rem !important;
            line-height: 1.5 !important;
            min-height: initial !important;
            height: auto !important;
          }
        </style>
      <% end %>
    </section>
    <a class="db mvm blue underline f5" href="https://plasso.com/lachlan@getnoodl.es">
      Or, send a single donation →
    </a>
  <% end %>
  <%= section_header 'Questions?', 2, class: 'grey-2 f3 tc' %>
  <%= render 'shared/help', hide_footer: true %>
</main>
