<% activate_nav! :sign_in %>
<% title 'Sign in' %>
<% content_for(:bg_img) { image_path "auth/#{rand(1..4).to_s}.jpg" } %>

<%= render 'shared/nav' %>

<% cache do -%>
<main class="document mw6">
  <%= section_header 'Sign in', 1, class: 'mtn mbm grey-2 f2' %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <%= devise_error_messages! %>

    <%= f.label :email, class: 'label' %>
    <%= f.email_field :email, class: 'text-input', required: true, autofocus: true, placeholder: 'bolognese@icloud.com' %>

    <%= f.label :password, class: 'label mtm' %>
    <%= f.password_field :password, class: 'text-input', required: true, pattern: '.{8,}', placeholder: '••••••••' %>

    <div>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, class: 'mts' %>
    </div>

    <%= f.submit t('.sign_in'), class: 'btn btn--primary bg-orange mtm' %>

  <% end %>

  <%= link_to 'Forgot your password?', :forgot_password, class: 'mtm db f5 grey-3' %>
</main>
<% end -%>
