%header.bar.p-hide
  .logo-cont
    .logo
    .save
      %button.button Save to Your Noodle Bowl
%header.r-header
  .container
      %h1= recipe.name
      %h4= recipe.description
      %h5= recipe.cuisine
    .body-container
      %article.georgia
        %section
          %h4
            %span.bold Recipe from:
              %a.author{:href => "javascript:;", :onclick => "showProfile();"} Lachlan C
            %br
            %span.bold Active time: #{recipe.active_time} 24 min
            %br
            %span.bold Total time: #{recipe.total_time} min
            %br
            %span.bold Serves: #{recipe.serves} people
        %hr
        %section.ingredients
          %h2 Ingredients
          %ul
            / render in an li for each ingredient
        %section
          %h2 Steps
          %ol
            / render in an li for each step
        %section
          %h2.p-hide Notes
          %small.p-hide Notes are formatted with Markdown (read a guide on it
            %a{href => "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet"} here
          %small .
          %br
          %textarea#inputter.note-editor{:autocomplete => "false", :placeholder => "Type your notes in here..."}
          %button.button{:onclick => "save();"} Save
          %button.button{:onclick => "render();"} View
          %br
        %section.recipe-options.p-hide
          %ul.recipe-actions.tk-proxima-nova
            %li.top
              %button
                #print.icon{:onclick => "window.print();"}
                %span Print
            %li
              %button
                #share.icon
                %span Share
        %button.button.save.bold Save to Your Noodle Bowl