<% activate_nav!(:explore) %>
<% title 'Explore' %>

<%= render 'shared/nav' %>

<header class="relative inline-with-nav image-header bg-center bg-no-repeat bg-cover pvxl phm flex fac"
        style='background-image: url(<%= image_path "explore/#{rand(1..5).to_s}.jpg" %>);'>
  <div class="tc mx-auto col-12">
    <h1 class="mtn mbn white">
      Explore
      <span class="normal">by <%= link_to 'Noodles', root_url, class: 'link-reset' %></span>
    </h1>
    <h2 class="white normal mts mbm">What do you want to make?</h2>
    <div class="md-col-8 mw7 phs mx-auto flex fac">
      <input type="text" role="search"
             class="text-input col-12 dib f2 shadow pvs phm bw0 bs-bb"
             placeholder="maybe pancakes?"
             data-behavior="explore_search_field" autofocus>
      <a class="pointer" data-behavior="explore_clear_search">
        <%= inline_svg 'close.svg', class: 'fill-white mls dib' %>
      </a>
    </div>
    <section role="menubar" class="filterbar mtm" data-behavior="explore_src_pick_bar">
      <a role="menuitem" class="filterbar-item dib phm pointer white white-hover"
         data-behavior="explore_src_pick" data-src-name="nyt">NYT Cooking</a>
      <a role="menuitem" class="filterbar-item dib phm pointer white white-hover"
         data-behavior="explore_src_pick" data-src-name="epicurious">Epicurious</a>
      <a role="menuitem" class="filterbar-item dib phm pointer white white-hover"
         data-behavior="explore_src_pick" data-src-name="allrecipes">Allrecipes</a>
    </section>
  </div>
</header>

<main class="md-col-10 mx-auto pam tc mw7" data-behavior="explore_results_container">
  <article class="col-12 rounded bg-white shadow pal mbl mx-auto bs-bb mw6">
    <h2 class="mtn normal">
      Find the best recipes on the web with <span class="b">Explore</span>.
    </h2>
    <% if user_signed_in? %>
      <p class="mbn">
        Search for anything you want to cook &mdash;
        you can save the recipes to your Noodles with just a click.
      </p>
    <% else %>
      <p>
        Search for anything you want to cook.
        <br class="dn db-ns">
        Sign up to save the recipe.
      </p>
      <div class="tc mtm" data-behavior="inline_signup_btn_container">
        <a href="#signup" name="signup" data-behavior="modal_trigger inline_signup_btn" class="btn bg-blue">Sign up for Noodles</a>
        <%= link_to 'Sign back in', sign_in_path, class: 'mls-ns mtm btn bg-white' %>
      </div>
    <% end %>
  </article>
</main>

<h2 class="phm mx-auto mw7 normal tc mtn mbm" data-behavior="explore_suggestions">
  Granola? Carrot cake? Sorbet? Risotto? Stir fry?
  <br>😋
</h2>

<% if nobody_signed_in? %>
  <section class="modal" role="dialog" id="signup">
    <%= modal_close %>
    <h2 class="orange mbn">Sign up for Noodles</h2>
    <%= render 'devise/registrations/new', user: User.new, text: 'Noodles is, and always will be, totally free.',
                                           params: { explore: true },
                                           options: { class: 'modal-scroll', data: { remote: true, behavior: 'inline_signup_form' } } %>
    <div class="dn tc" data-behavior="inline_signup_error">
      <p class="f3 red norma">Something went wrong.</p>
      <%= link_to 'Try Again', sign_up_path, class: 'btn bg-blue' %>
    </div>
  </section>
<% end %>

<section class="modal pam" role="dialog" id="preview" data-behavior="explore_preview_modal">
  <%= modal_close %>
  <h2 class="orange di mbn" data-behavior="explore_preview_title"></h2>
  <a data-behavior="explore_open_original" class="dib" target="_blank" rel="nofollow">
    <%= inline_svg 'open-new-tab.svg', class: 'fill-orange relative', style: 'width: 16px; height: 16px; top: -5px; left: 2px;' %>
  </a>
  <p class="grey-3" data-behavior="explore_preview_description"></p>
  <article class="text modal-scroll" data-behavior="explore_preview_body"></article>
  <footer class="border-top tc blue">
    <% if user_signed_in? %>
      <a class="btn bg-blue mtm" data-behavior="explore_clip_from_preview">Clip</a>
    <% else %>
      <a data-behavior="explore_trigger_inline_signup" class="btn bg-orange mtm">Sign up for Noodles to Clip</a>
    <% end %>
  </footer>
</section>

<script>
var urlParams;
(window.onpopstate = function() {
	var match,
		pl = /\+/g, // Regex for replacing addition symbol with a space
		search = /([^&=]+)=?([^&]*)/g,
		decode = function(s) {
			return decodeURIComponent(s.replace(pl, ' '));
		},
		query = window.location.search.substring(1);

	urlParams = {};
	while (match = search.exec(query))
		urlParams[decode(match[1])] = decode(match[2]);
})();
</script>
<%= javascript_include_tag 'explore' %>
