<% activate_nav!(:explore) %>
<% title 'Explore' %>

<% content_for :meta do -%>
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary">
  <meta property="og:site_name" content="Noodles">
  <meta name="twitter:site" content="@noodlesapp">
  <meta name="twitter:domain" content="getnoodl.es">
  <meta property="og:url" content="<%= explore_url %>">
  <meta property="og:title" content="Noodles Explore">
  <meta name="twitter:title" content="Noodles Explore">
  <meta property="og:description" content="Find & save the best recipes on the web with Noodles Explore.">
  <meta name="twitter:description" content="Find & save the best recipes on the web with Noodles Explore.">
<% end -%>

<%= render 'shared/nav', no_margin: true %>

<header
  class="image-header bg-center bg-no-repeat bg-cover phm flex fac"
  style="<%= style_carousel explore_carousel_url %>">
  <div class="tc mx-auto w-100">
    <%= link_to root_url, class: 'link-reset' do %>
      <%= react_component 'SuperHeading',
        children: 'Noodles Explore', className: 'white',
        style: { marginBottom: 0, borderBottomWidth: 0 } %>
    <% end %>
    <h2 class="white fwn mvm">What do you want to make?</h2>
    <div class="w-two-thirds-m mw7 phs mx-auto flex fac">
      <input
        type="text"
        role="search"
        class="text-input w-100 dib f2 rounded card pvs phm bw0 bx"
        placeholder="pancakes"
        data-behavior="explore_search_field"
        autofocus
      />
      <a class="pointer dn" data-behavior="explore_clear_search rehide">
        <%= react_component 'Icon', { glyph: 'view-close' }, class: 'grey-4 mls dib' %>
      </a>
    </div>
    <section role="menubar" class="filterbar mtm" data-behavior="explore_src_pick_bar">
      <a role="menuitem" class="filterbar__item dib phm pointer white white-hover"
         data-behavior="explore_src_pick" data-src-name="nyt">NYT Cooking</a>
      <a role="menuitem" class="filterbar__item dib phm pointer white white-hover"
         data-behavior="explore_src_pick" data-src-name="epicurious">Epicurious</a>
      <!--
      <a role="menuitem" class="filterbar__item dib phm pointer white white-hover"
         data-behavior="explore_src_pick" data-src-name="allrecipes">Allrecipes</a>
      -->
    </section>
  </div>
</header>

<main class="w-80-m mx-auto pam tc mw7" data-behavior="explore_results_container">
  <article class="w-100 card rounded pam pal-ns mbl bx mx-auto mw6">
    <h2 class="w-80-m mx-auto mtn fwn">
      Find the best recipes on the web with <strong class="b">Explore</strong>.
    </h2>
    <% if user_signed_in? %>
      <p class="mbn">
        Search for anything you want to cook,
        then save your favorite results to your library.
      </p>
    <% else %>
      <p>
        Search for anything you want to cook.
        <br class="dn db-ns">
        Sign up to save the recipes you find.
      </p>
      <div class="flex fac fjc mts" data-behavior="inline_signup_btn_container">
        <a href="#signup" name="signup" data-behavior="modal_trigger inline_signup_btn" class="btn btn--primary bg-orange">Sign up</a>
        <%= link_to 'Sign in', sign_in_path, class: 'btn bg-white mlm' %>
      </div>
    <% end %>
  </article>
</main>

<h2 class="phm mx-auto mw7 normal dn flex fac fjc mtn" data-behavior="explore_suggestions rehide">
  <span class="f0 mrm">😋</span>
  <span>
    Carrot cake? Gelato?<br>
    Mochi? Kebabs?<br>
    Spring rolls? Lamb curry?
  </span>
</h2>

<% if nobody_signed_in? %>
  <section class="modal modal--signup modal--outlined tc" role="dialog" id="signup">
    <%= modal_header 'Sign up for Noodles' %>
    <%= render 'devise/registrations/new',
      user: User.new,
      options: { class: 'modal--scroll flex fc fjc' }
    %>
    <div class="dn" data-behavior="inline_signup_error">
      <h3 class="red fwn mbm">Something went wrong. 😞</h3>
      <%= link_to 'Try Again', sign_up_path, class: 'btn btn--primary bg-blue' %>
    </div>
  </section>
<% end %>

<section class="modal modal--scrollable modal--mw w-100 phl-ns" role="dialog" id="preview" data-behavior="explore_preview_modal">
  <header class="mtm-ns mbm">
    <div class="flex">
      <h2 class="flex-auto orange mvn" data-behavior="explore_preview_title"></h2>
      <a data-behavior="explore_open_original" class="v-top phs fsn" target="_blank" rel="nofollow">
        <%= react_component 'Icon', { glyph: 'link', size: 32 }, class: 'orange' %>
      </a>
      <action role="button" class="fr fsn" data-behavior="modal_close">
        <%= react_component 'Icon', { glyph: 'view-close', size: 36 }, class: 'grey-3' %>
      </action>
    </div>
    <p class="grey-3 mbn" data-behavior="explore_preview_description"></p>
  </header>
  <article class="text modal__scroller" data-behavior="explore_preview_body"></article>
  <footer class="modal__footer">
    <% if user_signed_in? %>
      <a data-behavior="explore_clip_from_preview explore_clipped_toggle">
        Clip
      </a>
      <a
        class="btn bg-blue flex fac"
        target="_blank"
        data-behavior="rehide explore_clipped_open explore_clipped_toggle">
        <%= react_component 'Icon', { glyph: 'link', size: 24 } %>
        Clipped!
      </a>
    <% else %>
      <a data-behavior="modal_trigger modal_close_first" href="#signup" class="btn btn--primary bg-orange">Sign up</a>
      <span class="grey-3 dib mlm">before you Clip</a>
    <% end %>
  </footer>
</section>

<% content_for :javascript do -%>
  <script>
  var urlParams;
  (window.onpopstate = function() {
    var match,
      pl = /\+/g, // Regex for replacing addition symbol with a space
      search = /([^&=]+)=?([^&]*)/g,
      decode = function(s) {
        return decodeURIComponent(s.replace(pl, ' '));
      },
      query = window.location.search.substring(1);

    urlParams = {};
    while (match = search.exec(query))
      urlParams[decode(match[1])] = decode(match[2]);
  })();
  </script>
  <%= javascript_include_tag 'explore', 'data-turbolinks-track': 'reload' %>
<% end -%>
