<!DOCTYPE html>
<html>
<head>
  <title><%= "#{content_for(:title)} ·" if content_for?(:title) %> Noodles</title>
  <%= content_for?(:meta) ? yield(:meta) : render('layouts/media') %>
  <%= stylesheet_link_tag 'application', '//brick.a.ssl.fastly.net/Lato:400,600', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= render 'layouts/head' %>
</head>
<body class="<%= body_classes %> man"
      style="<%= "background-image: url(#{content_for(:bg_img)});" if content_for?(:bg_img) %>">
  <%= yield %>
</body>
</html>
