<!DOCTYPE html>
<html>
<head>
  <title><%= "#{content_for(:title)} ·" if content_for?(:title) %> Noodles</title>
  <%= content_for?(:meta) ? yield(:meta) : render('layouts/media') %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Lato:400,600">
  <%= render 'layouts/head' %>
</head>
<body class="<%= 'bg-grey-6' unless @remove_grey_bg %> man">
  <%= yield %>
</body>
</html>
