<!DOCTYPE html>
<html>
<head>
  <title><%= "#{content_for(:title)} ·" if content_for?(:title) %> Noodles</title>
  <% if content_for?(:meta) %>
  <%= yield(:meta) -%>
  <% else %>
  <meta property="og:site_name" content="Noodles" />
  <meta property="og:title" content="Noodles">
  <meta property="og:url" content="http://www.getnoodl.es/">
  <meta property="og:image" content="<%= image_url('apple-touch-icon.png') %>"/>
  <meta property="og:description" content="Cook better with Noodles, a simple app for all your recipes.">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Noodles">
  <meta name="twitter:description" content="Cook better with Noodles, a simple app for all your recipes.">
  <meta name="twitter:image:src" content="<%= image_url('apple-touch-icon.png') %>">
  <meta name="twitter:domain" content="getnoodl.es">
  <% end %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="stylesheet" href="http://brick.a.ssl.fastly.net/Lato:400,600">
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <script type="text/javascript">
  if("standalone"in window.navigator&&window.navigator.standalone){var noddy,remotes=false;document.addEventListener("click",function(e){noddy=e.target;while(noddy.nodeName!=="A"&&noddy.nodeName!=="HTML"){noddy=noddy.parentNode}if("href"in noddy&&noddy.href.indexOf("http")!==-1&&(noddy.href.indexOf(document.location.host)!==-1||remotes)){e.preventDefault();document.location.href=noddy.href}},false)}
  </script>
  <link rel="apple-touch-icon" sizes="57x57" href="<%= asset_path 'apple-touch-icon-57x57.png' %>">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= asset_path 'apple-touch-icon-114x114.png' %>">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= asset_path 'apple-touch-icon-72x72.png' %>">
  <link rel="apple-touch-icon" sizes="144x144" href="<%= asset_path 'apple-touch-icon-144x144.png' %>">
  <link rel="apple-touch-icon" sizes="60x60" href="<%= asset_path 'apple-touch-icon-60x60.png' %>">
  <link rel="apple-touch-icon" sizes="120x120" href="<%= asset_path 'apple-touch-icon-120x120.png' %>">
  <link rel="apple-touch-icon" sizes="76x76" href="<%= asset_path 'apple-touch-icon-76x76.png' %>">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= asset_path 'apple-touch-icon-152x152.png' %>">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path 'apple-touch-icon-180x180.png' %>">
  <link rel="icon" type="image/png" href="<%= asset_path 'favicon-192x192.png' %>" sizes="192x192">
  <link rel="icon" type="image/png" href="<%= asset_path 'favicon-160x160.png' %>" sizes="160x160">
  <link rel="icon" type="image/png" href="<%= asset_path 'favicon-96x96.png' %>" sizes="96x96">
  <link rel="icon" type="image/png" href="<%= asset_path 'favicon-16x16.png' %>" sizes="16x16">
  <link rel="icon" type="image/png" href="<%= asset_path 'favicon-32x32.png' %>" sizes="32x32">
  <meta name="msapplication-TileColor" content="#00a300">
  <meta name="msapplication-TileImage" content="<%= asset_path 'favicon-144x144.png' %>">

  <% if user_signed_in? %>
  <%= intercom_script_tag({
    :app_id => ENV["INTERCOM_APP_ID"],
    :user_id => current_user.id,
    :email => current_user.email,
    :name => current_user.first_name,
    :custom_data => {
      recipes_count: user_recipe_count(current_user),
      shared_recipes_count: user_shared_recipe_count(current_user),
      referring_url: current_user.referring_url,
      landing_url: current_user.landing_url
    }
  }) %>
  <% end %>
</head>
<body class="bg-grey-6 m0">
  <%= yield %>
</body>
</html>
