<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title><%= @subject %></title>
  <%= stylesheet_link_tag 'email' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  <table class="entire-page">
    <tr>
      <td>
        <table class="email-body">
          <tr>
            <td class="email-header">
              <%= link_to 'NOODLES NEWS', root_url %>
            </td>
          </tr>
          <%= yield %>
          <tr>
            <td class="footer">
              You're receiving this email because you signed up for Noodles. You can <a href="<%= @unsub %>">instantly opt out</a> any time.
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
