<!DOCTYPE html>
<html>
<head>
  <title><%= "#{content_for(:title)} –" if content_for?(:title) %> Noodles</title>
  <meta property="fb:pages" content="698221030285633">
  <meta property="og:site_name" content="Noodles">
  <meta property="og:title" content="Noodles">
  <meta property="og:url" content="https://getnoodl.es">
  <meta property="og:image" content="<%= asset_path 'icon/icon.png' %>">
  <meta property="og:description" content="<%= t('general.description') %>">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@noodlesapp">
  <meta name="twitter:creator" content="@noodlesapp">
  <meta name="twitter:title" content="Noodles">
  <meta name="twitter:description" content="<%= t('general.description') %>">
  <meta name="twitter:image:src" content="<%= asset_path 'icon/icon.png' %>">
  <meta name="twitter:domain" content="getnoodl.es">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff6d00">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Noodles">
  <meta name="application-name" content="Noodles">
  <meta name="theme-color" content="#ff6d00">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body
  class="<%= body_classes %> man"
  style="<%= "background-image: url(#{content_for(:bg_img)});" if content_for?(:bg_img) %>">
  <%= yield %>
</body>
</html>
